
    <div class="templatediv" style="position:relative; background-image: url(/Monitoring/Templates/Db_01_WastedHeatPower/HeatExchangeStation/template.png); width: 1399px; height:841px; ">
        <input id="HFT03_R1" type="text" style="position:absolute;width:48px; top: 81px; left: 330px;" />
        <input id="HFT03_R" type="text" style="position:absolute;width:48px; top: 123px; left: 388px;" />
        <input id="HZK01_R" type="text" style="position:absolute;width:48px; top: 121px; left: 501px;" />
        <input id="HTZ04_R" type="text" style="position:absolute;width:48px; top: 148px; left: 589px;" />
        <input id="HPT03_R" type="text" style="position:absolute;width:48px; top: 84px; left: 704px;" />
        <input id="HTE03_R" type="text" style="position:absolute;width:48px; top: 119px; left: 704px;" />
        <input id="HPZ04_R" type="text" style="position:absolute;width:48px; top: 119px; left: 782px;" />
        <input id="HPT04_R" type="text" style="position:absolute;width:48px; top: 85px; left: 1019px;" />
        <input id="HTE04_R" type="text" style="position:absolute;width:48px; top: 118px; left: 1019px;" />

        <input id="HFT02_R1" type="text" style="position:absolute;width:48px; top: 196px; left: 738px;" />
        <input id="HFT02_R" type="text" style="position:absolute;width:48px; top: 247px; left: 698px;" />
        <input id="HTE02_R" type="text" style="position:absolute;width:48px; top: 239px; left: 799px;" />
        <input id="HPT02_R" type="text" style="position:absolute;width:48px; top: 262px; left: 799px;" />
        <input id="HFT01_R1" type="text" style="position:absolute;width:48px; top: 414px; left: 118px;" />
        <input id="HFT01_R" type="text" style="position:absolute;width:48px; top: 451px; left: 118px;" />
        <input id="HPT05_R" type="text" style="position:absolute;width:48px; top: 506px; left: 333px;" />
        <input id="H1M_I_R" type="text" style="position:absolute;width:48px; top: 507px; left: 506px;" />
        <input id="H2M_I_R" type="text" style="position:absolute;width:48px; top: 533px; left: 506px;" />
        <input id="H3M1_PV_R" type="text" style="position:absolute;width:48px; top: 628px; left: 506px;" />
        <input id="H4M1_PV_R" type="text" style="position:absolute;width:48px; top: 688px; left: 506px;" />
        <input id="H3M1_I_R" type="text" style="position:absolute;width:48px; top: 633px; left: 663px;" />
        <input id="H4M1_I_R" type="text" style="position:absolute;width:48px; top: 656px; left: 663px;" />

        <input id="HPT01_R" type="text" style="position:absolute;width:48px; top: 463px; left: 787px;" />
        <input id="HTE01_R" type="text" style="position:absolute;width:48px; top: 489px; left: 787px;" />
        <input id="F_4TPT10A_R" type="text" style="position:absolute;width:48px; top: 136px; left: 1162px;" />
        <input id="F_4TTE13_R" type="text" style="position:absolute;width:48px; top: 170px; left: 1162px;" />
        <input id="F_4TFT04_R" type="text" style="position:absolute;width:48px; top: 207px; left: 1275px;" />
        <input id="F_4TFT04_R1" type="text" style="position:absolute;width:48px; top: 184px; left: 1275px;" />


    </div>

