    <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_ND/CementStorehouse/template.png);width:1378px;height:900px;">

        <input id="AI1_620_4_1" type="text" style="position:absolute;width:48px; top: 161px; left: 523px;" />
        <input id="AI1_620_4_2" type="text" style="position:absolute;width:48px; top: 161px; left: 735px;" />

        <input id="AI1_620_1_1_1" type="text" style="position:absolute;width:48px; top: 263px; left: 485px;"/>
        <input id="AIB1_620_012" type="text" style="position:absolute;width:48px; top: 262px; left: 560px;" />
        <input id="AIB1_620_011" type="text" style="position:absolute;width:48px; top: 264px; left: 670px;" />
        <input id="AI1_620_1_2_1" type="text" style="position:absolute;width:48px; top: 263px; left: 761px;" />

        <input id="AI1_553_09_6" type="text" style="position:absolute;width:29px; top: 349px; left: 37px;" />
        <input id="AO1_553_09_6" type="text" style="position:absolute;width:29px; top: 371px; left: 37px;" />
        <input id="AIB1_553_244_201" type="text" style="position:absolute;width:29px; top: 349px; left: 92px;" />
        <input id="AOB1_553_244_201" type="text" style="position:absolute;width:29px; top: 371px; left: 92px;" />
        <input id="AI1_553_09_7" type="text" style="position:absolute;width:29px; top: 349px; left: 175px;"/>
        <input id="AO1_553_09_7" type="text" style="position:absolute;width:29px;top: 371px;left: 175px;" />
        <input id="AI1_553_09_5" type="text" style="position:absolute;width:29px; top: 349px; left: 250px;" />
        <input id="AO1_553_09_5" type="text" style="position:absolute;width:29px;top: 371px;left: 250px;" />
        <input id="AIB1_553_244_202" type="text" style="position:absolute;width:29px; top: 349px; left: 297px;" />
        <input id="AOB1_553_244_202" type="text" style="position:absolute;width:29px;top: 371px;left: 297px;"/>
        <input id="AI1_553_09_4" type="text" style="position:absolute;width:29px; top: 349px; left: 374px;" />
        <input id="AO1_553_09_4" type="text" style="position:absolute;width:29px;top: 371px; left: 374px;" />
        <input id="AIB1_553_244_203" type="text"  style="position:absolute;width:29px; top: 356px; left: 431px;" />
        <input id="AOB1_553_244_203" type="text" style="position:absolute;width:29px; top: 377px; left: 431px;" />

        <input id="AIB1_553_244_204" type="text" style="position:absolute;width:29px; top: 348px; left: 860px;" />
        <input id="AOB1_553_244_204" type="text" style="position:absolute;width:29px;top: 371px;left: 860px;" />
        <input id="AI1_553_09_3" type="text"  style="position:absolute;width:29px; top: 348px; left:923px" />
        <input id="AO1_553_09_3" type="text" style="position:absolute;width:29px;top: 371px; left:923px" />
        <input id="AI1_553_09_8" type="text" style="position:absolute;width:29px; top: 348px; left:1001px;" />
        <input id="AO1_553_09_8" type="text" style="position:absolute;width:29px;top: 371px;left:1001px" />
        <input id="AIB1_553_244_205" type="text"style="position:absolute;width:29px; top: 348px; left:1075px" />
        <input id="AOB1_553_244_205" type="text"style="position:absolute;width:29px;top: 371px;  left:1075px" />
        <input id="AI1_553_09_2" type="text" style="position:absolute;width:29px; top: 348px; left: 1131px;" />
        <input id="AO1_553_09_2" type="text" style="position:absolute;width:29px;top: 371px;left: 1131px;" />
        <input id="AIB1_553_244_206" type="text" style="position:absolute;width:29px; top: 348px; left: 1214px;"/>
        <input id="AOB1_553_244_206" type="text" style="position:absolute;width:29px;top: 371px; left: 1214px;" />
        <input id="AI1_553_09_1" type="text"  style="position:absolute;width:29px; top: 348px; left: 1264px;" />
        <input id="AO1_553_09_1" type="text" style="position:absolute;width:29px;top: 371px;left: 1264px;" />

    </div>

