     <div style="position:relative; background-image: url(/Monitoring/Templates/Db_01_YFC/CementGrind/template.png);width:1381px;height:908px; ">
         <!--模拟量开始-->
         <input id="F_230010T01_R" type="text" style="position:absolute;width:48px; top: 26px; left: 27px;" />
         <input id="F_230010T02_R" type="text" style="position:absolute;width:48px;top: 58px; left: 27px;" />
         <input id="F_23001TA01_R" type="text" style="position:absolute;width:48px;top: 97px; left: 27px;" />
         <input id="F_23009Z01_F_R" type="text" style="position:absolute;width:48px;top: 47px; left: 142px;" />
         <input id="F_23001TV01_R" type="text" style="position:absolute;width:48px;top: 138px; left: 27px;" />
         <input id="F_23001TV02_R" type="text" style="position:absolute;width:48px; top: 156px; left: 27px;" />
         <input id="F_23001T03_R" type="text" style="position:absolute;width:46px; top: 118px; left: 138px;" />
         <input id="F_23001P01_R" type="text" style="position:absolute;width:46px; top: 146px; left: 138px;" />
         <input id="F_23008Z01_F_R" type="text" style="position:absolute;width:38px; top: 129px; left: 211px;" />
         <input id="F_23002T01_R" type="text" style="position:absolute;width:38px;top: 129px; left: 267px;" />
         <input id="F_23002P01_R" type="text" style="position:absolute;width:48px; top: 163px; left: 245px;" />

         <input id="F_23012Z01_R" type="text" style="position:absolute;width:48px; top: 48px; left: 328px;" />
         <input id="F_23015Z01_F_R" type="text" style="position:absolute;width:48px; top: 48px; left: 485px;" />
         <input id="F_23004T01_R" type="text" style="position:absolute;width:48px; top: 48px; left: 612px;" />
         <input id="F_23004P01_R" type="text" style="position:absolute;width:48px; top: 75px; left: 612px;" />
         <input id="F_23004T02_R" type="text" style="position:absolute;width:48px; top: 38px; left: 833px;" />
         <input id="F_23004P02_R" type="text" style="position:absolute;width:48px; top: 66px; left: 833px;" />
         <input id="F_23011Z01_R" type="text" style="position:absolute;width:48px; top: 135px; left: 429px;"/>
         <input id="F_23013Z01_R" type="text" style="position:absolute;width:48px; top: 158px; left: 537px;" />

         <input id="F_23001Z01_F_R" type="text" style="position:absolute;width:33px; top: 207px; left: 2px;" />
         <input id="GWBP_S_F_R" type="text" style="position:absolute;width:48px; top: 233px; left: 11px;" />
         <input id="GWBP_I_R" type="text" style="position:absolute;width:48px; top: 256px; left: 11px;" />
         <input id="F_230SP01_R" type="text" style="position:absolute;width:48px; top: 339px; left: 17px;" />
         <input id="IN4" type="text" style="position:absolute;width:48px; top: 287px; left: 138px;" />
         <input id="IN7" type="text" style="position:absolute;width:48px; top: 315px; left: 138px;" />
         <input id="F_23002T03_R" type="text" style="position:absolute;width:48px; top: 378px; left: 154px;" />
         <input id="F_23002T02_R" type="text" style="position:absolute;width:48px; top: 191px; left: 349px;"/>
         <input id="F_23002P02_R" type="text" style="position:absolute;width:48px; top: 219px; left: 349px;" />
         <input id="I_21100P" type="text" style="position:absolute;width:40px; top: 254px; left: 424px;" />
         <input id="A624ITAI" type="text" style="position:absolute;width:48px; top: 311px; left: 385px;" />
         <input id="AYR_PAI" type="text" style="position:absolute;width:48px; top: 363px; left: 375px;" />
         <input id="F_23006M_I_R" type="text" style="position:absolute;width:48px; top: 388px; left: 438px;" />
         <input id="F_230SL01_R" type="text" style="position:absolute;width:48px; top: 494px; left: 47px;" />
         <input id="I_A0001IT" type="text" style="position:absolute;width:48px; top: 588px; left: 123px;" />
         <input id="I_A0002IT" type="text" style="position:absolute;width:48px; top: 614px; left: 123px;" />
         <input id="I_A0003IT" type="text" style="position:absolute;width:48px; bottom: 251px; left: 123px;" />
         <input id="F_22001M_I_R" type="text" style="position:absolute;width:48px; top: 680px; left: 144px;" />

         <input id="F_23014Z01_R" type="text" style="position:absolute;width:48px; top: 356px; left: 795px;" />
         <input id="F_21111AR_I_R" type="text" style="position:absolute;width:48px; top: 408px; left: 559px;" />
         <input id="F_21111Z01_R" type="text" style="position:absolute;width:48px; top: 387px; left: 662px;"/>
         <input id="F_21110T01_R" type="text" style="position:absolute;width:48px; top: 384px; left: 755px;" />
         <input id="F_21110P01_R" type="text" style="position:absolute;width:48px; top: 406px; left: 755px;" />
         <input id="F_21111MT021_R" type="text" style="position:absolute;width:48px;top: 492px; left: 615px; " />
         <input id="F_21111MT022_R" type="text" style="position:absolute;width:48px; top: 510px; left: 615px;" />
         <input id="F_21111MT023_R" type="text" style="position:absolute;width:48px; top: 530px; left: 615px;" />
         <input id="F_21111M_V1_R" type="text" style="position:absolute;width:48px; top: 561px; left: 615px;" />
         <input id="F_21111M_V2_R" type="text" style="position:absolute;width:48px; top: 584px; left: 615px;" />
         <input id="F_21111T011_R" type="text" style="position:absolute;width:48px; top: 491px; left: 690px;" />
         <input id="F_21111T012_R" type="text" style="position:absolute;width:48px; top: 510px;left: 690px;" />
         <input id="F_21111MT011_R" type="text" style="position:absolute;width:48px;top: 545px; left: 691px;" />
         <input id="F_21111MT012_R" type="text" style="position:absolute;width:48px;top: 565px; left: 691px;" />

         <input id="F_21107AR_L1_R" type="text" style="position:absolute;width:38px; top: 853px; left: 488px;" />
         <input id="F_21107AR_P1_R" type="text" style="position:absolute;width:38px  ;top: 883px; left: 488px;" />
         <input id="F_21107AR_L2_R" type="text" style="position:absolute;width:38px ; top: 853px; left: 562px;" />
         <input id="F_21107AR_P2_R" type="text" style="position:absolute;width:38px  ;top: 883px; left: 562px;" />

         <input id="F_211072D_I_R" type="text" style="position:absolute;width:38px; top: 738px; left: 731px;" />
         <input id="F_211072D_T4_R" type="text" style="position:absolute;width:38px ; top: 762px; left: 731px;"/>
         <input id="F_211072D_T5_R" type="text" style="position:absolute;width:38px ; top: 784px; left: 731px;" />
         <input id="F_211072D_T6_R" type="text" style="position:absolute;width:38px ; top: 816px; left: 731px;" />
         <input id="F_211071D_I_R" type="text" style="position:absolute;width:38px ; top: 738px; left: 791px;" />
         <input id="F_211071D_T4_R" type="text" style="position:absolute;width:38px ; top: 762px; left: 791px;" />
         <input id="F_211071D_T5_R" type="text" style="position:absolute;width:38px ; top: 784px; left: 791px;" />
         <input id="F_211071D_T6_R" type="text" style="position:absolute;width:38px  ; top: 816px; left: 791px;" />
         <input id="F_211072D_T1_R" type="text" style="position:absolute;width:38px ; top: 762px; left: 851px;" />
         <input id="F_211072D_T2_R" type="text" style="position:absolute;width:38px  ; top: 784px; left: 851px;" />
         <input id="F_211071D_T1_R" type="text" style="position:absolute;width:38px ; top: 762px; left: 913px;" />
         <input id="F_211071D_T2_R" type="text" style="position:absolute;width:38px  ;top: 784px; left: 913px;" />
         <input id="F_211072D_T3_R" type="text" style="position:absolute;width:38px ; top: 846px; left: 851px;" />
         <input id="F_211072D_T7_R" type="text" style="position:absolute;width:38px; top: 879px; left: 851px;" />
         <input id="F_211071D_T3_R" type="text" style="position:absolute;width:38px ; top: 846px; left: 913px;" />
         <input id="F_211071D_T7_R" type="text" style="position:absolute;width:38px  ;top: 879px; left: 913px;" />

         <input id="F_23007Z01_F_R" type="text" style="position:absolute;width:48px; top: 130px; left: 871px;" />
         <input id="F_23007AR_I_R" type="text" style="position:absolute;width:48px; top: 151px; left: 894px;" />
         <input id="F_23007TA01_R" type="text" style="position:absolute;width:48px; top: 196px; left: 918px; " />
         <input id="F_23007TB01_R" type="text" style="position:absolute;width:48px;top: 214px; left: 918px;" />
         <input id="F_23007TC01_R" type="text" style="position:absolute;width:48px; top: 231px; left: 918px;" />
         <input id="F_23007V01_R" type="text" style="position:absolute;width:48px; top: 274px; left: 918px;" />
         <input id="F_23007V02_R" type="text" style="position:absolute;width:48px; top: 294px; left: 918px;" />
         <input id="F_23007TF01_R" type="text" style="position:absolute;width:48px; top: 196px; left: 998px;" />
         <input id="F_23007TF02_R" type="text" style="position:absolute;width:48px; top: 214px; left: 998px;" />
         <input id="F_23007TD01_R" type="text" style="position:absolute;width:48px; top: 254px; left: 1000px;" />
         <input id="F_23007TD02_R" type="text" style="position:absolute;width:48px; top: 271px; left: 1000px;" />
         <input id="F_21103M_I_R" type="text" style="position:absolute;width:48px;top: 470px; left: 963px;" />
         <input id="F_21104_W_R" type="text" style="position:absolute;width:48px;top: 524px; left: 883px;" />
         <input id="F_21108M_I_R" type="text" style="position:absolute;width:48px;top: 592px; left: 1058px;" />
         <input id="F_211072D_F_R" type="text" style="position:absolute;width:48px; top: 625px; left: 901px;" />
         <input id="F_211071D_F_R" type="text" style="position:absolute;width:48px;top: 625px; left: 970px;" />
         <input id="F_21107AR_P_OUT" type="text" style="position:absolute;width:48px;top: 705px; left: 964px;" />

         <input id="F_21100T01_R" type="text" style="position:absolute;width:48px; top: 11px; left: 1080px;" />
         <input id="F_21100P01_R" type="text" style="position:absolute;width:48px;top: 11px; left: 1158px;" />
         <input id="I_23007_SO2" type="text" style="position:absolute;width:48px; top: 71px; left: 1158px;" />
         <input id="I_23007_NO" type="text" style="position:absolute;width:48px; top: 91px; left: 1158px;" />
         <input id="I_23007_O2" type="text" style="position:absolute;width:48px; top: 111px; left: 1158px;" />
         <input id="I_23007_KLW" type="text" style="position:absolute;width:48px; top: 130px; left: 1172px;"  />
         <input id="I_23007_T" type="text" style="position:absolute;width:48px; top: 73px; left: 1284px;" />
         <input id="I_23007_P" type="text" style="position:absolute;width:48px;top: 91px; left: 1284px;" />
         <input id="I_23007_S" type="text" style="position:absolute;width:48px; top: 112px; left: 1284px;" />
         <input id="WLL_OUT" type="text" style="position:absolute;width:48px; top: 158px; left: 1179px;" />
         <input id="F_210KG11_F_R" type="text" style="position:absolute;width:48px;top: 182px; left: 1179px;" />
         <input id="F_210KG12_F_R" type="text" style="position:absolute;width:48px; top: 208px; left: 1179px;" />
         <input id="F_210KG13_F_R" type="text" style="position:absolute;width:48px; top: 232px; left: 1179px;" />
         <input id="F_210KG14_F_R" type="text" style="position:absolute;width:48px;top: 259px; left: 1179px;" />
         <input id="F_210KG11_BT1_ZONG" type="text" style="position:absolute;width:48px;top: 158px; left: 1304px;" />
         <input id="F_210KG21_F_R" type="text" style="position:absolute;width:48px;top: 182px; left: 1304px;" />
         <input id="F_210KG22_F_R" type="text" style="position:absolute;width:48px;top: 208px; left: 1304px" />
         <input id="F_210KG23_F_R" type="text" style="position:absolute;width:48px;top: 232px; left: 1304px;" />
         <input id="F_210KG3_F_R" type="text" style="position:absolute;width:48px;top: 259px; left: 1304px;" />
         <input id="F_21109M_S_R" type="text" style="position:absolute;width:48px;top: 400px; left: 1229px;" />
         <input id="F_21109M_I_R" type="text" style="position:absolute;width:48px; top: 421px; left: 1229px;" />
         <input id="F_21102T01_R" type="text" style="position:absolute;width:48px;top: 452px; left: 1282px;" />
         <input id="F_21102P01_R" type="text" style="position:absolute;width:48px; top: 483px; left: 1282px;" />
         <input id="F_21109M_T1_R" type="text" style="position:absolute;width:48px; top: 700px; left: 1141px;" />
         <input id="F_21109M_T2_R" type="text" style="position:absolute;width:48px;top: 720px; left: 1141px;" />
         <input id="F_21109M_T3_R" type="text" style="position:absolute;width:48px;top: 742px; left: 1141px;" />
         <input id="F_23010Z01_R" type="text" style="position:absolute;width:48px; top: 764px; left: 1301px;" />
         <!--模拟量结束-->
         <!--开关量开始-->
         <div class="ValueRRE_CIRCLE" RD="F_23001YZ_RD" RN="F_23001YZ_RN" ERR="F_23001YZ_ERR" style ="position:absolute;width:15px;height:16px; top: 30px; left: 131px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_23001YZ_RD" type="text" style="display: none;"/>
	        <input id="F_23001YZ_RN" type="text" style="display: none;"/>
	        <input id="F_23001YZ_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="QQYX" RN="YXZT" ERR="FT1" style ="position:absolute;width:30px; height:30px; top: 183px; left: 56px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="QQYX" type="text" style="display: none;"/>
	        <input id="YXZT" type="text" style="display: none;"/>
	        <input id="FT1" type="text" style="display: none;"/>
         <div class="ValueRA_CIRCLE" RN="ZSTXTYX" ALR="ZSTXTBJ" style ="position:absolute;width:18px;height:18px; top: 242px; left: 203px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="ZSTXTYX" type="text" style="display: none;"/>
	        <input id="ZSTXTBJ" type="text" style="display: none;"/>

         <div class="ValueRRE_CIRCLE" RD="F_230021M_RD" RN="F_230021M_RN" ERR="F_230021M_ERR" style ="position:absolute;width:15px; height:15px; top: 348px; left: 253px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_230021M_RD" type="text" style="display: none;"/>
	        <input id="F_230021M_RN" type="text" style="display: none;"/>
	        <input id="F_230021M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_230022M_RD" RN="F_230022M_RN" ERR="F_230022M_ERR" style ="position:absolute;width:15px; height:15px; top: 348px; left: 283px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_230022M_RD" type="text" style="display: none;"/>
	        <input id="F_230022M_RN" type="text" style="display: none;"/>
	        <input id="F_230022M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_230023M_RD" RN="F_230023M_RN" ERR="F_230023M_ERR" style ="position:absolute;width:15px; height:15px; top: 397px; left: 246px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_230023M_RD" type="text" style="display: none;"/>
	        <input id="F_230023M_RN" type="text" style="display: none;"/>
	        <input id="F_230023M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_230024M_RD" RN="F_230024M_RN" ERR="F_230024M_ERR" style ="position:absolute;width:15px; height:15px; top: 397px; left: 273px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_230024M_RD" type="text" style="display: none;"/>
	        <input id="F_230024M_RN" type="text" style="display: none;"/>
	        <input id="F_230024M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_230025M_RD" RN="F_230025M_RN" ERR="F_230025M_ERR" style ="position:absolute;width:15px; height:15px; top: 397px; left: 297px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_230025M_RD" type="text" style="display: none;"/>
	        <input id="F_230025M_RN" type="text" style="display: none;"/>
	        <input id="F_230025M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_23002B2M_RD" RN="F_23002B2M_RN" ERR="F_23002B2M_ERR" style ="position:absolute;width:20px; height:20px; top: 463px; left: 248px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_23002B2M_RD" type="text" style="display: none;"/>
	        <input id="F_23002B2M_RN" type="text" style="display: none;"/>
	        <input id="F_23002B2M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_23002B1M_RD" RN="F_23002B1M_RN" ERR="F_23002B1M_ERR" style ="position:absolute;width:20px; height:20px; top: 463px; left: 309px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_23002B1M_RD" type="text" style="display: none;"/>
	        <input id="F_23002B1M_RN" type="text" style="display: none;"/>
	        <input id="F_23002B1M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21117M_RD" RN="F_21117M_RN" ERR="F_21117M_ERR" style ="position:absolute;width:25px; height:25px; top: 587px; left: 433px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21117M_RD" type="text" style="display: none;"/>
	        <input id="F_21117M_RN" type="text" style="display: none;"/>
	        <input id="F_21117M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21118AR_RD" RN="F_21118AR_RN" ERR="F_21118AR_ERR" style ="position:absolute;width:20px; height:20px; top: 667px; left: 255px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21118AR_RD" type="text" style="display: none;"/>
	        <input id="F_21118AR_RN" type="text" style="display: none;"/>
	        <input id="F_21118AR_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21116AR_RD" RN="F_21116AR_RN" ERR="F_21116AR_ERR" style ="position:absolute;width:20px; height:20px; top: 667px; left: 422px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21116AR_RD" type="text" style="display: none;"/>
	        <input id="F_21116AR_RN" type="text" style="display: none;"/>
	        <input id="F_21116AR_ERR" type="text" style="display: none;"/>
         <div class="ValueRAA" RD="D21120R" A="D21120A" ALM="D21120_ALM" style ="position:absolute;width:20px; height:20px; top: 746px; left: 41px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D21120R" type="text" style="display: none;"/>
	        <input id="D21120A" type="text" style="display: none;"/>
	        <input id="D21120_ALM" type="text" style="display: none;"/>
         <div class="ValueRAA" RD="D21121R" A="D21121A" ALM="D21121_ALM" style ="position:absolute;width:20px; height:20px; top: 667px; left: 422px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D21121R" type="text" style="display: none;"/>
	        <input id="D21121A" type="text" style="display: none;"/>
	        <input id="D21121_ALM" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="XZFJ1_RD" RN="XZFJ1_RN" ERR="XZFJ1_ERR" style ="position:absolute;width:20px; height:20px; top: 790px; left: 422px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="XZFJ1_RD" type="text" style="display: none;"/>
	        <input id="XZFJ1_RN" type="text" style="display: none;"/>
	        <input id="XZFJ1_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="XZFJ2_RD" RN="XZFJ2_RN" ERR="XZFJ2_ERR" style ="position:absolute;width:20px; height:20px; top: 783px; left: 471px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="XZFJ2_RD" type="text" style="display: none;"/>
	        <input id="XZFJ2_RN" type="text" style="display: none;"/>
	        <input id="XZFJ2_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21115M_RD" RN="F_21115M_RN" ERR="F_21115M_ERR" style ="position:absolute;width:20px; height:20px; top: 773px; left: 585px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21115M_RD" type="text" style="display: none;"/>
	        <input id="F_21115M_RN" type="text" style="display: none;"/>
	        <input id="F_21115M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21114BM_RD" RN="F_21114BM_RN" ERR="F_21114BM_ERR" style ="position:absolute;width:22px; height:22px; top: 671px; left: 612px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21114BM_RD" type="text" style="display: none;"/>
	        <input id="F_21114BM_RN" type="text" style="display: none;"/>
	        <input id="F_21114BM_ERR" type="text" style="display: none;"/>
         
         <div class="ValueRRE_CIRCLE" RD="F_23004AR_RD" RN="F_23004AR_RN" ERR="F_23004AR_ERR" style ="position:absolute;width:30px; height:30px; top: 97px; left: 779px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_23004AR_RD" type="text" style="display: none;"/>
	        <input id="F_23004AR_RN" type="text" style="display: none;"/>
	        <input id="F_23004AR_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_23004A1M_RD" RN="F_23004A1M_RN" ERR="F_23004A1M_ERR" style ="position:absolute;width:25px; height:25px; top: 205px; left: 670px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_23004A1M_RD" type="text" style="display: none;"/>
	        <input id="F_23004A1M_RN" type="text" style="display: none;"/>
	        <input id="F_23004A1M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_23004A2M_RD" RN="F_23004A2M_RN" ERR="F_23004A2M_ERR" style ="position:absolute;width:27px; height:26px; top: 259px; left: 740px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_23004A2M_RD" type="text" style="display: none;"/>
	        <input id="F_23004A2M_RN" type="text" style="display: none;"/>
	        <input id="F_23004A2M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_23005M_RD" RN="F_23005M_RN" ERR="F_23005M_ERR" style ="position:absolute;width:24px; height:24px; top: 351px; left: 700px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_23005M_RD" type="text" style="display: none;"/>
	        <input id="F_23005M_RN" type="text" style="display: none;"/>
	        <input id="F_23005M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21111AR_RD" RN="F_21111AR_RN" ERR="F_21111AR_ERR" style ="position:absolute;width:26px; height:25px; top: 420px; left: 641px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21111AR_RD" type="text" style="display: none;"/>
	        <input id="F_21111AR_RN" type="text" style="display: none;"/>
	        <input id="F_21111AR_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_23007AR_RD" RN="F_23007AR_RN" ERR="F_23007AR_ERR" style ="position:absolute;width:24px; height:24px; top: 150px; left: 974px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_23007AR_RD" type="text" style="display: none;"/>
	        <input id="F_23007AR_RN" type="text" style="display: none;"/>
	        <input id="F_23007AR_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21114AM_RD" RN="F_21114AM_RN" ERR="F_21114AM_ERR" style ="position:absolute;width:26px; height:26px; top: 624px; left: 870px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21114AM_RD" type="text" style="display: none;"/>
	        <input id="F_21114AM_RN" type="text" style="display: none;"/>
	        <input id="F_21114AM_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_211072D_RD" RN="F_211072D_RN" ERR="F_211072D_ERR" style ="position:absolute;width:24px; height:24px; top: 672px; left: 953px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_211072D_RD" type="text" style="display: none;"/>
	        <input id="F_211072D_RN" type="text" style="display: none;"/>
	        <input id="F_211072D_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_211071D_RD" RN="F_211071D_RN" ERR="F_211071D_ERR" style ="position:absolute;width:24px; height:24px; top: 672px; left: 984px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_211071D_RD" type="text" style="display: none;"/>
	        <input id="F_211071D_RN" type="text" style="display: none;"/>
	        <input id="F_211071D_ERR" type="text" style="display: none;"/>

         <div class="ValueRRE_CIRCLE" RD="F_21107YZ_RD" RN="F_21107YZ_RN" ERR="F_21107YZ_ERR" style ="position:absolute;width:24px; height:24px; top: 316px; left: 1181px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21107YZ_RD" type="text" style="display: none;"/>
	        <input id="F_21107YZ_RN" type="text" style="display: none;"/>
	        <input id="F_21107YZ_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21107AR_RD" RN="F_21107AR_RN" ERR="F_21107AR_ERR" style ="position:absolute;width:24px; height:24px; top: 316px; left: 1322px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21107AR_RD" type="text" style="display: none;"/>
	        <input id="F_21107AR_RN" type="text" style="display: none;"/>
	        <input id="F_21107AR_ERR" type="text" style="display: none;"/>
         <div class="ValueA_2" A2="F_21107AR_QR" style ="position:absolute;width:24px; height:24px; top: 344px; left: 1322px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21107AR_QR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21109M_RD" RN="F_21109M_RN" ERR="F_21109M_ERR" style ="position:absolute;width:24px; height:24px; top: 422px; left: 1191px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21109M_RD" type="text" style="display: none;"/>
	        <input id="F_21109M_RN" type="text" style="display: none;"/>
	        <input id="F_21109M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21031M_RD" RN="F_21031M_RN" ERR="F_21031M_ERR" style ="position:absolute;width:24px; height:24px; top: 535px; left: 1278px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21031M_RD" type="text" style="display: none;"/>
	        <input id="F_21031M_RN" type="text" style="display: none;"/>
	        <input id="F_21031M_ERR" type="text" style="display: none;"/>
         <div class="ValueRRE_CIRCLE" RD="F_21107YZ_RD" RN="F_21107YZ_RN" ERR="F_21107YZ_ERR" style ="position:absolute;width:24px; height:24px; top: 667px; left: 422px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="F_21107YZ_RD" type="text" style="display: none;"/>
	        <input id="F_21107YZ_RN" type="text" style="display: none;"/>
	        <input id="F_21107YZ_ERR" type="text" style="display: none;"/>

         <!--开关量结束-->
  

     </div>

