    <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_ND/CementGrindProcess_6/template.png); width: 1360px; height: 892px;">

        <input id="AI1_511_12_1" type="text" style="position:absolute;width:48px; top: 54px; left: 167px;" />
        <input id="AI1_620_1_1_1" type="text" style="position:absolute;width:48px; top: 65px; left: 437px;" />
        <input id="AI1_620_4_1" type="text" style="position:absolute;width:48px; top: 48px; left: 518px;" />
        <input id="AI1_620_4_2" type="text" style="position:absolute;width:48px; top: 49px; left: 669px;" />
        <input id="AI1_620_1_2_1" type="text" style="position:absolute;width:48px; top: 63px; left: 586px;" />

        <input id="AI1_551_48" type="text" style="position:absolute;width:48px; top: 122px; left: 345px;" />
        <input id="AI1_551_04" type="text" style="position:absolute;width:48px; top: 141px; left: 495px;" />
        <input id="AI3_551_05" type="text" style="position:absolute;width:48px; top: 108px; left: 572px;" />
        <input id="AI4_551_05" type="text" style="position:absolute;width:48px; top: 129px; left: 572px;" />
        <input id="AI2_551_05" type="text" style="position:absolute;width:48px; top: 152px; left: 572px;" />
        <input id="AO1_551_05" type="text" style="position:absolute;width:48px; top: 176px; left: 592px;" />
        <input id="AI5_551_05" type="text" style="position:absolute;width:48px; top: 195px; left: 592px;" />
        <input id="CT1_551_48_1" type="text" style="position:absolute;width:48px; top: 103px; left: 819px;" />
        <input id="CT1_551_48_2" type="text" style="position:absolute;width:48px; top: 135px; left: 819px;"/>
        <input id="AI1_551_16" type="text" style="position:absolute;width:35px; top: 124px; left: 917px;" />

        <input id="AI551_26IT" type="text" style="position:absolute;width:48px; top: 76px; left: 1116px;"/>
        <input id="AI551_26HZ" type="text" style="position:absolute;width:48px; top: 101px; left: 1116px;" />
        <input id="AO1_551_27" type="text" style="position:absolute;width:48px; top: 150px; left: 1133px;" />
        <input id="AI1_551_27" type="text" style="position:absolute;width:48px; top: 175px; left: 1133px;" />
        <input id="55124P02" type="text" style="position:absolute;width:48px; top: 202px; left: 1125px;" />
        <input id="55124T01" type="text" style="position:absolute;width:48px; top: 180px; left: 952px;" />
        <input id="55106P01" type="text" style="position:absolute;width:48px; top: 205px; left: 952px;"/>
        <input id="AI1_551_26" type="text" style="position:absolute;width:48px; top: 162px; left: 1268px;"/>
        <input id="AI1_551_26MT02" type="text" style="position:absolute;width:48px; top: 223px; left: 1249px;" />
        <input id="AI1_551_26MT01" type="text" style="position:absolute;width:48px; top: 247px; left: 1249px;" />
        <input id="AI1_551_26T01" type="text" style="position:absolute;width:48px; top: 271px; left: 1249px;" />

        <input id="F_55124P01" type="text" style="position:absolute;width:48px; top: 186px; left: 438px;"/>
        <input id="F_55106P02" type="text" style="position:absolute;width:48px; top: 207px; left: 436px;"/>
        <input id="AI1_551_07_2" type="text" style="position:absolute;width:48px; top: 228px; left: 467px;" />
        <input id="AI3_551_19" type="text" style="position:absolute;width:48px; top: 310px; left: 694px;" />
        <input id="AO1_551_19" type="text" style="position:absolute;width:48px; top: 339px; left: 694px;"/>
        <input id="AI1_551_19" type="text" style="position:absolute;width:48px; top: 366px; left: 738px;" />
        <input id="AO1_551_20" type="text" style="position:absolute;width:48px; top: 380px; left: 863px;" />
        <input id="AI1_551_20" type="text" style="position:absolute;width:48px; top: 405px; left: 863px;" />
        <input id="AI1_551_07" type="text" style="position:absolute;width:48px; top: 332px; left: 461px;" />
        <input id="AI13_551_03" type="text" style="position:absolute;width:48px; top: 381px; left: 388px;" />
        <input id="AI1_551_38" type="text" style="position:absolute;width:48px; top: 385px; left: 549px;" />
        <input id="AI1_553_01" type="text" style="position:absolute;width:48px; top: 450px; left: 1263px;"/>

        <input id="AI1_550_12" type="text" style="position:absolute;width:41px; top: 444px; left: 77px;" />
        <input id="AI1_550_14_1" type="text" style="position:absolute;width:41px; top: 444px; left: 131px;" />
        <input id="AI1_550_14_2" type="text" style="position:absolute;width:37px; top: 444px; left: 184px;" />
        <input id="AI1_550_13" type="text" style="position:absolute;width:41px; top: 444px; left: 232px;" />
        <input id="AI1_551_37" type="text" style="position:absolute;width:41px; top: 444px; left: 285px;" />
        <input id="AI1_550_13_11" type="text" style="position:absolute;width:41px; top: 444px; left: 340px;"/>

        <input id="AO1_550_12" type="text" style="position:absolute;width:41px; top: 471px; left: 77px;" />
        <input id="AO1_550_14_1" type="text" style="position:absolute;width:41px;top: 471px;left: 131px;" />
        <input id="AO1_550_14_2" type="text" style="position:absolute;width:37px;top: 471px;left: 184px;" />
        <input id="AO1_550_13" type="text" style="position:absolute;width:41px;top: 471px;left: 232px;" />
        <input id="AO1_551_37" type="text" style="position:absolute;width:41px; top: 471px; left: 285px;" />
        <input id="AO1_550_13_1" type="text" style="position:absolute;width:41px; top: 471px; left: 340px;"/>

        <input id="F_550_12_SCAL_REAL" type="text" style="position:absolute;width:41px; top: 497px; left: 77px;" />
        <input id="F_550_14_1_SCAL_R" type="text" style="position:absolute;width:41px;top: 497px;left: 131px;" />
        <input id="F_550_14_2_SCAL_R" type="text" style="position:absolute;width:37px;top: 497px;left: 184px;" />
        <input id="F_550_13_SCAL_REAL" type="text" style="position:absolute;width:41px;top: 497px;left: 232px;" />
        <input id="F_551_37_SCAL_REAL" type="text" style="position:absolute;width:41px; top: 497px; left: 285px;" />
        <input id="F_550_13_1SC_REAL" type="text" style="position:absolute;width:41px; top: 497px; left: 340px;"/>

        <input id="F_550_12_SCAL" type="text" style="position:absolute;width:41px; top: 522px; left: 77px;" />
        <input id="F_550_14_1_SCAL" type="text" style="position:absolute;width:41px;top: 522px;left: 131px;" />
        <input id="F_550_14_2_SCAL" type="text" style="position:absolute;width:37px;top: 522px;left: 184px;" />
        <input id="F_550_13_SCAL" type="text" style="position:absolute;width:41px;top: 522px;left: 232px;" />
        <input id="F_551_37_SCAL" type="text" style="position:absolute;width:41px; top: 522px; left: 285px;" />
        <input id="F_550_13_1_SCAL" type="text" style="position:absolute;width:41px; top: 522px; left: 340px;"/>

        <input id="CT_550_12" type="text" style="position:absolute;width:41px; top: 547px; left: 77px;"/>
        <input id="CT_550_14_1" type="text" style="position:absolute;width:41px;top: 547px;left: 131px;" />
        <input id="CT_550_14_2" type="text" style="position:absolute;width:37px;top: 547px;left: 184px;" />
        <input id="CT_550_13" type="text" style="position:absolute;width:41px;top: 547px;left: 232px;" />
        <input id="CT_551_37" type="text" style="position:absolute;width:41px; top: 547px; left: 285px;" />
        <input id="CT_550_13_1" type="text" style="position:absolute;width:41px; top: 547px; left: 340px;"/>

        <input id="CT_550_121" type="text" style="position:absolute;width:41px; top: 570px; left: 77px;" />
        <input id="CT_550_14_11" type="text" style="position:absolute;width:41px;top: 570px;left: 131px;" />
        <input id="CT_550_14_21" type="text" style="position:absolute;width:37px;top: 570px;left: 184px;" />
        <input id="CT_550_131" type="text" style="position:absolute;width:41px;top: 570px;left: 232px;" />
        <input id="CT_551_371" type="text" style="position:absolute;width:41px; top: 570px; left: 285px;" />
        <input id="CT_550_13_11" type="text" style="position:absolute;width:41px; top: 570px; left: 340px;"/>

        <input id="CT_551_SUM" type="text" style="position:absolute;width:48px; top: 597px; left: 133px;" />
        <input id="CT_551_SUM1" type="text" style="position:absolute;width:48px; top: 597px; left: 322px;"/>
        <input id="MILL_SUM_REAL" type="text" style="position:absolute;width:41px; top: 626px; left: 99px;" />
        <input id="MILL_SUM" type="text" style="position:absolute;width:35px; top: 626px; left: 307px;"/>

        <input id="AI11_551_03" type="text" style="position:absolute;width:48px; top: 572px; left: 396px;"/>
        <input id="AI12_551_03" type="text" style="position:absolute;width:38px; top: 572px; left: 467px;"/>

        <input id="AI1_551_03" type="text" style="position:absolute;width:41px; top: 664px; left: 13px;" />
        <input id="AI3_551_03" type="text" style="position:absolute;width:41px; top: 664px; left: 83px;" />
        <input id="AI6_551_03" type="text" style="position:absolute;width:41px; top: 664px; left: 154px;" />

        <input id="AI2_551_03" type="text" style="position:absolute;width:41px; top: 689px; left: 13px;" />
        <input id="AI4_551_03" type="text" style="position:absolute;width:41px; top: 689px; left: 83px;" />
        <input id="AI15_551_03" type="text" style="position:absolute;width:41px; top: 689px; left: 154px;" />

        <input id="AI16_551_03" type="text" style="position:absolute;width:41px; top: 712px; left: 13px;" />
        <input id="AI18_551_03" type="text" style="position:absolute;width:41px; top: 712px; left: 83px;" />
        <input id="AI20_551_03" type="text" style="position:absolute;width:41px; top: 712px; left: 154px;" />

        <input id="AI17_551_03" type="text" style="position:absolute;width:41px; top: 737px; left: 13px;" />
        <input id="AI19_551_03" type="text" style="position:absolute;width:41px; top: 737px; left: 83px;" />
        <input id="AI21_551_03" type="text" style="position:absolute;width:41px; top: 737px; left: 154px;" />

        <input id="AI7_551_03" type="text" style="position:absolute;width:41px; top: 763px; left: 13px;" />
        <input id="AI8_551_03" type="text" style="position:absolute;width:41px;top: 763px; left: 106px" />

        <input id="AI9_551_03" type="text" style="position:absolute;width:41px; top: 789px; left: 13px;" />
        <input id="AI10_551_03" type="text" style="position:absolute;width:41px;top: 789px; left: 106px" />

        <input id="AI_850_L03" type="text" style="position:absolute;width:41px; top: 694px; left: 229px;" />
        <input id="AI_850_L02" type="text" style="position:absolute;width:41px; top: 694px; left: 297px;" />
        <input id="AI_850_L01" type="text" style="position:absolute;width:41px; top: 694px; left: 362px;"/>

        <input id="F_55112T01" type="text" style="position:absolute;width:48px; top: 550px; left: 866px;" />
        <input id="F_55112T02" type="text" style="position:absolute;width:48px; top: 571px; left: 866px;"/>
        <input id="F_55112P01" type="text" style="position:absolute;width:48px; top: 594px; left: 853px;" />
        <input id="AI1_551_12" type="text" style="position:absolute;width:48px; top: 582px; left: 691px;" />
        <input id="F_55112T03" type="text" style="position:absolute;width:48px; top: 682px; left: 627px;" />
        <input id="F_55112T04" type="text" style="position:absolute;width:48px;top: 682px; left: 705px;"/>

        <input id="F_55112MT01" type="text" style="position:absolute;width:48px; top: 707px; left: 627px;" />
        <input id="F_55112MT02" type="text" style="position:absolute;width:48px;top: 707px; left: 705px;"/>

        <input id="F_55112PT01" type="text" style="position:absolute;width:48px; top: 735px; left: 627px;" />
        <input id="F_55112PT02" type="text" style="position:absolute;width:48px;top: 735px; left: 705px;"/>
        <input id="F_55112PT03" type="text" style="position:absolute;width:38px; top: 735px; left: 783px;" />

    </div>

