
     <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_YFC/mfzb/template.png);width:1486px;height:901px; ">
         <!--模拟量开始-->
         <input id="I_6902IT" type="text" style="position:absolute;width:48px; top: 94px; left: 421px;" />
         <input id="I_7006IT" type="text" style="position:absolute;width:48px; top: 258px; left: 522px;" />
         <input id="I_7601IT" type="text" style="position:absolute;width:48px; top: 314px; left: 69px;" />
         <input id="I_A7301W1I" type="text" style="position:absolute;width:48px; top: 611px; left: 477px;" />
         <input id="I_7303T1" type="text" style="position:absolute;width:48px; top: 666px; left: 528px;" />
         <input id="I_7303P1" type="text" style="position:absolute;width:48px; top: 692px; left: 528px;" />
         <input id="I_A5736Z01I" type="text" style="position:absolute;width:48px; top: 721px; left: 482px;" />
         <input id="I_A5737Z01I" type="text" style="position:absolute;width:48px; top: 761px; left: 449px;" />
         <input id="I_70815IT" type="text" style="position:absolute;width:48px; top: 747px; left: 39px;" />

         <input id="I_7303A01" type="text" style="position:absolute;width:48px; top: 122px; left: 755px;" />
         <input id="I_7304P1" type="text" style="position:absolute;width:48px; top: 204px; left: 738px;" />
         <input id="I_7309T1" type="text" style="position:absolute;width:48px; top: 145px; left: 1039px;" />
         <input id="I_7309P1" type="text" style="position:absolute;width:48px; top: 172px; left: 1039px;" />

         <input id="A6101COS_R" type="text" style="position:absolute;width:48px; top: 68px; left: 1393px;" />
         <input id="A6201COS_R" type="text" style="position:absolute;width:48px; top: 96px; left: 1393px;" />
         <input id="A6301COS_R" type="text" style="position:absolute;width:48px; top: 124px; left: 1393px;" />
         <input id="A6401COS_R" type="text" style="position:absolute;width:48px; top: 150px; left: 1393px;" />

         <input id="I_A734NI" type="text" style="position:absolute;width:48px; top: 287px; left: 699px;" />
         <input id="I_7309Z01" type="text" style="position:absolute;width:48px; top: 259px; left: 1035px;" />
         <input id="I_A7311Z1I" type="text" style="position:absolute;width:48px; top: 257px; left: 1251px;" />
         <input id="I_7309P2" type="text" style="position:absolute;width:48px; top: 195px; left: 1265px;" />
         <input id="I_7312T1" type="text" style="position:absolute;width:48px; top: 240px; left: 1397px;" />
         <input id="I_7312IT" type="text" style="position:absolute;width:48px; top: 280px; left: 1350px;" />
         <input id="I_7309T2" type="text" style="position:absolute;width:48px; top: 325px; left: 1103px;" />
         <input id="I_7309T3" type="text" style="position:absolute;width:48px; top: 330px; left: 1199px;" />
         <input id="I_7316T3" type="text" style="position:absolute;width:48px; top: 451px; left: 955px;" />
         <input id="I_7316T2" type="text" style="position:absolute;width:48px; top: 501px; left: 1095px;" />
         <input id="I_7316T1" type="text" style="position:absolute;width:48px; top: 501px; left: 1343px;" />

         <input id="I_7303T2" type="text" style="position:absolute;width:48px; top: 558px; left: 833px;" />
         <input id="I_7303P2" type="text" style="position:absolute;width:48px; top: 583px; left: 833px;" />
         <input id="I_A7303X1I" type="text" style="position:absolute;width:48px; top: 645px; left: 719px;" />
         <input id="I_A7340F1I2" type="text" style="position:absolute;width:48px; top: 663px; left: 924px;" />
         <input id="I_7315W2" type="text" style="position:absolute;width:48px; top: 582px; left: 1027px;" />
         <input id="I_7329IT" type="text" style="position:absolute;width:40px; top: 621px; left: 1113px;" />
         <input id="I_7330IT" type="text" style="position:absolute;width:40px; top: 621px; left: 1178px;" />
         <input id="I_7331IT" type="text" style="position:absolute;width:38px; top: 621px; left: 1239px;" />
         <input id="I_7315W1" type="text" style="position:absolute;width:48px; top: 578px; left: 1306px;" />
         <input id="I_A7339F1I2" type="text" style="position:absolute;width:48px; top: 654px; left: 1374px;" />

         <input id="I_7303T3" type="text" style="position:absolute;width:48px; top: 749px; left: 572px;" />
         <input id="I_7303IT" type="text" style="position:absolute;width:48px; top: 713px; left: 685px;" />
         <input id="Q_7301W2" type="text" style="position:absolute;width:48px; top: 836px; left: 732px;" />
         <input id="T_73032" type="text" style="position:absolute;width:48px; top: 861px; left: 732px;" />
         <input id="I_7303MT1" type="text" style="position:absolute;width:48px; top: 801px; left: 865px;" />
         <input id="I_7303MT2" type="text" style="position:absolute;width:48px; top: 826px; left: 865px;" />
         <!--模拟量结束-->
         <!--开关量开始-->
         <div class="ValueRAA_2" R="D6903ArR" A="D6903ArA" ALM="D6903_ALM" style="position:absolute;width:19px; height:18px; top: 121px; left: 307px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6903ArR" type="text" style="display: none;"/>
	         <input id="D6903ArA" type="text" style="display: none;"/>
	         <input id="D6903_ALM" type="text"  style="display: none;"/> 
         
         <div class="ValueRAA" R2="D6902R2" A="D6902A" ALM="D6902_ALM" style="position:absolute;width:19px; height:18px; top: 104px; left: 402px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6902R2" type="text" style="display: none;"/>
	         <input id="D6902A" type="text" style="display: none;"/>
	         <input id="D6902_ALM" type="text"  style="display: none;"/> 

         <div class="ValueRAA" R2="D70051R2" A="D70051A" ALM="D70051_ALM" style="position:absolute;width:19px; height:18px; top: 131px; left: 394px; bottom: 752px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D70051R2" type="text" style="display: none;"/>
	         <input id="D70051A" type="text" style="display: none;"/>
	         <input id="D70051_ALM" type="text"  style="display: none;"/> 

         <div class="ValueRAA" R2="D70052R2" A="D70052A" ALM="D70052_ALM" style="position:absolute;width:19px; height:18px; top: 152px; left: 395px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D70052R2" type="text" style="display: none;"/>
	         <input id="D70052A" type="text" style="display: none;"/>
	         <input id="D70052_ALM" type="text"  style="display: none;"/> 


          <div class="ValueRAA" R1="D7007R1" A="D7007A" ALM="D7007_ALM" style="position:absolute;width:19px; height:18px; top: 169px; left: 526px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7007R1" type="text" style="display: none;"/>
	         <input id="D7007A" type="text" style="display: none;"/>
	         <input id="D7007_ALM" type="text"  style="display: none;"/> 


          <div class="ValueRAA" R1="D7006R1" A2="D7006A2" ALM="D7006_ALM" style="position:absolute;width:19px; height:18px; top: 249px; left: 496px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7006R1" type="text" style="display: none;"/>
	         <input id="D7006A2" type="text" style="display: none;"/>
	         <input id="D7006_ALM" type="text"  style="display: none;"/> 


         <div class="ValueRAA" R1="D738R1" A="D738A" ALM="D738_ALM" style="position:absolute;width:19px; height:18px; top: 331px; left: 950px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D738R1" type="text" style="display: none;"/>
	         <input id="D738A" type="text" style="display: none;"/>
	         <input id="D738_ALM" type="text"  style="display: none;"/> 

         <div class="ValueRAA" R1="D735R1" A="D735A" ALM="D735_ALM" style="position:absolute;width:19px; height:18px; top: 430px; left: 750px;"><img src="../../Common/circle_red.png" style="height:122%; width:100%;" /></div>
	         <input id="D735R1" type="text" style="display: none;"/>
	         <input id="D735A" type="text" style="display: none;"/>
	         <input id="D735_ALM" type="text"  style="display: none;"/>


          <div class="ValueRAA" R1="D7007ArR1" A1="D7007ArA1" ALM="D7007Ar_ALM" style="position:absolute;width:19px; height:18px; top: 115px; left: 525px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7007ArR1" type="text" style="display: none;"/>
	         <input id="D7007ArA1" type="text" style="display: none;"/>
	         <input id="D7007Ar_ALM" type="text"  style="display: none;"/> 


          <div class="ValueRAA" R2="D7601R2" A="D7601A" ALM="D7601_ALM" style="position:absolute;width:19px; height:18px; top: 318px; left: 142px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7601R2" type="text" style="display: none;"/>
	         <input id="D7601A" type="text" style="display: none;"/>
	         <input id="D7601_ALM" type="text"  style="display: none;"/> 


          <div class="ValueRAA" R2="D7602R2" A="D7602A" ALM="D7602_ALM" style="position:absolute;width:19px; height:18px; top: 358px; left: 187px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7602R2" type="text" style="display: none;"/>
	         <input id="D7602A" type="text" style="display: none;"/>
	         <input id="D7602_ALM" type="text"  style="display: none;"/> 


         <div class="ValueRAA" R2="D7604R2" A="D7604A" ALM="D7604_ALM" style="position:absolute;width:19px; height:18px; top: 489px; left: 122px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7604R2" type="text" style="display: none;"/>
	         <input id="D7604A" type="text" style="display: none;"/>
	         <input id="D7604_ALM" type="text"  style="display: none;"/> 



         <div class="ValueRAA" R2="D7605R2" A2="D7605A2" ALM="D7605_ALM" style="position:absolute;width:19px; height:18px; top: 567px; left: 109px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7605R2" type="text" style="display: none;"/>
	         <input id="D7605A2" type="text" style="display: none;"/>
	         <input id="D7605_ALM" type="text"  style="display: none;"/> 

          <div class="ValueRAA" R2="D767ARR2" A1="D767ARA1" ALM="D767AR_ALM" style="position:absolute;width:19px; height:18px; top: 564px; left: 233px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D767ARR2" type="text" style="display: none;"/>
	         <input id="D767ARA1" type="text" style="display: none;"/>
	         <input id="D767AR_ALM" type="text"  style="display: none;"/> 


         <div class="ValueRAA" R2="D767R2" A="D767A" ALM="D767_ALM" style="position:absolute;width:15px; height:15px; top: 555px; left: 264px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D767R2" type="text" style="display: none;"/>
	         <input id="D767A" type="text" style="display: none;"/>
	         <input id="D767_ALM" type="text"  style="display: none;"/> 

         <div class="ValueRAA" R2="D766R2" A="D766A" ALM="D7606_ALM" style="position:absolute;width:19px; height:18px; top: 621px; left: 198px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D766R2" type="text" style="display: none;"/>
	         <input id="D766A" type="text" style="display: none;"/>
	         <input id="D7606_ALM" type="text"  style="display: none;"/> 


          <div class="ValueRAA" R2="D768R2" A="D768A" ALM="D7608_ALM" style="position:absolute;width:19px; height:18px; top: 553px; left: 337px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D768R2" type="text" style="display: none;"/>
	         <input id="D768A" type="text" style="display: none;"/>
	         <input id="D7608_ALM" type="text"  style="display: none;"/> 

         <div class="ValueRAA" R2="D769ARR2" A1="D769ARA1" ALM="D769AR_ALM" style="position:absolute;width:19px; height:18px; top: 539px; left: 377px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D769ARR2" type="text" style="display: none;"/>
	         <input id="D769ARA1" type="text" style="display: none;"/>
	         <input id="D769AR_ALM" type="text"  style="display: none;"/> 

          <div class="ValueRAA" R2="D769R2" A="D769A" ALM="D769_ALM" style="position:absolute;width:15px; height:15px; top: 530px; left: 410px; right: 1061px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D769R2" type="text" style="display: none;"/>
	         <input id="D769A" type="text" style="display: none;"/>
	         <input id="D769_ALM" type="text"  style="display: none;"/> 

         <div class="ValueRAA" R2="D7613R2" A="D7613A" ALM="D7613_ALM" style="position:absolute;width:19px; height:18px; top: 420px; left: 549px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7613R2" type="text" style="display: none;"/>
	         <input id="D7613A" type="text" style="display: none;"/>
	         <input id="D7613_ALM" type="text"  style="display: none;"/> 


          <div class="ValueRAA" R2="D7008R2" A="D7008A" ALM="D7008_ALM" style="position:absolute;width:19px; height:18px; top: 102px; left: 554px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7008R2" type="text" style="display: none;"/>
	         <input id="D7008A" type="text" style="display: none;"/>
	         <input id="D7008_ALM" type="text"  style="display: none;"/>

         <div class="ValueRAA" R2="D734R2" A1="D734A1" ALM="D734_ALM" style="position:absolute;width:19px; height:18px; top: 299px; left: 828px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D734R2" type="text" style="display: none;"/>
	         <input id="D734A1" type="text" style="display: none;"/>
	         <input id="D734_ALM" type="text"  style="display: none;"/>

         <div class="ValueRAA" R2="D7603R2" A="D7603A" ALM="D7603_ALM" style="position:absolute;width:19px; height:18px; top: 396px; left: 267px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7603R2" type="text" style="display: none;"/>
	         <input id="D7603A" type="text" style="display: none;"/>
	         <input id="D7603_ALM" type="text"  style="display: none;"/>

         <div class="ValueRAA" R2="D736R2" A="D736A" ALM="D736_ALM" style="position:absolute;width:19px; height:18px; top: 499px; left: 776px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D736R2" type="text" style="display: none;"/>
	         <input id="D736A" type="text" style="display: none;"/>
	         <input id="D736_ALM" type="text"  style="display: none;"/>
         
         <div class="ValueRAA" R2="D7310R2" A="D7310A" ALM="D7310_ALM" style="position:absolute;width:19px; height:18px; top: 364px; left: 922px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7310R2" type="text" style="display: none;"/>
	         <input id="D7310A" type="text" style="display: none;"/>
	         <input id="D7310_ALM" type="text"  style="display: none;"/>
         
         <div class="ValueRAA" R2="D7314R2" A="D7314A" ALM="D7314_ALM" style="position:absolute;width:19px; height:18px; top: 435px; left: 1057px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7314R2" type="text" style="display: none;"/>
	         <input id="D7314A" type="text" style="display: none;"/>
	         <input id="D7314_ALM" type="text"  style="display: none;"/>
         
          
         <div class="ValueRAB_circle" R="D7303R" A="D7303A" B="D7303B" style="position:absolute;width:19px; height:18px; top: 798px; left: 817px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7303R" type="text" style="display: none;"/>
	         <input id="D7303A" type="text" style="display: none;"/>
	         <input id="D7303B" type="text"  style="display: none;"/>
         
         <div class="ValueRAA" R2="D7312R2" A="D7312A" ALM="D7312_ALM" style="position:absolute;width:19px; height:18px; top: 227px; left: 1355px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7312R2" type="text" style="display: none;"/>
	         <input id="D7312A" type="text" style="display: none;"/>
	         <input id="D7312_ALM" type="text"  style="display: none;"/>

         <div class="ValueW" R="D7301W08" A="D7301W06" ALM="D7301W10" style="position:absolute;width:19px; height:18px; top: 584px; left: 599px; right: 868px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7301W08" type="text" style="display: none;"/>
	         <input id="D7301W06" type="text" style="display: none;"/>
	         <input id="D7301W10" type="text"  style="display: none;"/>

         <div class="ValueRAA" R="D70815R" A="D70815A" ALM="D70815B" style="position:absolute;width:18px; height:18px; top: 782px; left: 64px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D70815R" type="text" style="display: none;"/>
	         <input id="D70815A" type="text" style="display: none;"/>
	         <input id="D70815B" type="text"  style="display: none;"/>


          <div class="ValueRAB_circle" I1="D7339F1I2" A="D7339F1I3" B="D7339_ALM" style="position:absolute;width:19px; height:18px; top: 680px; left: 1315px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7339F1I2" type="text" style="display: none;"/>
	         <input id="D7339F1I3" type="text" style="display: none;"/>
	         <input id="D7339_ALM" type="text"  style="display: none;"/>

         <div class="ValueRAB_circle" I1="D7340F1I2" A="D7340F1I3" B="D7340_ALM" style="position:absolute;width:19px; height:18px; top: 677px; left: 1037px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D7340F1I2" type="text" style="display: none;"/>
	         <input id="D7340F1I3" type="text" style="display: none;"/>
	         <input id="D7340_ALM" type="text"  style="display: none;"/>


          </div>

