    <div style="position:relative; background-image: url(/Monitoring/Templates/Db_01_YFC/scyw/template.png);width:1493px;height:899px; ">
        <input id="F_230010T01_R" type="text" style="position:absolute;width:48px; top: 61px; left: 21px;" />
        <input id="GWBP_I_R" type="text" style="position:absolute;width:48px; top: 49px; left: 126px;" />
        <input id="GWBP_S_F_R" type="text" style="position:absolute;width:39px; top: 72px; left: 108px;" />
        <input id="F_230010T02_R" type="text" style="position:absolute;width:48px; top: 102px; left: 21px;" />
        <input id="F_23001TV01_R" type="text" style="position:absolute;width:48px; top: 122px; left: 108px;" />
        <input id="F_23001TV02_R" type="text" style="position:absolute;width:48px; top: 146px; left: 108px;" />
        <input id="F_23001TA01_R" type="text" style="position:absolute;width:48px; top: 141px; left: 21px;" />
        <input id="F_23001Z01_F_R" type="text" style="position:absolute;width:48px; top: 92px; left: 217px;" />
        <input id="I_SZZ02" type="text" style="position:absolute;width:48px; top: 156px; left: 259px;" />
        <input id="I_SZZ01" type="text" style="position:absolute;width:48px; top: 91px; left: 382px;" />
        <input id="F_22111M_I_R" type="text" style="position:absolute;width:34px; top: 240px; left: 7px;" />
        <input id="I_SZZ03" type="text" style="position:absolute;width:48px; top: 284px; left: 388px;" />
        <input id="F_22101W01_R" type="text" style="position:absolute;width:48px; top: 600px; left: 288px;" />
        <input id="F_22106bZ01_R" type="text" style="position:absolute;width:48px; top: 663px; left: 164px;" />
        <input id="F_22105bZ01_R" type="text" style="position:absolute;width:48px; top: 674px; left: 390px;" />
        <input id="F_22107F01_R" type="text" style="position:absolute;width:48px; top: 711px; left: 136px;" />
        <input id="D56011A_TIME" type="text" style="position:absolute;width:254px; top: 869px; left: 97px;" />

        <input id="F_31005M_F_R" type="text" style="position:absolute;width:48px; bottom: 855px; left: 437px;" />
        <input id="F_310C1T01_R" type="text" style="position:absolute;width:48px; top: 63px; left: 554px;" />
        <input id="F_310C1P01_R" type="text" style="position:absolute;width:48px; top: 85px; left: 554px;" />
        <input id="F_310C1T02_R" type="text" style="position:absolute;width:48px; top: 63px; left: 648px;" />
        <input id="F_310C1P02_R" type="text" style="position:absolute;width:48px; top: 85px; left: 648px;" />
        <input id="I_5004Z1I" type="text" style="position:absolute;width:48px; top: 42px; left: 716px;" />
        <input id="I_50C1A01" type="text" style="position:absolute;width:48px; top: 124px; left: 532px;" />
        <input id="I_50C1A03" type="text" style="position:absolute;width:48px; top: 148px; left: 532px;" />
        <input id="F_310C1P04_R" type="text" style="position:absolute;width:48px; top: 188px; left: 535px;" />
        <input id="F_310C1P03_R" type="text" style="position:absolute;width:48px; top: 188px; left: 662px;" />
        <input id="F_310C2T01_R" type="text" style="position:absolute;width:48px; top: 221px; left: 466px;" />
        <input id="F_310C2P01_R" type="text" style="position:absolute;width:48px; top: 245px; left: 466px;" />
        <input id="I_50C0T03" type="text" style="position:absolute;width:38px; top: 245px; left: 555px;" />
        <input id="I_50C0T04" type="text" style="position:absolute;width:48px; top: 245px; left: 652px;" />
        <input id="I_50C1T02" type="text" style="position:absolute;width:48px; top: 319px; left: 525px;" />
        <input id="I_50C1P02" type="text" style="position:absolute;width:48px; top: 346px; left: 525px;" />
        <input id="I_50C2T01" type="text" style="position:absolute;width:48px; top: 316px; left: 684px;" />
        <input id="I_50C2P01" type="text" style="position:absolute;width:48px; top: 342px; left: 684px;" />
        <input id="I_50C3T02" type="text" style="position:absolute;width:48px; top: 385px; left: 451px;" />
        <input id="I_50C3P02" type="text" style="position:absolute;width:48px; top: 410px; left: 451px;" />
        <input id="I_50C3T03" type="text" style="position:absolute;width:48px; top: 424px; left: 555px;" />
        <input id="I_50C3P03" type="text" style="position:absolute;width:48px; top: 447px; left: 555px;" />
        <input id="I_50C2T02" type="text" style="position:absolute;width:48px; top: 424px; left: 656px;" />
        <input id="I_50C2P02" type="text" style="position:absolute;width:48px; top: 449px; left: 656px;" />
        <input id="I_5601dIT" type="text" style="position:absolute;width:48px; top: 447px; left: 747px;" />
        <input id="I_50C3T04" type="text" style="position:absolute;width:48px; top: 491px; left: 563px;" />
        <input id="I_50C3T06" type="text" style="position:absolute;width:48px; top: 507px; left: 636px;" />
        <input id="I_50C3P01" type="text" style="position:absolute;width:48px; top: 546px; left: 461px;" />
        <input id="I_50C3T05" type="text" style="position:absolute;width:48px; top: 602px; left: 495px;" />
        <input id="I_50C3P04" type="text" style="position:absolute;width:48px; top: 628px; left: 495px;" />
        <input id="I_5601T07" type="text" style="position:absolute;width:48px; top: 561px; left: 691px;" />
        <input id="I_56011N1" type="text" style="position:absolute;width:43px; top: 568px; left: 765px;" />
        <input id="I_5601T03" type="text" style="position:absolute;width:48px; top: 594px; left: 581px;" />
        <input id="I_5601T06" type="text" style="position:absolute;width:48px; top: 594px; left: 646px;" />
        <input id="I_5601T08I1" type="text" style="position:absolute;width:48px; top: 597px; left: 718px;" />
        <input id="I_50C3P05" type="text" style="position:absolute;width:48px; top: 527px; left: 832px;" />
        <input id="I_5601T02" type="text" style="position:absolute;width:48px; top: 595px; left: 824px;" />
        <input id="I_5601T05" type="text" style="position:absolute;width:48px; top: 595px; left: 884px;" />
        <input id="A5613" type="text" style="position:absolute;width:48px; top: 533px; left: 995px;" />
        <input id="I_5601T01" type="text" style="position:absolute;width:48px; top: 593px; left: 964px;" />
        <input id="I_5601T04" type="text" style="position:absolute;width:48px; top: 593px; left: 1027px;" />
        <input id="I_56011I" type="text" style="position:absolute;width:48px; top: 618px; left: 749px;" />
        <input id="I_56011V" type="text" style="position:absolute;width:48px; top: 642px; left: 791px;" />
        <input id="I_5601T" type="text" style="position:absolute;width:48px; top: 665px; left: 791px;" />
        <input id="A624ITAI" type="text" style="position:absolute;width:62px; top: 732px; left: 481px;" />
        <input id="AYR_PAI" type="text" style="position:absolute;width:48px; top: 782px; left: 481px;" />

        <input id="SP_7339F" type="text" style="position:absolute;width:48px; top: 796px; left: 689px;" />
        <input id="I_A7339F1I2" type="text" style="position:absolute;width:48px; top: 796px; left: 776px;" />
        <input id="T_7339F2" type="text" style="position:absolute;width:48px; top: 796px; left: 874px;" />
        <input id="SP_7340F1" type="text" style="position:absolute;width:48px; top: 825px; left: 689px;" />
        <input id="I_A7340F1I2" type="text" style="position:absolute;width:48px;top: 825px; left: 776px;" />
        <input id="T_7340F2" type="text" style="position:absolute;width:48px;top: 825px; left: 874px;" />
        <input id="F_22106BZ01_ASP" type="text" style="position:absolute;width:48px; top: 852px; left: 689px;" />
        <input id="F_22107F01_R" type="text" style="position:absolute;width:48px;top: 852px; left: 776px;" />
        <input id="Q_22107F01W2" type="text" style="position:absolute;width:48px; top: 852px; left: 874px;" />

        <input id="I_57163V" type="text" style="position:absolute;width:48px; top: 80px; left: 1246px;" />
        <input id="I_57166V" type="text" style="position:absolute;width:48px; top: 108px; left: 1246px;" />
        <input id="I_57169V" type="text" style="position:absolute;width:48px; top: 136px; left: 1246px;" />
        <input id="I_57163I1" type="text" style="position:absolute;width:48px; top: 80px; left: 1347px;" />
        <input id="I_57166I1" type="text" style="position:absolute;width:48px; top: 108px; left: 1347px;" />
        <input id="I_57169I1" type="text" style="position:absolute;width:48px; top: 136px; left: 1347px;" />
        <input id="I_A7340F1I3" type="text" style="position:absolute;width:28px; height:11px; top: 167px; left: 931px;" />
        <input id="I_A7340F1I1" type="text" style="position:absolute;width:19px; height:11px; top: 192px; left: 942px;" />
        <input id="I_7315W2" type="text" style="position:absolute;width:38px;height:11px; top: 218px; left: 925px;" />
        <input id="I_A7340F1I2" type="text" style="position:absolute;width:38px;height:11px; top: 239px; left: 934px;" />
        <input id="I_A7339F1I3" type="text" style="position:absolute;width:29px; height:11px; top: 170px; left: 1117px;" />
        <input id="I_A7339F1I1" type="text" style="position:absolute;width:21px; height:11px; top: 194px; left: 1130px;" />
        <input id="I_7315W1" type="text" style="position:absolute;width:38px;height:11px; top: 221px; left: 1111px;" />
        <input id="I_A7339F1I2" type="text" style="position:absolute;width:35px; height:11px; top: 242px; left: 1121px;" />
        <input id="I_5716T02" type="text" style="position:absolute;width:48px; top: 170px; left: 1225px;" />
        <input id="I_5716P02" type="text" style="position:absolute;width:48px; top: 193px; left: 1225px;" />
        <input id="I_5716T01" type="text" style="position:absolute;width:48px; top: 169px; left: 1398px;" />
        <input id="I_5716P01" type="text" style="position:absolute;width:48px; top: 192px; left: 1398px;" />
        <input id="I_A5719Z01I" style="position:absolute;width:48px; top: 233px; left: 1183px;" type="text" />
        <input id="I_5720AI" type="text" style="position:absolute;width:48px; top: 328px; left: 1162px;" />
        <input id="I_5745ZI" type="text" style="position:absolute;width:48px; top: 324px; left: 1379px;" />
        <input id="I_7329IT" type="text" style="position:absolute;width:38px; top: 362px; left: 856px;" />
        <input id="I_7330IT" type="text" style="position:absolute;width:38px; top: 362px; left: 915px;" />
        <input id="I_7331IT" type="text" style="position:absolute;width:38px; top: 362px; left: 972px;" />
        <input id="I_A5725NI" type="text" style="position:absolute;width:48px; top: 367px; left: 1313px;" />
        <input id="I_5725IT" type="text" style="position:absolute;width:48px; top: 393px; left: 1313px;" />
        <input id="I_733940I" type="text" style="position:absolute;width:48px; top: 403px; left: 1140px;" />

        <input id="I_5701P01" type="text" style="position:absolute;width:48px; top: 510px; left: 1093px;" />
        <input id="I_5701T01" type="text" style="position:absolute;width:48px; top: 603px; left: 1112px;" />
        <input id="I_572526P" type="text" style="position:absolute;width:48px; top: 580px; left: 1260px;" />
        <input id="I_5702T05" type="text" style="position:absolute;width:48px; top: 611px; left: 1369px;" />
        <input id="I_5702T" type="text" style="position:absolute;width:48px; top: 668px; left: 1067px;" />
        <input id="I_5703P01" type="text" style="position:absolute;width:48px; top: 696px; left: 1067px;" />
        <input id="I_57021I" type="text" style="position:absolute;width:48px; top: 652px; left: 1171px;" />
        <input id="I_57021NI" type="text" style="position:absolute;width:48px; top: 676px; left: 1171px;" />
        <input id="I_5706P01" type="text" style="position:absolute;width:36px; top: 695px; left: 1171px;" />
        <input id="I_57022I" type="text" style="position:absolute;width:48px; top: 637px; left: 1268px;" />
        <input id="I_57022NI" type="text" style="position:absolute;width:48px; top: 661px; left: 1268px;" />
        <input id="I_57023I" type="text" style="position:absolute;width:48px; top: 651px; left: 1352px;" />
        <input id="I_57023NI" type="text" style="position:absolute;width:48px; top: 680px; left: 1352px;" />
        <input id="I_5702bIT" type="text" style="position:absolute;width:48px; top: 710px; left: 1397px;" />
        <input id="I_5702aIT" type="text" style="position:absolute;width:48px; top: 764px; left: 1399px;" />

        <input id="I_A5703aZ01I" type="text" style="position:absolute;width:48px; top: 797px; left: 1021px;" />
        <input id="I_A5704aZ01I" type="text" style="position:absolute;width:48px; top: 824px; left: 1054px;" />
        <input id="I_A5705aZ01I" type="text" style="position:absolute;width:40px; top: 797px; left: 1111px;" />
        <input id="I_A5706aZ01I" type="text" style="position:absolute;width:48px; top: 824px; left: 1136px;" />
        <input id="I_A5707aZ01I" type="text" style="position:absolute;width:40px; top: 797px; left: 1174px;" />
        <input id="I_A5708aZ01I" type="text" style="position:absolute;width:40px; top: 824px; left: 1207px;" />
        <input id="I_A5709aZ01I" type="text" style="position:absolute;width:40px; top: 797px; left: 1236px;" />
        <input id="I_A5710aZ01I" type="text" style="position:absolute;width:40px; top: 822px; left: 1270px;" />
        <input id="I_A5711aZ01I" type="text" style="position:absolute;width:40px; top: 797px; left: 1297px;" />
        <input id="I_A5712aZ01I" type="text" style="position:absolute;width:38px; top: 824px; left: 1330px;" />
        <input id="I_A5713aZ01I" type="text" style="position:absolute;width:38px; top: 798px; left: 1355px;" />


    </div>


