     <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_YFC/RawMaterialUnload/template.jpg);width:1394px;height:898px; ">
         <input id="F_13104M_I_R" type="text" style="position:absolute;width:48px; top: 58px; left: 250px;" />
         <input id="F_21000L05_R" type="text" style="position:absolute;width:48px; top: 284px; left: 44px;" />
         <input id="F_21000L06_R" type="text" style="position:absolute;width:48px; top: 284px; left: 171px;" />
         <input id="F_21000L07_R" type="text" style="position:absolute;width:48px; top: 284px; left: 292px;" />
         <input id="F_21000L08_R" type="text" style="position:absolute;width:48px; top: 284px; left: 414px;" />
         <input id="F_11205M_I_R" type="text" style="position:absolute;width:48px; top: 479px; left: 208px;" />
         <input id="F_21000L01_R" type="text" style="position:absolute;width:48px; top: 689px; left: 47px;" />
         <input id="F_21000L02_R" type="text" style="position:absolute;width:48px; top: 689px; left: 168px;" />
         <input id="F_21000L03_R" type="text" style="position:absolute;width:48px; top: 689px; left: 295px;" />
         <input id="F_21000L04_R" type="text" style="position:absolute;width:48px; top: 689px; left: 419px;" />

         <input id="F_13101M_I_R" type="text" style="position:absolute;width:48px; top: 165px; left: 772px;" />
         <input id="F_13101M_S_R" type="text" style="position:absolute;width:48px; top: 188px; left: 772px;" />
         <input id="F_13102M_I_R" type="text" style="position:absolute;width:48px; top: 165px; left: 967px;" />
         <input id="F_13102M_S_R" type="text" style="position:absolute;width:48px; top: 188px; left: 967px;" />

         <input id="F_11207Z_F_R" type="text" style="position:absolute;width:48px; top: 491px; left: 833px;" />
         <input id="F_11207M_I_R" type="text" style="position:absolute;width:48px; top: 544px; left: 785px;" />
         <input id="F_11204M_I_R" type="text" style="position:absolute;width:48px; top: 663px; left: 813px;" />
         <input id="F_11202M_I_R" type="text" style="position:absolute;width:48px; top: 604px; left: 1027px;" />
         <input id="F_11202M_S_R" type="text" style="position:absolute;width:48px; top: 627px; left: 1027px;" />
         <input id="F_11203M_I_R" type="text" style="position:absolute;width:48px; top: 604px; left: 1146px;" />
         <input id="F_11203M_S_R" type="text" style="position:absolute;width:48px; top: 627px; left: 1146px;" />



     </div>
       


