
      <div class="templatediv" style="position:relative; background-image: url(/Monitoring/Templates/Db_01_WastedHeatPower/TurbineLubeOilSystem/template.png);width:1395px;height:841px; ">
          <input id="F_4TPT17A_R" type="text" style="position:absolute;width:38px; top: 124px; left: 8px;" />
          <input id="F_4TPT18A_R" type="text" style="position:absolute;width:38px; top: 165px; left: 8px;" />
          <input id="F_4TPT19A_R" type="text" style="position:absolute;width:38px; top: 207px; left: 8px;" />

          <input id="F_4TTE23A_R" type="text" style="position:absolute;width:38px; top: 133px; left: 558px; height:11px;" />
          <input id="F_4TTE23B_R" type="text" style="position:absolute;width:38px;height:11px; top: 153px; left: 558px;" />
          <input id="F_4TTE24A_R" type="text" style="position:absolute;width:38px;height:11px; top: 133px; left: 625px;" />
          <input id="F_4TTE24B_R" type="text" style="position:absolute;width:38px;height:11px; top: 153px; left: 625px;" />
          <input id="F_4TTE21A_R" type="text" style="position:absolute;width:38px;height:11px; top: 133px; left: 700px;" />
          <input id="F_4TTE21B_R" type="text" style="position:absolute;width:38px;height:11px; top: 153px; left: 700px;" />
          <input id="F_4TTE22A_R" type="text" style="position:absolute;width:38px;height:11px; top: 133px; left: 765px;" />
          <input id="F_4TTE22B_R" type="text" style="position:absolute;width:38px;height:11px; top: 153px; left: 765px;" />
          <input id="F_4TTE29A_R" type="text" style="position:absolute;width:38px;height:11px; top: 133px; left: 836px;" />
          <input id="F_4TTE29B_R" type="text" style="position:absolute;width:38px;height:11px; top: 153px; left: 836px;" />
          <input id="F_4TTE29C_R" type="text" style="position:absolute;width:38px;height:11px; top: 173px; left: 836px;" />
          <input id="F_4TTE29D_R" type="text" style="position:absolute;width:38px;height:11px; top: 133px; left: 905px;" />
          <input id="F_4TTE29E_R" type="text" style="position:absolute;width:38px;height:11px; top: 153px; left: 905px;" />
          <input id="F_4TTE29F_R" type="text" style="position:absolute;width:38px;height:11px; top: 173px; left: 905px;" />
          <input id="F_4TTE30A_R" type="text" style="position:absolute;width:38px;height:11px; top: 133px; left: 977px;" />
          <input id="F_4TTE30B_R" type="text" style="position:absolute;width:38px;height:11px; top: 153px; left: 977px;" />
          <input id="F_4TTE30C_R" type="text" style="position:absolute;width:38px;height:11px; top: 173px; left: 977px;" />
          <input id="F_4TTE30D_R" type="text" style="position:absolute;width:38px;height:11px; top: 133px; left: 1044px;" />
          <input id="F_4TTE30E_R" type="text" style="position:absolute;width:38px;height:11px; top: 153px; left: 1044px;" />
          <input id="F_4TTE30F_R" type="text" style="position:absolute;width:38px;height:11px; top: 173px; left: 1044px;" />

          <input id="F_3AC_I_R" type="text" style="position:absolute;width:61px; top: 86px; left: 1218px;" />
          <input id="F_4TSIS01A_R" type="text" style="position:absolute;width:45px; top: 124px; left: 1218px;" />
          <input id="DEHZG_OUT" type="text" style="position:absolute;width:48px; top: 187px; left: 1288px;" />

          <input id="F_4TLT05_R" type="text" style="position:absolute;width:48px; top: 240px; left: 181px;" />
          <input id="F_4TTE14_R" type="text" style="position:absolute;width:48px; top: 263px; left: 181px;" />
          <input id="F_4T1M_I_R" type="text" style="position:absolute;width:48px; top: 410px; left: 172px;" />
          <input id="F_4TPT15A_R" type="text" style="position:absolute;width:48px; top: 454px; left: 423px;" />
          <input id="F_4TTE25A_R" type="text" style="position:absolute;width:48px; top: 216px; left: 599px;" />
          <input id="F_4TTE25B_R" type="text" style="position:absolute;width:48px; top: 240px; left: 599px;" />
          <input id="F_4TTE32_R" type="text" style="position:absolute;width:48px; top: 362px; left: 612px;" />

          <input id="F_4TTE26A_R" type="text" style="position:absolute;width:48px; top: 218px; left: 943px;" />
          <input id="F_4TTE26B_R" type="text" style="position:absolute;width:48px; top: 242px; left: 943px;" />
          <input id="F_4TTE27A_R" type="text" style="position:absolute;width:48px; top: 218px; left: 1028px;" />
          <input id="F_4TTE27B_R" type="text" style="position:absolute;width:48px; top: 242px; left: 1028px;" />
          <input id="F_4TTE28_R" type="text" style="position:absolute;width:48px; top: 218px; left: 1139px;" />

          <input id="DEHZS_R" type="text" style="position:absolute;width:48px; top: 360px; left: 1263px;" />
          <input id="F_4TTE31A_R" type="text" style="position:absolute;width:48px; top: 327px; left: 1057px;" />
          <input id="F_4TTE31B_R" type="text" style="position:absolute;width:48px; top: 327px; left: 1138px;" />
          <input id="F_4TTE34_R" type="text" style="position:absolute;width:48px; top: 369px; left: 966px;" />
          <input id="F_4TTE35_R" type="text" style="position:absolute;width:48px; top: 369px; left: 1069px;" />
          <input id="F_4TTE11_R" type="text" style="position:absolute;width:48px; top: 457px; left: 688px;" />
          <input id="F_4TTE43_R" type="text" style="position:absolute;width:48px; top: 503px; left: 589px;" />
          <input id="F_4T3M_I_R" type="text" style="position:absolute;width:48px; top: 533px; left: 175px;" />
          <input id="F_4TTE42_R" type="text" style="position:absolute;width:48px; top: 598px; left: 588px;" />
          <input id="F_4TTE12_R" type="text" style="position:absolute;width:48px; top: 629px; left: 681px;" />
          <input id="F_4TTE41_R" type="text" style="position:absolute;width:48px; top: 507px; left: 745px;" />
          <input id="F_4TTE40_R" type="text" style="position:absolute;width:48px; top: 557px; left: 789px;" />
          <input id="F_4TPT16A_R" type="text" style="position:absolute;width:48px; top: 653px; left: 835px;" />

      </div>
