
      <div class="templatediv" style="position:relative; background-image: url(/Monitoring/Templates/Db_01_WastedHeatPower/BoilerSteamSystem/template.png);width:1393px;height:839px; ">
          <input id="F_4SPT06_R" type="text" style="position:absolute;width:48px; top: 90px; left: 271px;" />
          <input id="F_4SPT07_R" type="text" style="position:absolute;width:48px; top: 166px; left: 77px;" />
          <input id="F_4STT10_R" type="text" style="position:absolute;width:48px; top: 138px; left: 369px;" />
          <input id="F_4SFT02_R1" type="text" style="position:absolute;width:48px; top: 140px; left: 533px;" />
          <input id="F_4SFT02_R" type="text" style="position:absolute;width:48px; top: 170px; left: 533px;" />
          <input id="F_4SLT01_R" type="text" style="position:absolute;width:48px; top: 222px; left: 86px;" />
          <input id="F_4SLT02_R" type="text" style="position:absolute;width:48px; top: 228px; left: 209px;" />
          <input id="F_4SLIS03_R" type="text" style="position:absolute;width:48px; top: 227px; left: 399px;" />
          <input id="F_4SPT05_R" type="text" style="position:absolute;width:48px; top: 681px; left: 169px;" />
          <input id="F_4STT09_R" type="text" style="position:absolute;width:40px; top: 689px; left: 261px;" />
          <input id="F_4SLZ01_R" type="text" style="position:absolute;width:48px; top: 622px; left: 375px;" />
          <input id="F_4SFT01_R" type="text" style="position:absolute;width:48px; top: 580px; left: 523px;" />
          <input id="F_4SFT01_R1" type="text" style="position:absolute;width:48px; top: 610px; left: 523px;" />
          <input id="F_4AFT01_R1" type="text" style="position:absolute;width:48px; top: 708px; left: 578px;" />
          <input id="F_4AFT01_R" type="text" style="position:absolute;width:48px; top: 731px; left: 578px;" />
          <input id="F_4APT03_R" type="text" style="position:absolute;width:48px; top: 654px; left: 617px;" />
          <input id="F_4ATT05_R" type="text" style="position:absolute;width:48px; top: 712px; left: 738px;" />

          <input id="F_4APT05_R" type="text" style="position:absolute;width:48px; top: 214px; left: 882px;" />
          <input id="F_4ATT07_R" type="text" style="position:absolute;width:48px; top: 218px; left: 987px;" />
          <input id="F_4AFT03_R1" type="text" style="position:absolute;width:48px; top: 261px; left: 1131px;" />
          <input id="F_4AFT03_R" type="text" style="position:absolute;width:48px; top: 285px; left: 1131px;" />
          <input id="F_4APT06_R" type="text" style="position:absolute;width:48px; top: 302px; left: 684px;" />
          <input id="F_4ALT01_R" type="text" style="position:absolute;width:48px; top: 354px; left: 679px;" />
          <input id="F_4ALT02_R" type="text" style="position:absolute;width:48px; top: 354px; left: 803px;" />
          <input id="F_4ALIS03_R" type="text" style="position:absolute;width:48px; top: 354px; left: 1003px;" />
          <input id="F_4ATT06_R" type="text" style="position:absolute;width:48px; top: 441px; left: 1063px;" />
          <input id="F_4APT04_R" type="text" style="position:absolute;width:48px; top: 470px; left: 1084px;" />

          <input id="F_4ALZ01_R" type="text" style="position:absolute;width:48px; top: 523px; left: 976px;" />
          <input id="F_4AFT02_R1" type="text" style="position:absolute;width:48px; top: 585px; left: 987px;" />
          <input id="F_4AFT02_R" type="text" style="position:absolute;width:48px; top: 614px; left: 987px;" />



      </div>

