
     <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_ND/CementGrindProcess_7/template.png); width: 1388px; height: 908px;">

         <input id="AIB1_551_04" type="text" style="position:absolute;width:48px; top: 139px; left: 513px;" />
         <input id="B55106P01" type="text" style="position:absolute;width:48px; top: 205px; left: 407px;" />
         <input id="B55106P02" type="text" style="position:absolute;width:48px; top: 229px; left: 407px;" />
         <input id="AOB1_551_07_2" type="text" style="position:absolute;width:34px; top: 213px; left: 497px;" />
         <input id="AIB1_551_07_2" type="text" style="position:absolute;width:34px; top: 234px; left: 497px;"/>
         <input id="AOB1_551_05" type="text" style="position:absolute;width:48px; top: 191px; left: 609px;" />
         <input id="AIB5_551_05" type="text" style="position:absolute;width:48px; top: 213px; left: 609px;" />
         <input id="AIB1_551_16" type="text" style="position:absolute;width:48px; top: 126px; left: 924px;" />
         <input id="B55124T01" type="text" style="position:absolute;width:48px; top: 186px; left: 975px;" />
         <input id="B55124P01" type="text" style="position:absolute;width:48px; top: 210px; left: 975px;" />
         <input id="AOB1_551_27" type="text" style="position:absolute;width:48px; top: 153px; left: 1159px;" />
         <input id="AIB1_551_27" type="text" style="position:absolute;width:48px; top: 176px; left: 1159px;" />
         <input id="B55124P02" type="text" style="position:absolute;width:48px; top: 204px; left: 1149px;" />
         <input id="AIB1_551_26" type="text" style="position:absolute;width:48px; top: 163px; left: 1297px;" />
         <input id="B55126MT01" type="text" style="position:absolute;width:48px; top: 227px; left: 1276px;" />
         <input id="B55126MT02" type="text" style="position:absolute;width:48px; top: 251px; left: 1276px;" />
         <input id="B55126T01" type="text" style="position:absolute;width:48px; top: 277px; left: 1276px;" />

         <input id="AIB1_550_23" type="text" style="position:absolute;width:41px; top: 481px; left: 74px;" />
         <input id="AIB1_550_26" type="text" style="position:absolute;width:41px; top: 481px;left:124px" />
         <input id="AIB1_550_25" type="text" style="position:absolute;width:39px; top: 481px; left: 174px;" />
         <input id="AIB1_550_24" type="text" style="position:absolute;width:42px; top: 481px; left: 222px;" />
         <input id="AIB1_551_37" type="text" style="position:absolute;width:42px; top: 481px; left: 272px;" />
         <input id="AI1_550_24_11" type="text" style="position:absolute;width:43px; top: 481px; left: 325px;" />
         <input id="AIB1_551_37_1" type="text" style="position:absolute;width:41px; top: 481px; left: 380px;" />

         <input id="AOB1_550_23" type="text" style="position:absolute;width:41px; top: 510px; left: 74px;" />
         <input id="AOB1_550_26" type="text" style="position:absolute;width:41px; top: 510px;left:124px" />
         <input id="AOB1_550_25" type="text" style="position:absolute;width:39px; top: 510px; left: 174px;" />
         <input id="AOB1_550_24" type="text" style="position:absolute;width:42px; top: 510px; left: 222px;" />
         <input id="AOB1_551_37" type="text" style="position:absolute;width:42px; top: 510px; left: 272px;" />
         <input id="AO1_550_24_1" type="text" style="position:absolute;width:43px; top: 510px; left: 325px;" />
         <input id="AOB1_551_37_1" type="text" style="position:absolute;width:41px; top: 509px; left: 380px;" />

         <input id="F_550_23_SCAL_REAL" type="text" style="position:absolute;width:41px; top: 538px; left: 74px;" />
         <input id="F_550_26_SCAL_R" type="text" style="position:absolute;width:41px; top: 538px;left:124px" />
         <input id="F_550_25_SCAL_R" type="text" style="position:absolute;width:39px; top: 538px; left: 174px;" />
         <input id="F_550_24_SCAL_REAL" type="text" style="position:absolute;width:42px; top: 538px; left: 222px;" />
         <input id="F_551_B37_SCAL_REA" type="text" style="position:absolute;width:42px; top: 538px; left: 272px;" />
         <input id="F_550_24_1_SC_REAL" type="text" style="position:absolute;width:43px; top: 538px; left: 325px;" />
         <input id="F_551_B37_1_SCAL_R" type="text" style="position:absolute;width:41px; top: 538px; left: 380px;" />

         <input id="F_550_23_SCAL" type="text" style="position:absolute;width:41px; top: 562px; left: 74px;" />
         <input id="F_550_26_SCAL" type="text" style="position:absolute;width:41px; top: 562px;left:124px" />
         <input id="F_550_25_SCAL" type="text" style="position:absolute;width:39px; top: 562px; left: 174px;" />
         <input id="F_550_24_SCAL" type="text" style="position:absolute;width:42px; top: 562px; left: 222px;" />
         <input id="F_551B_37_SCAL" type="text" style="position:absolute;width:42px; top: 562px; left: 272px;" />
         <input id="F_550_24_1_SCAL" type="text" style="position:absolute;width:43px; top: 562px; left: 325px;" />
         <input id="F_551B_37_1_SCAL" type="text" style="position:absolute;width:41px; top: 562px; left: 380px;" />

         <input id="CT_550_23" type="text" style="position:absolute;width:41px; top: 588px; left: 74px;" />
         <input id="CT_550_26" type="text" style="position:absolute;width:41px; top: 588px;left:124px" />
         <input id="CT_550_25" type="text" style="position:absolute;width:39px; top: 588px; left: 174px;" />
         <input id="CT_550_24" type="text" style="position:absolute;width:42px; top: 588px; left: 222px;" />
         <input id="CT_551_B37" type="text" style="position:absolute;width:42px; top: 588px; left: 272px;" />
         <input id="CT_550_24_1" type="text" style="position:absolute;width:43px; top: 588px; left: 325px;" />
         <input id="CT_551_B37_1" type="text" style="position:absolute;width:41px; top: 588px; left: 380px;" />

         <input id="CT_550_231" type="text" style="position:absolute;width:41px; top: 613px; left: 74px;" />
         <input id="CT_550_261" type="text" style="position:absolute;width:41px; top: 613px;left:124px" />
         <input id="CT_550_251" type="text" style="position:absolute;width:39px; top: 613px; left: 174px;" />
         <input id="CT_550_241" type="text" style="position:absolute;width:42px; top: 613px; left: 222px;" />
         <input id="CT_551_B371" type="text" style="position:absolute;width:42px; top: 613px; left: 272px;" />
         <input id="CT_550_24_11" type="text" style="position:absolute;width:43px; top: 613px; left: 325px;" />
         <input id="CT_551_B371_1" type="text" style="position:absolute;width:41px; top: 613px; left: 380px;" />

         <input id="CT_551_BSUM" type="text" style="position:absolute;width:48px; top: 637px; left: 131px;" />
         <input id="CT_551_BSUM1" type="text" style="position:absolute;width:48px; top: 637px; left: 342px;" />
         <input id="MILLB_SUM_REAL" type="text" style="position:absolute;width:47px; top: 667px; left: 90px;" />
         <input id="MILLB_SUM" type="text" style="position:absolute;width:46px; top: 667px; left: 314px;"/>

         <input id="AIB1_551_03" type="text" style="position:absolute;width:38px; top: 700px; left: 3px;" />
         <input id="AIB3_551_03" type="text" style="position:absolute;width:38px; top: 700px; left:71px" />
         <input id="AIB6_551_03" type="text" style="position:absolute;width:38px; top: 700px; left:144px" />
         <input id="AIB7_551_03" type="text" style="position:absolute;width:38px; top: 700px; left:220px" />

         <input id="AIB2_551_03" type="text" style="position:absolute;width:38px; top: 724px; left: 3px;" />
         <input id="AIB4_551_03" type="text" style="position:absolute;width:38px; top: 724px; left:71px" />
         <input id="AIB15_551_03" type="text" style="position:absolute;width:38px; top: 724px; left:144px" />
         <input id="AIB8_551_03" type="text" style="position:absolute;width:38px; top: 724px; left:220px" />

         <input id="AIB16_551_03" type="text" style="position:absolute;width:38px; top: 750px; left: 3px;" />
         <input id="AIB18_551_03" type="text" style="position:absolute;width:38px; top: 750px; left:71px" />
         <input id="AIB20_551_03" type="text" style="position:absolute;width:38px; top: 750px; left:144px" />
         <input id="AIB9_551_03" type="text" style="position:absolute;width:38px; top: 750px; left:220px" />

         <input id="AIB17_551_03" type="text" style="position:absolute;width:38px; top: 773px; left: 3px;" />
         <input id="AIB19_551_03" type="text" style="position:absolute;width:38px; top: 773px; left:71px" />
         <input id="AIB21_551_03" type="text" style="position:absolute;width:38px; top: 773px; left:144px" />
         <input id="AIB10_551_03" type="text" style="position:absolute;width:38px; top: 773px; left:220px" />

         <input id="AIB1_551_07" type="text" style="position:absolute;width:48px; top: 356px; left: 474px;" />
         <input id="AIB13_551_03" type="text" style="position:absolute;width:48px; top: 412px; left: 498px;" />
         <input id="AIB11_551_03" type="text" style="position:absolute;width:39px; top: 610px; left: 434px;" />
         <input id="AIB12_551_03" type="text" style="position:absolute;width:39px; top: 610px; left: 498px;" />

         <input id="AIB1_551_05" type="text" style="position:absolute;width:39px; top: 328px; left: 628px;" />
         <input id="AIB3_551_05" type="text" style="position:absolute;width:39px; top: 353px; left: 628px;" />
         <input id="AIB4_551_05" type="text" style="position:absolute;width:39px; top: 378px; left: 628px;" />

         <input id="AIB3_551_19" type="text" style="position:absolute;width:36px; top: 316px; left: 714px;" />
         <input id="AOB1_551_19" type="text" style="position:absolute;width:36px; top: 340px; left: 705px;" />
         <input id="AIB1_551_19" type="text" style="position:absolute;width:48px; top: 363px; left: 823px;" />
         <input id="AOB1_551_20" type="text" style="position:absolute;width:48px; top: 422px; left: 812px;" />
         <input id="AIB1_551_20" type="text" style="position:absolute;width:48px; top:445px; left: 812px;" />
         <input id="AIB1_551_12" type="text" style="position:absolute;width:48px; top: 592px; left: 676px;" />

         <input id="B55112PT01" type="text" style="position:absolute;width:48px; top: 707px; left: 570px;" />
         <input id="B55112T03" type="text" style="position:absolute;width:40px; top: 707px; left: 651px;" />
         <input id="B55112T04" type="text" style="position:absolute;width:48px; top: 707px; left: 722px;" />

         <input id="B55112PT02" type="text" style="position:absolute;width:48px; top: 730px; left: 570px;" />
         <input id="B55112MT01" type="text" style="position:absolute;width:40px; top: 730px; left: 651px;" />
         <input id="B55112MT02" type="text" style="position:absolute;width:48px; top: 730px; left: 722px;" />

         <input id="B55112PT03" type="text" style="position:absolute;width:48px; top: 753px; left: 570px;" />
         <input id="AIB1_551_48" type="text" style="position:absolute;width:40px; top: 708px; left: 826px;" />

         <input id="B55112T01" type="text" style="position:absolute;width:48px; top: 535px; left: 888px;" />
         <input id="B55112T02" type="text" style="position:absolute;width:48px; top: 557px; left: 888px;" />
         <input id="B55112P01" type="text" style="position:absolute;width:48px; top: 580px; left: 875px;" />
         <input id="AIB1_553_22" type="text" style="position:absolute;width:48px; top: 464px; left: 1289px;" />
     </div>
