
     <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_YFC/ClinkerDispenseAndStore/template.jpg); width: 1488px; height: 898px; ">
         <!--模拟量开始     -->
         <input id="I_6624IT" type="text"  style="position:absolute; top: 240px; left: 425px;  width: 45px;" />
         <input id="I_7900L2" type="text"  style="position:absolute; top: 391px; left: 204px;  width:  45px;"/>
         <input id="I_7900L4" type="text"  style="position:absolute; top: 391px; left: 280px; width: 45px; "/>;   
         <input id="I_6618IT" type="text"   style="position:absolute; top: 421px; left: 1364px; width: 45px;"/>
         <input id="I_7900L6" type="text"     style="position:absolute; top: 391px; left: 360px; width: 45px;" />

         <input id="M_84a11F1" type="text"  style="position:absolute; top: 683px; left: 140px;  width: 45px;"/>
         <input id="M_84a09F1" type="text"  style="position:absolute; top: 710px; left: 140px; width: 45px; "/>
         <input id="M_84a07F1" type="text"  style="position:absolute; top: 739px; left: 140px;  width: 45px;" />
         <input id="M_84b02W" type="text"   style="position:absolute; top: 766px; left: 140px; width: 45px;"/>
         <input id="Q_84aF1" type="text"    style="position:absolute; top: 620px; left: 152px;  width: 45px;"/>
         <input id="Q_84aFI3" type="text"    style="position:absolute; top: 612px; left: 311px; width: 45px;" />
         <input id="TOL_84a"  type="text"    style="position:absolute; top: 600px; left: 504px; width: 63px;" />

         <input id="I_84a11F1" type="text"   style="position:absolute; top: 683px; left: 226px;  width: 45px;" />
         <input id="I_84a09F1" type="text"   style="position:absolute; top: 710px; left: 226px;  width: 45px;"/>         
         <input id="I_84a07F1" type="text"   style="position:absolute; top: 739px; left: 226px; width: 45px;"/>
         <input id="I_84b02F1" type="text"   style="position:absolute; top: 766px; left: 226px; width: 45px;"/>
         <input id="M_A8313AO" type="text"   style="position:absolute; top: 797px; left: 226px; width: 45px; "/>
         <input id="M_A8315AO" type="text"   style="position:absolute; top: 829px; left: 226px;  width: 45px;"/>
         <input id="M_A8317AO" type="text"   style="position:absolute; top: 856px; left: 226px; width: 45px;"/>

         <input id="Q_84a"   type="text"     style="position:absolute; top: 622px; left: 504px; width: 63px;"/>
         <input id="time1" type="text"         style="position:absolute; top: 622px; left: 625px; width: 73px; " />

         <input id="I_84a11FI" type="text"     style="position:absolute; top: 683px; left: 311px; width: 45px;"/>
         <input id="I_84a09FI" type="text"     style="position:absolute; top: 710px; left: 311px; width: 45px;" />
         <input id="I_84a07FI" type="text"     style="position:absolute; top: 739px; left: 311px; width: 45px;" />
         <input id="I_84b02W123" type="text"   style="position:absolute; top: 766px; left: 311px; width: 45px;"/>
         <input id="I_A8313AI" type="text"     style="position:absolute; top: 797px; left: 311px; width: 45px;"/>
         <input id="I_A8315AI" type="text"     style="position:absolute; top: 829px; left: 311px; width: 45px;"/>
         <input id="I_A8317AI" type="text"     style="position:absolute; top: 856px; left: 311px; width: 45px;"/>

         <input id="Q_84a11W2" type="text"     style="position:absolute; top: 683px; left: 418px; width: 45px;"/>
         <input id="Q_84a09W2" type="text"     style="position:absolute; top: 710px; left: 418px; width: 45px;" />
         <input id="Q_84a07W2" type="text"   style="position:absolute; top: 739px; left: 418px;  width: 45px;" />
         <input id="Q_84b02W2" type="text"   style="position:absolute; top: 766px; left: 418px;width: 45px;" />
         <input id="Q_8313W2" type="text"    style="position:absolute; width: 45px; top: 797px; left: 418px; "/>
         <input id="Q_8315W2" type="text"    style="position:absolute; top: 829px; left: 418px;  width: 45px;"/>
         <input id="Q_8317W2" type="text"    style="position:absolute; top: 856px; left: 418px; width: 45px;" />

         <input id="x_84a11w2" type="text"   style="position:absolute; width: 45px; top: 683px; left: 517px; " />
         <input id="x_84a09w2" type="text"   style="position:absolute; width: 45px; top: 710px; left: 517px; " />
         <input id="x_84a07w2" type="text"   style="position:absolute; top: 739px; left: 517px;  width: 45px;"/>
         <input id="x_84b02W2" type="text"   style="position:absolute; top: 766px; left: 517px; width: 45px;" />
         <input id="x_8313w2" type="text"    style="position:absolute; top: 797px; left: 517px;  width: 45px;" />
         <input id="x_8315w2" type="text"   style="position:absolute; top: 829px; left: 517px;width: 45px;"/>
         <input id="x_8317W2" type="text"   style="position:absolute; top: 856px; left: 517px; width: 45px;"/>

         <input id="U_84a11FI" type="text"   style="position:absolute; top: 683px; left: 639px; width: 45px; "/>
         <input id="U_84a09FI" type="text"   style="position:absolute; top: 710px; left: 639px; width: 45px;"/>
         <input id="U_84a07FI" type="text"   style="position:absolute; top: 739px; left: 639px; width: 45px;"/>
         <input id="U_84b02W123" type="text"   style="position:absolute; top: 766px; left: 639px;  width: 45px; "/>
         <input id="U_8313FI" type="text"   style="position:absolute; left: 639px; width: 45px; top: 797px;"/>
         <input id="U_8315FI" type="text"   style="position:absolute; left: 639px; width: 45px; top: 829px;"/>
         <input id="U_8317FI" type="text"  style="position:absolute; top: 856px; left: 639px; width: 45px;"/>
         <input id="Q_84aF2" type="text"  style="position:absolute; top: 619px; left: 864px; width:45px;"/>

         <input id="Q_84aFI4" type="text"  style="position:absolute; top: 612px; left: 1023px; width: 45px;"/>
         <input id="TOL_84b" type="text"  style="position:absolute; top: 596px; left: 1225px; width: 64px;"/>
         <input id="Q_84b" type="text"  style="position:absolute; top: 622px; left: 1225px; width: 64px;"/>
         <input id="time2" type="text"  style="position:absolute; top: 618px; left: 1342px; width: 67px;"/>

         <input id="M_84a10F1" type="text"  style="position:absolute; top: 683px; left: 857px; width: 45px;"/>
         <input id="M_84a08F1" type="text"  style="position:absolute; top: 710px; left: 857px; width: 45px;"/>
         <input id="M_84a06F1" type="text"  style="position:absolute; top: 739px; left: 857px; width: 45px;"/>
         <input id="M_84b06W" type="text"  style="position:absolute; top: 766px; left: 857px; width: 45px;"/>

         <input id="I_84a10F1" type="text"   style="position:absolute; top: 683px; left: 941px; width: 45px;"/>
         <input id="I_84a08F1" type="text"   style="position:absolute; top: 710px; left: 941px;  width: 45px;"/>
         <input id="I_84a06F1" type="text"  style="position:absolute; top: 739px; left: 941px;  width: 45px;"/>
         <input id="I_84b06F1" type="text"  style="position:absolute; top: 766px; left: 941px; width: 45px;"/>
         <input id="M_A8314AO" type="text"  style="position:absolute; top: 797px; left:  941px;  width: 45px;"/>
         <input id="M_A8316AO" type="text"  style="position:absolute; top: 829px; left:  941px; width: 45px;"/>
         <input id="M_A8318AO" type="text"  style="position:absolute; top: 856px; left:  941px; width: 45px;"/>

         <input id="I_84a10FI" type="text"  style="position:absolute; top: 683px; left: 1031px; width: 45px;" />
         <input id="I_84a08FI" type="text"  style="position:absolute; top: 710px; left: 1031px; width:45px;" />
         <input id="I_84a06FI" type="text"  style="position:absolute; top: 739px; left: 1031px; width:45px;"/>
         <input id="I_84b06W123" type="text"  style="position:absolute; top: 766px; left: 1031px; width: 45px;"/>
         <input id="I_A8314AI" type="text" style="position:absolute; top: 797px; left: 1031px;  width: 45px;"/>
         <input id="I_A8316AI" type="text"  style="position:absolute; top: 829px; left: 1031px;  width: 45px;" />
         <input id="I_A8318AI" type="text"  style="position:absolute; top: 856px; left: 1031px;  width:45px;" />

         <input id="Q_84a10W2" type="text"  style="position:absolute; top: 683px; left: 1135px; width: 45px;"/>
         <input id="Q_84a08W2" type="text"  style="position:absolute; top: 710px; left: 1135px;width: 45px;"/>
         <input id="Q_84a06W2" type="text"  style="position:absolute; top: 739px; left: 1135px; width: 45px;"/>
         <input id="Q_84b06W2" type="text"  style="position:absolute; top: 766px; left: 1135px; width: 45px;" />
         <input id="Q_8314W2" type="text"  style="position:absolute; top: 797px; left: 1135px;width: 45px;"/>
         <input id="Q_8316W2" type="text"  style="position:absolute; top: 829px; left: 1135px;  width: 45px;"/>
         <input id="Q_8318W2" type="text"  style="position:absolute; top: 856px; left: 1135px;  width: 45px;"/>

         <input id="x_84a10w2" type="text"  style="position:absolute; top: 683px; left: 1241px; width: 45px;"/>
         <input id="x_84a08w2" type="text"   style="position:absolute; top: 710px; left: 1241px; width: 45px;"/>
         <input id="x_84a06w2" type="text"   style="position:absolute; top: 739px; left: 1241px;  width: 45px;"/>
         <input id="x_84b06W2" type="text"   style="position:absolute; top: 766px; left: 1241px; width: 45px;" />
         <input id="x_8314w2" type="text"   style="position:absolute; top: 797px; left: 1241px;  width:45px;"/>
         <input id="x_8316w2" type="text"   style="position:absolute; top: 829px; left: 1241px;  width: 45px;"/>
         <input id="x_8318W2" type="text"   style="position:absolute; top: 856px; left: 1241px; width: 45px;"/>

         <input id="U_84a10FI" type="text"   style="position:absolute; top: 683px; left: 1341px; width: 45px;" />
         <input id="U_84a08FI" type="text"   style="position:absolute; width: 45px; top: 710px; left: 1341px;" />
         <input id="U_84a06FI" type="text"   style="position:absolute; top: 739px; left: 1341px; width: 45px; " />
         <input id="U_84b06W123" type="text"   style="position:absolute; top: 766px; left: 1341px; width: 45px; "/>
         <input id="U_8314FI" type="text"   style="position:absolute; top: 797px; left: 1341px;  width: 45px;"/>
         <input id="U_8316FI" type="text"   style="position:absolute; top: 829px; left: 1341px;  width: 45px;"/>
         <input id="U_8318FI" type="text"   style="position:absolute; left: 1341px; top: 856px;  width: 45px;"/>
          <!--模拟量结束     -->
          <!--开关量开始     -->
         <div class="ValueARA" A="D8004A2" R="D8004R" ALM="D8004_2ALM" style="position:absolute;top: 18px; left: 595px; height: 20px; width: 20px;"> <img src="/Monitoring/Templates/Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D8004A2" type="text" style="display: none;" />
	          <input id="D8004R" type="text" style="display: none;"  />
	          <input id="D8004_2ALM" type="text" style="display: none;"  /> 
          <div class="ValueARA" A="D8001A" R="D8001R" ALM="D8001_ALM" style="position:absolute;top: 51px; left: 466px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D8001A" type="text" style="display: none;" />
	          <input id="D8001R" type="text" style="display: none;"  />
	          <input id="D8001_ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D8002A" R="D8002R" ALM="D8002_ALM" style="position:absolute;top: 52px; left: 511px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D8002A" type="text" style="display: none;" />
	          <input id="D8002R" type="text" style="display: none;"  />
	          <input id="D8002_ALM" type="text" style="display: none;"  /> 
          <div class="ValueARA" A="D8003A" R="D8003R" ALM="D8003_ALM" style="position:absolute;top: 53px; left: 553px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D8003A" type="text" style="display: none;" />
	          <input id="D8003R" type="text" style="display: none;"  />
	          <input id="D8003_ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D8004A1" R="D8004R" ALM="D8004_1ALM" style="position:absolute;top: 52px; left: 596px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D8004A1" type="text" style="display: none;" />
	          <input id="D8004R" type="text" style="display: none;"  />
	          <input id="D8004_1ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D8005A" R="D8005R" ALM="D8005_ALM" style="position:absolute;top: 51px; left: 638px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D8005A" type="text" style="display: none;" />
	          <input id="D8005R" type="text" style="display: none;"  />
	          <input id="D8005_ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D8005A" R="D8005R" ALM="D8005_ALM" style="position:absolute;top: 51px; left: 638px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="Text1" type="text" style="display: none;" />
	          <input id="Text2" type="text" style="display: none;"  />
	          <input id="Text3" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D79a03A" R="D79a03R" ALM="D79a03_ALM" style="position:absolute;top: 97px; left: 486px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D79a03A" type="text" style="display: none;" />
	          <input id="D79a03R" type="text" style="display: none;"  />
	          <input id="D79a03_ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D7902A" R="D7902R" ALM="D7902_ALM" style="position:absolute;top: 98px; left: 525px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D7902A" type="text" style="display: none;" />
	          <input id="D7902R" type="text" style="display: none;"  />
	          <input id="D7902_ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D8301A" R="D8301R" ALM="D8301_ALM" style="position:absolute;top: 98px; left: 565px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D8301A" type="text" style="display: none;" />
	          <input id="D8301R" type="text" style="display: none;"  />
	          <input id="D8301_ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D8305A" R="D8305R" ALM="D8305_ALM" style="position:absolute;top: 98px; left: 605px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D8305A" type="text" style="display: none;" />
	          <input id="D8305R" type="text" style="display: none;"  />
	          <input id="D8305_ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D84a01A" R="D84a01R" ALM="D84a01_ALM" style="position:absolute;top: 97px; left: 648px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D84a01A" type="text" style="display: none;" />
	          <input id="D84a01R" type="text" style="display: none;"  />
	          <input id="D84a01_ALM" type="text" style="display: none;"  /> 
         <div class="ValueARA" A="D84a03A" R="D84a03R" ALM="D84a03_ALM" style="position:absolute;top: 97px; left: 688px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
              <input id="D84a03A" type="text" style="display: none;" />
	          <input id="D84a03R" type="text" style="display: none;"  />
	          <input id="D84a03_ALM" type="text" style="display: none;"  /> 
     
          <div class="ValueW" R="D84a06F108" A="D84a06F106" ALM="D84a06F110" style="position:absolute;width:15px;height:15px; top: 457px; left: 254px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a06F108" type="text" style="display: none;"/>
	         <input id="D84a06F106" type="text" style="display: none;"/>
	         <input id="D84a06F110" type="text"  style="display: none;"/>
         <div class="ValueW" R="D84a08F108" A="D84a08F106" ALM="D84a08F110" style="position:absolute;width:15px;height:15px; top: 456px; left: 333px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a08F108" type="text" style="display: none;"/>
	         <input id="D84a08F106" type="text" style="display: none;"/>
	         <input id="D84a08F110" type="text"  style="display: none;"/>
        <div class="ValueW" R="D84a10F108" A="D84a10F106" ALM="D84a10F110" style="position:absolute;width:15px;height:15px; top: 457px; left: 411px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a10F108" type="text" style="display: none;"/>
	         <input id="D84a10F106" type="text" style="display: none;"/>
	         <input id="D84a10F110" type="text"  style="display: none;"/>
        <div class="ValueW" R="D84a07F108" A="D84a07F106" ALM="D84a07F110" style="position:absolute;width:15px;height:15px; top: 499px; left: 241px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a07F108" type="text" style="display: none;"/>
	         <input id="D84a07F106" type="text" style="display: none;"/>
	         <input id="D84a07F110" type="text"  style="display: none;"/>
         <div class="ValueW" R="D84a09F108" A="D84a09F106" ALM="D84a09F110" style="position:absolute;width:15px;height:15px; top: 497px; left: 319px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a09F108" type="text" style="display: none;"/>
	         <input id="D84a09F106" type="text" style="display: none;"/>
	         <input id="D84a09F110" type="text"  style="display: none;"/>
         <div class="ValueW" R="D84a11F108" A="D84a11F106" ALM="D84a11F110" style="position:absolute;width:15px;height:15px; top: 498px; left: 398px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a11F108" type="text" style="display: none;"/>
	         <input id="D84a11F106" type="text" style="display: none;"/>
	         <input id="D84a11F110" type="text"  style="display: none;"/>
         <div class="ValueRAA_2" R2="D84a14R2" A="D84a14A" ALM="D84a14_ALM" style="position:absolute;width:15px;height:15px; top: 454px; left: 571px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a14R2" type="text" style="display: none;"/>
	         <input id="D84a14A" type="text" style="display: none;"/>
	         <input id="D84a14_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA_2" R2="D8401R2" A="D8401A" ALM="D8401_ALM" style="position:absolute;width:15px;height:15px; top: 482px; left: 639px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D8401R2" type="text" style="display: none;"/>
	         <input id="D8401A" type="text" style="display: none;"/>
	         <input id="D8401_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D84a13R2" A="D84a13A" ALM="D84a13_ALM" style="position:absolute;width:15px;height:15px; top: 528px; left: 549px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a13R2" type="text" style="display: none;"/>
	         <input id="D84a13A" type="text" style="display: none;"/>
	         <input id="D84a13_ALM" type="text"  style="display: none;"/>
        <div class="ValueRAA" R="D84a152R2" A="D84a152A" ALM="D84a152_ALM" style="position:absolute;width:15px;height:15px; top: 221px; left: 382px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a152R2" type="text" style="display: none;"/>
	         <input id="D84a152A" type="text" style="display: none;"/>
	         <input id="D84a152_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D84a151R2" A="D84a151A1" ALM="D84a151_ALM" style="position:absolute;width:15px;height:15px; top: 263px; left: 375px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a151R2" type="text" style="display: none;"/>
	         <input id="D84a151A1" type="text" style="display: none;"/>
	         <input id="D84a151_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D66261R" A="D66261A" ALM="D66261_ALM" style="position:absolute;width:15px;height:15px; top: 224px; left: 502px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D66261R" type="text" style="display: none;"/>
	         <input id="D66261A" type="text" style="display: none;"/>
	         <input id="D66261_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6624R2" A="D6624A" ALM="D6624_ALM" style="position:absolute;width:15px;height:15px; top: 284px; left: 465px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6624R2" type="text" style="display: none;"/>
	         <input id="D6624A" type="text" style="display: none;"/>
	         <input id="D6624_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D84a04R2" A="D84a04A" ALM="D84a04_ALM" style="position:absolute;width:19px; height:18px; top: 316px; left: 404px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D84a04R2" type="text" style="display: none;"/>
	         <input id="D84a04A" type="text" style="display: none;"/>
	         <input id="D84a04_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6623R2" A="D6623A" ALM="D6623_ALM" style="position:absolute;width:15px;height:15px; top: 398px; left: 664px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6623R2" type="text" style="display: none;"/>
	         <input id="D6623A" type="text" style="display: none;"/>
	         <input id="D6623_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D66251R2" A="D66251A1" ALM="D66251_ALM" style="position:absolute;width:15px;height:15px; top: 292px; left: 590px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D66251R2" type="text" style="display: none;"/>
	         <input id="D66251A1" type="text" style="display: none;"/>
	         <input id="D66251_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D66252R2" A="D66252A" ALM="D66252_ALM" style="position:absolute;width:15px;height:15px; top: 249px; left: 596px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D66252R2" type="text" style="display: none;"/>
	         <input id="D66252A" type="text" style="display: none;"/>
	         <input id="D66252_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6622R2" A="D6622A" ALM="D6622_ALM" style="position:absolute;width:19px; height:20px; top: 448px; left: 796px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6622R2" type="text" style="display: none;"/>
	         <input id="D6622A" type="text" style="display: none;"/>
	         <input id="D6622_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6617R2" A="D6617A1" ALM="D6617_ALM" style="position:absolute;width:19px; height:20px; top: 482px; left: 908px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6617R2" type="text" style="display: none;"/>
	         <input id="D6617A1" type="text" style="display: none;"/>
	         <input id="D6617_ALM" type="text"  style="display: none;"/>
          <div class="ValueRAA" R="D6617R2" A="D6617A2" ALM="D6617_ALM" style="position:absolute;width:19px; height:20px; top: 483px; left: 1194px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6617R2" type="text" style="display: none;"/>
	         <input id="D6617A2" type="text" style="display: none;"/>
	         <input id="D6617_ALM" type="text"  style="display: none;"/>
          <div class="ValueRAA" R="D6620ArR" A="D6620ArA" ALM="D6620Ar_ALM" style="position:absolute;width:19px; height:20px; top: 434px; left: 973px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6620ArR" type="text" style="display: none;"/>
	         <input id="D6620ArA" type="text" style="display: none;"/>
	         <input id="D6620Ar_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6620R" A="D6620A" ALM="D6620_ALM" style="position:absolute;width:19px; height:20px; top: 406px; left: 1045px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6620R" type="text" style="display: none;"/>
	         <input id="D6620A" type="text" style="display: none;"/>
	         <input id="D6620_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6621R2" A="D6621A" ALM="D6621_ALM" style="position:absolute;width:19px; height:20px; top: 448px; left: 1142px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6621R2" type="text" style="display: none;"/>
	         <input id="D6621A" type="text" style="display: none;"/>
	         <input id="D6621_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6618R2" A="D6618A" ALM="D6618_ALM" style="position:absolute;width:19px; height:20px; top: 416px; left: 1336px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6618R2" type="text" style="display: none;"/>
	         <input id="D6618A" type="text" style="display: none;"/>
	         <input id="D6618_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D66271R2" A="D66271A" ALM="D66271_ALM" style="position:absolute;width:21px; height:23px; top: 106px; left: 1141px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D66271R2" type="text" style="display: none;"/>
	         <input id="D66271A" type="text" style="display: none;"/>
	         <input id="D66271_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6628R2" A="D6628A" ALM="D6628_ALM" style="position:absolute;width:19px; height:20px; top: 46px; left: 1217px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6628R2" type="text" style="display: none;"/>
	         <input id="D6628A" type="text" style="display: none;"/>
	         <input id="D6628_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D6627AMR2" A="D6627AMA1" ALM="D6627AM_ALM" style="position:absolute;width:12px; height:14px; top: 66px; left: 1146px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D6627AMR2" type="text" style="display: none;"/>
	         <input id="D6627AMA1" type="text" style="display: none;"/>
	         <input id="D6627AM_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D5743R2" A="D5743A" ALM="D5743_ALM" style="position:absolute;width:15px; height:16px; top: 81px; left: 1020px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D5743R2" type="text" style="display: none;"/>
	         <input id="D5743A" type="text" style="display: none;"/>
	         <input id="D5743_ALM" type="text"  style="display: none;"/>
         <div class="ValueRAA" R="D5742R2" A="D5742A" ALM="D5742_ALM" style="position:absolute;width:25px; height:26px; top: 19px; left: 1007px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D5742R2" type="text" style="display: none;"/>
	         <input id="D5742A" type="text" style="display: none;"/>
	         <input id="D5742_ALM" type="text"  style="display: none;"/>
         <div class="ValueA"  A1="D79a02A" style="position:absolute;width:22px; height:21px; top: 97px; left: 439px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="D79a02A" type="text" style="display: none;"/>
         <!--开关量结束-->
	        


        </div>

