
    <div class="templatediv" style="position:relative; background-image: url(/Monitoring/Templates/Db_01_WastedHeatPower/TurbineGeneralAppearance/template.png);width:1398px;height:826px; ">
        <input id="F_4TPT23_R" type="text" style="position:absolute;width:48px; top: 58px; left: 135px;" />
        <input id="F_4TTE16_R" type="text" style="position:absolute;width:48px; top: 82px; left: 135px;" />
        <input id="F_4TPT24_R" type="text" style="position:absolute;width:48px; top: 61px; left: 347px;" />
        <input id="F_4TTE17_R" type="text" style="position:absolute;width:48px; top: 85px; left: 347px;" />
        <input id="F_4TFT01_R" type="text" style="position:absolute;width:48px; top: 80px; left: 480px;" />
        <input id="F_4TFT01_R1" type="text" style="position:absolute;width:48px; top: 118px; left: 480px;" />
        <input id="F_4TPT01A_R" type="text" style="position:absolute;width:40px; top: 84px; left: 638px;" />
        <input id="F_4TTE01_R" type="text" style="position:absolute;width:48px; top: 119px; left: 681px;" />
        <input id="F_4TVIS01_R" type="text" style="position:absolute;width:48px; top: 143px; left: 666px;" />
        <input id="F_4TPT02A_R" type="text" style="position:absolute;width:48px; top: 123px; left: 761px;" />
        <input id="F_4TTE02_R" type="text" style="position:absolute;width:48px; top: 106px; left: 905px;" />
        <input id="F_4TVIS02_R" type="text" style="position:absolute;width:48px; top: 142px; left: 926px;" />
        <input id="F_4T9M_I_R" type="text" style="position:absolute;width:48px; top: 96px; left: 983px;" />
        <input id="F_4TVIS03_R" type="text" style="position:absolute;width:48px; top: 143px; left: 1182px;" />
        <input id="DEHZS_R" type="text" style="position:absolute;width:48px; top: 166px; left: 1292px;" />
        <input id="DEHZG_OUT" type="text" style="position:absolute;width:48px; top: 189px; left: 1292px;" />

        <input id="F_4TPT22_R" type="text" style="position:absolute;width:48px; top: 138px; left: 141px;" />
        <input id="F_4TTE15_R" type="text" style="position:absolute;width:48px; top: 161px; left: 141px;" />
        <input id="F_4TFT04_R" type="text" style="position:absolute;width:48px; top: 214px; left: 94px;" />
        <input id="F_4TFT04_R1" type="text" style="position:absolute;width:48px; top: 254px; left: 94px;" />
        <input id="F_4TPT10A_R" type="text" style="position:absolute;width:48px; top: 215px; left: 304px;" />
        <input id="F_4TTE13_R" type="text" style="position:absolute;width:48px; top: 253px; left: 304px;" />
        <input id="F_4TPT08_R" type="text" style="position:absolute;width:48px; top: 294px; left: 439px;" />
        <input id="F_4TZIS01_R" type="text" style="position:absolute;width:48px; top: 213px; left: 546px;" />
        <input id="F_4TPT09_R" type="text" style="position:absolute;width:48px; top: 259px; left: 546px;" />
        <input id="F_4TTE10_R" type="text" style="position:absolute;width:48px; top: 367px; left: 493px;" />
        <input id="F_4T11M_I_R" type="text" style="position:absolute;width:48px; top: 349px; left: 665px;" />
        <input id="F_4T12M_I_R" type="text" style="position:absolute;width:48px; top: 390px; left: 665px;" />
        <input id="F_4TTE08A_R" type="text" style="position:absolute;width:48px; top: 384px; left: 772px;" />
        <input id="F_4TSIS01A_R" type="text" style="position:absolute;width:48px; top: 193px; left: 825px;" />
        <input id="F_4TZDIS01_R" type="text" style="position:absolute;width:48px; top: 215px; left: 931px;" />
        <input id="F_4TPT03A_R" type="text" style="position:absolute;width:48px; top: 255px; left: 926px;" />
        <input id="F_4TTE03_R" type="text" style="position:absolute;width:48px; top: 292px; left: 922px;" />
        <input id="F_4TPT04_R" type="text" style="position:absolute;width:48px; top: 336px; left: 937px;" />
        <input id="F_4TTE07A_R" type="text" style="position:absolute;width:48px; top: 384px; left: 858px;" />
        <input id="F_3AC_I_R" type="text" style="position:absolute;width:64px; top: 241px; left: 1218px;" />
        <input id="F_4TSIS01A_R" type="text" style="position:absolute;width:48px; top: 276px; left: 1218px;" />
        <input id="F_4TTE08B_R" style="position:absolute;width:48px; top: 383px; left: 1176px;" type="text" />
        <input id="F_4TTE07B_R" type="text" style="position:absolute;width:48px; top: 381px; left: 1090px;" />

        <input id="F_4TPT11_R" type="text" style="position:absolute;width:48px; bottom: 400px; left: 85px;" />
        <input id="F_4TLZ03_R" type="text" style="position:absolute;width:48px; top: 383px; left: 218px;" />
        <input id="F_4TFT03_R1" type="text" style="position:absolute;width:48px; top: 469px; left: 247px;" />
        <input id="F_4TFT03_R" type="text" style="position:absolute;width:48px; top: 495px; left: 247px;" />
        <input id="F_4TPT06_R" type="text" style="position:absolute;width:48px; top: 480px; left: 344px;" />
        <input id="F_4T4M_PV_R" type="text" style="position:absolute;width:48px; top: 542px; left: 105px;" />
        <input id="F_4T4M_I_R" type="text" style="position:absolute;width:48px; top: 566px; left: 105px;" />
        <input id="F_4TPT07_R" type="text" style="position:absolute;width:40px; top: 588px; left: 6px;" />
        <input id="F_4T5M_PV_R" type="text" style="position:absolute;width:48px; top: 657px; left: 105px;" />
        <input id="F_4T5M_I_R" type="text" style="position:absolute;width:48px; top: 681px; left: 105px;" />
        <input id="F_4TLT03_R" type="text" style="position:absolute;width:48px; top: 628px; left: 277px;" />
        <input id="F_4TTE06_R" type="text" style="position:absolute;width:44px; top: 628px; left: 359px;" />

        <input id="F_4TFT02_R" type="text" style="position:absolute;width:48px; top: 497px; left: 453px;" />
        <input id="F_4TLT02_R" type="text" style="position:absolute;width:48px; top: 423px; left: 519px;" />
        <input id="F_4TTE05_R" type="text" style="position:absolute;width:46px; top: 497px; left: 529px;" />
        <input id="F_4T6M_I_R" type="text" style="position:absolute;width:48px; top: 469px; left: 596px;" />
        <input id="F_4T7M_I_R" type="text" style="position:absolute;width:48px; top: 495px; left: 596px;" />
        <input id="F_4T6M_PV_R" type="text" style="position:absolute;width:33px; top: 469px; left: 668px;" />
        <input id="F_4T7M_PV_R" type="text" style="position:absolute;width:33px; top: 495px; left: 668px;" />
        <input id="F_4TFT02_R1" type="text" style="position:absolute;width:48px; top: 537px; left: 485px;" />
        <input id="F_4TPT05_R" type="text" style="position:absolute;width:35px; top: 537px; left: 574px;" />
        <input id="F_4WTT01_R" type="text" style="position:absolute;width:48px; top: 573px; left: 472px;" />
        <input id="F_4WLT01_R" type="text" style="position:absolute;width:48px; top: 596px; left: 472px;" />
        <input id="F_4WVT01_R" type="text" style="position:absolute;width:48px; top: 620px; left: 472px;" />
        <input id="F_4W4M_PV_R" type="text" style="position:absolute;width:48px; top: 581px; left: 581px;" />
        <input id="F_4W4M_I_R" type="text" style="position:absolute;width:48px; top: 606px; left: 581px;" />
        <input id="F_4W5M_PV_R" type="text" style="position:absolute;width:40px; top: 581px; left: 657px;" />
        <input id="F_4W5M_I_R" type="text" style="position:absolute;width:40px; top: 606px; left: 657px;" />
        <input id="F_4WLT03_R" type="text" style="position:absolute;width:48px; top: 640px; left: 544px;" />
        <input id="F_4WTT02_R" type="text" style="position:absolute;width:48px; top: 571px; left: 757px;" />
        <input id="F_4WLT02_R" type="text" style="position:absolute;width:48px; top: 595px; left: 757px;" />
        <input id="F_4WVT02_R" type="text" style="position:absolute;width:48px; top: 619px; left: 757px;" />

        <input id="F_4TLT01_R" type="text" style="position:absolute;width:48px; top: 468px; left: 928px;" />
        <input id="F_4TTE04_R" type="text" style="position:absolute;width:48px; top: 470px; left: 1027px;" />
        <input id="F_4W1M_I_R" type="text" style="position:absolute;width:48px; top: 564px; left: 865px;" />
        <input id="F_4W2M_I_R" type="text" style="position:absolute;width:48px; top: 564px; left: 937px;" />
        <input id="F_4W3M_I_R" type="text" style="position:absolute;width:48px; top: 564px; left: 1033px;" />
        <input id="F_4W1M_PV_R" type="text" style="position:absolute;width:48px; top: 616px; left: 857px;" />
        <input id="F_4W2M_PV_R" type="text" style="position:absolute;width:48px; top: 616px; left: 946px;" />
        <input id="F_4W3M_PV_R" type="text" style="position:absolute;width:48px; top: 619px; left: 1044px;" />
        <input id="F_4TTE09_R" type="text" style="position:absolute;width:48px; top: 621px; left: 1182px;" />


    </div>

