

    <div class="templatediv" style="position:relative; background-image: url(/Monitoring/Templates/Db_01_WastedHeatPower/BoilerSmokeSystem/template.png); width: 1394px; height:844px; ">
        <input id="F_4SZZ01_R" type="text" style="position:absolute;width:48px; top: 86px; left: 203px;" />
        <input id="F_4SPT01_R" type="text" style="position:absolute;width:48px; top: 147px; left: 26px;height:11px;" />
        <input id="F_4STT01_R" type="text" style="position:absolute;width:48px; top: 170px; left: 26px;height:11px;" />
        <input id="F_4SPT02_R" type="text" style="position:absolute;width:48px;height:11px; top: 147px; left: 130px;" />
        <input id="F_4STT02_R" type="text" style="position:absolute;width:48px;height:11px; top: 170px; left: 130px;" />
        <input id="F_4STT03_R" type="text" style="position:absolute;width:48px;height:11px; top: 211px; left: 26px;" />
        <input id="F_4STT04_R" type="text" style="position:absolute;width:48px;height:11px; top: 211px; left: 119px;" />
        <input id="F_4STT05_R" type="text" style="position:absolute;width:48px;height:11px; top: 354px; left: 33px;" />
        <input id="F_4STT06_R" type="text" style="position:absolute;width:40px;height:11px; top: 354px; left: 130px;" />
        <input id="F_4STT07_R" type="text" style="position:absolute;width:48px;height:11px; top: 396px; left: 33px;" />
        <input id="F_4SPT03_R" type="text" style="position:absolute;width:48px;height:11px; top: 418px; left: 33px;" />
        <input id="F_4STT08_R" type="text" style="position:absolute;width:48px;height:11px; top: 396px; left: 134px;" />
        <input id="F_4SPT04_R" type="text" style="position:absolute;width:48px;height:11px; top: 418px; left: 134px;" />
        <input id="F_4SZZ03_R" type="text" style="position:absolute;width:48px;top: 365px; left: 193px;" />
        <input id="F_4S1M_I_R" type="text" style="position:absolute;width:38px;top: 498px; left: 4px;" />
        <input id="F_4S2M_I_R" type="text" style="position:absolute;width:38px;top: 498px; left: 168px;" />
        <input id="F_4S3M_I_R" type="text" style="position:absolute;width:48px;top: 563px; left: 151px;" />
        <input id="F_4S4M_I_R" type="text" style="position:absolute;width:48px;top: 606px; left: 186px;" />
        <input id="F_4SZZ02_R" type="text" style="position:absolute;width:38px;top: 261px; left: 294px;" />

        <input id="F_4AZZ01_R" type="text" style="position:absolute;width:48px;top: 86px; left: 747px;" />
        <input id="F_4AZZ04_R" type="text" style="position:absolute;width:48px;top: 179px; left: 791px;" />
        <input id="F_4A1M_I_R" type="text" style="position:absolute;width:48px; top: 427px; left: 736px;" />
        <input id="F_4A5M_I_R" type="text" style="position:absolute;width:48px; top: 535px; left: 817px;" />
        <input id="F_4AZZ05_R" type="text" style="position:absolute;width:48px; top: 617px; left: 807px;" />
        <input id="F_4A2M_I_R" type="text" style="position:absolute;width:48px; top: 478px; left: 935px;" />
        <input id="F_4A4M_I_R" type="text" style="position:absolute;width:48px; top: 533px; left: 1002px; " />
        <input id="F_4A3M_I_R" type="text" style="position:absolute;width:48px; top: 480px; left: 1100px;" />
        <input id="F_4A6M_I_R" type="text" style="position:absolute;width:48px; top: 573px; left: 1096px;" />
        <input id="F_4AZZ03_R" type="text" style="position:absolute;width:48px; top: 405px; left: 1142px;" />

        <input id="F_4APT01_R" type="text" style="position:absolute;width:48px;height:11px; top: 203px; left: 968px;" />
        <input id="F_4ATT01_R" type="text" style="position:absolute;width:48px;height:11px; top: 224px; left: 968px;" />
        <input id="F_4ATT02_R" type="text" style="position:absolute;width:48px;height:11px; top: 270px; left: 968px;" />
        <input id="F_4ATT03_R" type="text" style="position:absolute;width:48px;height:11px; top: 351px; left: 976px;" />
        <input id="F_4APT02_R" type="text" style="position:absolute;width:48px;height:11px; top: 414px; left: 976px;" />
        <input id="F_4ATT04_R" type="text" style="position:absolute;width:48px;height:11px; top: 432px; left: 976px;" />


    </div>


