<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <add name="ManagementData" providerName="System.Data.SqlClient" connectionString="Data Source=DEC-WINSVR12;Initial Catalog=NXJC_DEVELOP;User ID=sa;Password=jsh123+;"/>
    <add name="ConnectionStringModel" connectionString="Data Source={0};Initial Catalog={1};User ID={2};Password={3};"/>
    <add name="IndustryEnergy_SH" providerName="System.Data.SqlClient" connectionString="Data Source=QH-20140814XCYI;Initial Catalog=IndustryEnergy_SH;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>
</configuration>