     <div style="position:relative; background-image: url(/Monitoring/Templates/Db_01_YFC/RawMaterialIngredients/template.jpg);width:1362px;height:908px; ">
         <!--模拟量开始-->
         <input id="F_21000L01_R" type="text" style="position:absolute;width:48px;top: 197px; left: 186px;" />
         <input id="F_21000L02_R" type="text" style="position:absolute;width:48px;top: 197px; left: 309px;" />
         <input id="F_21000L03_R" type="text" style="position:absolute;width:48px; right: 870px; top: 197px;" />
         <input id="F_21000L04_R" type="text" style="position:absolute;width:48px; top: 197px; left: 556px;" />
         <input id="F_21000L05_R" type="text" style="position:absolute;width:48px; top: 197px; left: 739px;" />
         <input id="F_21000L06_R" type="text" style="position:absolute;width:48px; top: 197px; left: 866px;" />
         <input id="F_21000L07_R" type="text" style="position:absolute;width:48px; top: 197px; left: 987px;" />
         <input id="F_21000L08_R" type="text" style="position:absolute;width:48px; top: 197px; left: 1108px;" />

         <input id="F_210KG11_F_R" type="text" style="position:absolute;width:48px; top: 359px; left: 138px;" />
         <input id="F_210KG12_F_R" type="text" style="position:absolute;width:48px; top: 359px; left: 253px;" />
         <input id="F_210KG13_F_R" type="text" style="position:absolute;width:48px; top: 359px; left: 388px;" />
         <input id="F_210KG14_F_R" type="text" style="position:absolute;width:48px; top: 359px; left: 515px;" />
         <input id="F_210KG21_F_R" type="text" style="position:absolute;width:48px; top: 359px; left: 689px;" />
         <input id="F_210KG22_F_R" type="text" style="position:absolute;width:48px; top: 359px; left: 812px;" />
         <input id="F_210KG23_F_R" type="text" style="position:absolute;width:48px; top: 359px; left: 948px;" />
         <input id="F_210KG3_F_R" type="text" style="position:absolute;width:48px; top: 332px; left: 1068px;" />
         <input id="F_21029M_I_R" type="text" style="position:absolute;width:48px; top: 467px; left: 1090px;" />

         <input id="F_210KG11_BT1_ZONG" type="text" style="position:absolute;width:54px; top: 605px; left: 262px;" />
         <input id="WLL_OUT" type="text" style="position:absolute;width:48px; top: 599px; left: 412px;" />
         <input id="TOL_210" type="text" style="position:absolute;width:65px; top: 588px; left: 598px;" />
         <input id="Q_210" type="text" style="position:absolute;width:65px; top: 612px; left: 598px;" />
         <input id="TIME_IN" type="text" style="position:absolute;width:75px; top: 608px; left: 721px;" />

         <input id="F_210KG11BFB_OUT" type="text" style="position:absolute;width:48px;top: 669px; left: 227px;" />
         <input id="F_210KG12BFB_OUT" type="text" style="position:absolute;width:48px;top: 697px; left: 227px;" />
         <input id="F_210KG13BFB_OUT" type="text" style="position:absolute;width:48px;top: 724px; left: 227px;" />
         <input id="F_210KG14BFB_OUT" type="text" style="position:absolute;width:48px;top: 749px; left: 227px;" />
         <input id="F_210KG21BFB_OUT" type="text" style="position:absolute;width:48px;top: 778px; left: 227px;" />
         <input id="F_210KG22BFB_OUT" type="text" style="position:absolute;width:48px;top: 806px; left: 227px;" />
         <input id="F_210KG23BFB_OUT" type="text" style="position:absolute;width:48px;top: 831px; left: 227px;" />
         <input id="F_210KG3BFB_OUT" type="text" style="position:absolute;width:48px;top: 860px; left: 227px;" />

         <input id="F_210KG11_OUT1" type="text" style="position:absolute;width:48px;top: 669px; left: 308px;" />
         <input id="F_210KG12_OUT1" type="text" style="position:absolute;width:48px;top: 697px; left: 308px;" />
         <input id="F_210KG13_OUT1" type="text" style="position:absolute;width:48px;top: 724px; left: 308px;" />
         <input id="F_210KG14_OUT1" type="text" style="position:absolute;width:48px;top: 749px; left: 308px;" />
         <input id="F_210KG21_OUT1" type="text" style="position:absolute;width:48px;top: 778px; left: 308px;" />
         <input id="F_210KG22_OUT1" type="text" style="position:absolute;width:48px;top: 806px; left: 308px;" />
         <input id="F_210KG23_OUT1" type="text" style="position:absolute;width:48px;top: 831px; left: 308px;" />
         <input id="F_210KG3_OUT1" type="text" style="position:absolute;width:48px;top: 860px; left: 308px;" />

         <input id="F_210KG11_F_R" type="text" style="position:absolute;width:48px;top: 669px; left: 402px;" />
         <input id="F_210KG12_F_R" type="text" style="position:absolute;width:48px;top: 697px; left: 402px;" />
         <input id="F_210KG13_F_R" type="text" style="position:absolute;width:48px;top: 724px; left: 402px;" />
         <input id="F_210KG14_F_R" type="text" style="position:absolute;width:48px;top: 749px; left: 402px;" />
         <input id="F_210KG21_F_R" type="text" style="position:absolute;width:48px;top: 778px; left: 402px;" />
         <input id="F_210KG22_F_R" type="text" style="position:absolute;width:48px;top: 806px; left: 402px;" />
         <input id="F_210KG23_F_R" type="text" style="position:absolute;width:48px;top: 831px; left: 402px;" />
         <input id="F_210KG3_F_R" type="text" style="position:absolute;width:48px;top: 860px; left: 402px;" />


         <input id="Q_21018W2" type="text" style="position:absolute;width:58px;top: 669px; left: 504px;" />
         <input id="Q_21019W2" type="text" style="position:absolute;width:58px;top: 697px; left: 504px;" />
         <input id="Q_21020W2" type="text" style="position:absolute;width:58px;top: 724px; left: 504px;" />
         <input id="Q_21021W2" type="text" style="position:absolute;width:58px;top: 749px; left: 504px;" />
         <input id="Q_21022W2" type="text" style="position:absolute;width:58px;top: 778px; left: 504px;" />
         <input id="Q_21023W2" type="text" style="position:absolute;width:58px;top: 806px; left: 504px;" />
         <input id="Q_21024W2" type="text" style="position:absolute;width:58px;top: 831px; left: 504px;" />
         <input id="Q_21025W2" type="text" style="position:absolute;width:58px;top: 860px; left: 504px;" />

         <input id="F_210KG11_FBFB_BT1" type="text" style="position:absolute;width:58px;top: 669px; left: 604px;" />
         <input id="F_210KG12_FBFB_BT1" type="text" style="position:absolute;width:58px;top: 697px; left: 604px;" />
         <input id="F_210KG13_FBFB_BT1" type="text" style="position:absolute;width:58px;top: 724px; left: 604px;" />
         <input id="F_210KG14_FBFB_BT1" type="text" style="position:absolute;width:58px;top: 749px; left: 604px;" />
         <input id="F_210KG21_FBFB_BT1" type="text" style="position:absolute;width:58px;top: 778px; left: 604px;" />
         <input id="F_210KG22_FBFB_BT1" type="text" style="position:absolute;width:58px;top: 806px; left: 604px;" />
         <input id="F_210KG23_FBFB_BT1" type="text" style="position:absolute;width:58px;top: 831px; left: 604px;" />
         <input id="F_210KG3_FBFB_BT1" type="text" style="position:absolute;width:58px;top: 860px; left: 604px;" />

         <input id="F_210KG11_BFB_TIM1" type="text" style="position:absolute;width:58px;top: 669px; left: 725px;" />
         <input id="F_210KG12_BFB_TIM1" type="text" style="position:absolute;width:58px;top: 697px; left: 725px;" />
         <input id="F_210KG13_BFB_TIM1" type="text" style="position:absolute;width:58px;top: 724px; left: 725px;" />
         <input id="F_210KG14_BFB_TIM1" type="text" style="position:absolute;width:58px;top: 749px; left: 725px;" />
         <input id="F_210KG21_BFB_TIM1" type="text" style="position:absolute;width:58px;top: 778px; left: 725px;" />
         <input id="F_210KG22_BFB_TIM1" type="text" style="position:absolute;width:58px;top: 806px; left: 725px;" />
         <input id="F_210KG23_BFB_TIM1" type="text" style="position:absolute;width:58px;top: 831px; left: 725px;" />
         <input id="F_210KG3_BFB_TIM1" type="text" style="position:absolute;width:58px;top: 860px; left: 725px;" /> 
<!--模拟量结束-->
         
<!--开关量开始-->
        <div class="ValueRRE_circle" RD="F_21012M_RD" RN="F_21012M_RN" ERR="F_21012M_ERR" style="position:absolute;width:19px; height:18px; top: 22px; left: 200px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21012M_RD" type="text" style="display: none;"/>
	         <input id="F_21012M_RN" type="text" style="display: none;"/>
	         <input id="F_21012M_ERR" type="text"  style="display: none;"/> 


          <div class="ValueRRE_circle" RD="F_21007AR_RD" RN="F_21007AR_RN" ERR="F_21007AR_ERR" style="position:absolute;width:19px; height:18px; top: 93px; left: 186px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21007AR_RD" type="text" style="display: none;"/>
	         <input id="F_21007AR_RN" type="text" style="display: none;"/>
	         <input id="F_21007AR_ERR" type="text"  style="display: none;"/> 



           <div class="ValueRRE_circle" RD="F_21013M_RD" RN="F_21013M_RN" ERR="F_21013M_ERR" style="position:absolute;width:19px; height:18px; top: 18px; left: 320px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21013M_RD" type="text" style="display: none;"/>
	         <input id="F_21013M_RN" type="text" style="display: none;"/>
	         <input id="F_21013M_ERR" type="text"  style="display: none;"/> 


          <div class="ValueRRE_circle" RD="F_21008AR_RD" RN="F_21008AR_RN" ERR="F_21008AR_ERR" style="position:absolute;width:19px; height:18px; top: 84px; left: 311px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21008AR_RD" type="text" style="display: none;"/>
	         <input id="F_21008AR_RN" type="text" style="display: none;"/>
	         <input id="F_21008AR_ERR" type="text"  style="display: none;"/> 



         <div class="ValueRRE_circle" RD="F_210031M_RD" RN="F_210031M_RN2" ERR="F_210031M_ERR" style="position:absolute;width:19px; height:18px; top: 123px; left: 237px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210031M_RD" type="text" style="display: none;"/>
	         <input id="F_210031M_RN2" type="text" style="display: none;"/>
	         <input id="F_210031M_ERR" type="text"  style="display: none;"/> 




         <div class="ValueRRE_circle" RD="F_21005M_RD" RN="F_21005M_RN2" ERR="F_21005M_ERR" style="position:absolute;width:19px; height:18px; top: 160px; left: 362px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21005M_RD" type="text" style="display: none;"/>
	         <input id="F_21005M_RN2" type="text" style="display: none;"/>
	         <input id="F_21005M_ERR" type="text"  style="display: none;"/> 


          <div class="ValueRRE_circle" RD="F_21005M_RD" RN="F_21005M_RN1" ERR="F_21005M_ERR" style="position:absolute;width:19px; height:18px; top: 161px; left: 481px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21005M_RD" type="text" style="display: none;"/>
	         <input id="F_21005M_RN1" type="text" style="display: none;"/>
	         <input id="F_21005M_ERR" type="text"  style="display: none;"/> 



         <div class="ValueRRE_circle" RD="F_210031M_RD" RN="F_210031M_RN1" ERR="F_210031M_ERR" style="position:absolute;width:19px; height:18px; top: 122px; left: 559px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210031M_RD" type="text" style="display: none;"/>
	         <input id="F_210031M_RN1" type="text" style="display: none;"/>
	         <input id="F_210031M_ERR" type="text"  style="display: none;"/> 


          <div class="ValueRRE_circle" RD="F_21014M_RD" RN="F_21014M_RN" ERR="F_21014M_ERR" style="position:absolute;width:19px; height:18px; top: 19px; left: 632px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21014M_RD" type="text" style="display: none;"/>
	         <input id="F_21014M_RN" type="text" style="display: none;"/>
	         <input id="F_21014M_ERR" type="text"  style="display: none;"/> 


          <div class="ValueRRE_circle" RD="F_21009AR_RD" RN="F_21009AR_RN" ERR="F_21009AR_ERR" style="position:absolute;width:19px; height:18px; top: 93px; left: 617px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21009AR_RD" type="text" style="display: none;"/>
	         <input id="F_21009AR_RN" type="text" style="display: none;"/>
	         <input id="F_21009AR_ERR" type="text"  style="display: none;"/> 



          <div class="ValueRRE_circle" RD="F_21015M_RD" RN="F_21015M_RN" ERR="F_21015M_ERR" style="position:absolute;width:19px; height:18px; top: 17px; left: 756px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21015M_RD" type="text" style="display: none;"/>
	         <input id="F_21015M_RN" type="text" style="display: none;"/>
	         <input id="F_21015M_ERR" type="text"  style="display: none;"/> 


         <div class="ValueRRE_circle" RD="F_21010AR_RD" RN="F_21010AR_RN" ERR="F_21010AR_ERR" style="position:absolute;width:19px; height:18px; top: 92px; left: 745px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21010AR_RD" type="text" style="display: none;"/>
	         <input id="F_21010AR_RN" type="text" style="display: none;"/>
	         <input id="F_21010AR_ERR" type="text"  style="display: none;"/> 


         
         <div class="ValueRRE_circle" RD="F_21004M_RD" RN="F_21004M_RN" ERR="F_21004M_ERR" style="position:absolute;width:19px; height:18px; top: 122px; left: 811px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21004M_RD" type="text" style="display: none;"/>
	         <input id="F_21004M_RN" type="text" style="display: none;"/>
	         <input id="F_21004M_ERR" type="text"  style="display: none;"/> 



         <div class="ValueRRE_circle" RD="F_21006M_RD" RN="F_21006M_RN2" ERR="F_21006M_ERR" style="position:absolute;width:19px; height:18px; top: 158px; left: 913px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21006M_RD" type="text" style="display: none;"/>
	         <input id="F_21006M_RN2" type="text" style="display: none;"/>
	         <input id="F_21006M_ERR" type="text"  style="display: none;"/> 



         <div class="ValueRRE_circle" RD="F_21006M_RD" RN="F_21006M_RN1" ERR="F_21006M_ERR" style="position:absolute;width:19px; height:18px; top: 160px; left: 1017px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21006M_RD" type="text" style="display: none;"/>
	         <input id="F_21006M_RN1" type="text" style="display: none;"/>
	         <input id="F_21006M_ERR" type="text"  style="display: none;"/> 



          <div class="ValueRRE_circle" RD="F_21016M_RD" RN="F_21016M_RN" ERR="F_21016M_ERR" style="position:absolute;width:19px; height:18px; top: 18px; left: 1085px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21016M_RD" type="text" style="display: none;"/>
	         <input id="F_21016M_RN" type="text" style="display: none;"/>
	         <input id="F_21016M_ERR" type="text"  style="display: none;"/> 


          <div class="ValueRRE_circle" RD="F_21011AR_RD" RN="F_21011AR_RN" ERR="F_21011AR_ERR" style="position:absolute;width:19px; height:18px; top: 97px; left: 1070px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21011AR_RD" type="text" style="display: none;"/>
	         <input id="F_21011AR_RN" type="text" style="display: none;"/>
	         <input id="F_21011AR_ERR" type="text"  style="display: none;"/> 


         
          <div class="ValueRRE_circle" RD="F_210KG11_RD" RN="F_210KG11_RN" ERR="F_210KG11_ERR" style="position:absolute;width:19px; height:18px; top: 387px; left: 183px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210KG11_RD" type="text" style="display: none;"/>
	         <input id="F_210KG11_RN" type="text" style="display: none;"/>
	         <input id="F_210KG11_ERR" type="text"  style="display: none;"/> 


         <div class="ValueRRE_circle" RD="F_21039M_RD" RN="F_21039M_RN" ERR="F_21039M_ERR" style="position:absolute;width:19px; height:18px; top: 411px; left: 96px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21039M_RD" type="text" style="display: none;"/>
	         <input id="F_21039M_RN" type="text" style="display: none;"/>
	         <input id="F_21039M_ERR" type="text"  style="display: none;"/> 



         <div class="ValueRRE_circle" RD="F_21036AR_RD" RN="F_21036AR_RN" ERR="F_21036AR_ERR" style="position:absolute;width:19px; height:18px; top: 474px; left: 88px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21036AR_RD" type="text" style="display: none;"/>
	         <input id="F_21036AR_RN" type="text" style="display: none;"/>
	         <input id="F_21036AR_ERR" type="text"  style="display: none;"/> 


         <div class="ValueRRE_circle" RD="F_21026M_RD" RN="F_21026M_RN" ERR="F_21026M_ERR" style="position:absolute;width:19px; height:18px; top: 452px; left: 152px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21026M_RD" type="text" style="display: none;"/>
	         <input id="F_21026M_RN" type="text" style="display: none;"/>
	         <input id="F_21026M_ERR" type="text"  style="display: none;"/> 


          <div class="ValueRRE_circle" RD="F_210KG12_RD" RN="F_210KG12_RN" ERR="F_210KG12_ERR" style="position:absolute;width:19px; height:18px; top: 387px; left: 302px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210KG12_RD" type="text" style="display: none;"/>
	         <input id="F_210KG12_RN" type="text" style="display: none;"/>
	         <input id="F_210KG12_ERR" type="text"  style="display: none;"/>

         <div class="ValueRRE_circle" RD="F_210KG13_RD" RN="F_210KG13_RN" ERR="F_210KG13_ERR" style="position:absolute;width:19px; height:18px; top: 386px; left: 429px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210KG13_RD" type="text" style="display: none;"/>
	         <input id="F_210KG13_RN" type="text" style="display: none;"/>
	         <input id="F_210KG13_ERR" type="text"  style="display: none;"/>


          <div class="ValueRRE_circle" RD="F_210KG14_RD" RN="F_210KG14_RN" ERR="F_210KG14_ERR" style="position:absolute;width:19px; height:18px; top: 388px; left: 558px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210KG14_RD" type="text" style="display: none;"/>
	         <input id="F_210KG14_RN" type="text" style="display: none;"/>
	         <input id="F_210KG14_ERR" type="text"  style="display: none;"/>


             <div class="ValueRRE_circle" RD="F_21027M_RD" RN="F_21027M_RN" ERR="F_21027M_ERR" style="position:absolute;width:19px; height:18px; top: 452px; left: 645px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21027M_RD" type="text" style="display: none;"/>
	         <input id="F_21027M_RN" type="text" style="display: none;"/>
	         <input id="F_21027M_ERR" type="text"  style="display: none;"/> 


         <div class="ValueRRE_circle" RD="F_210KG21_RD" RN="F_210KG21_RN" ERR="F_210KG21_ERR" style="position:absolute;width:19px; height:18px; top: 388px; left: 737px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210KG21_RD" type="text" style="display: none;"/>
	         <input id="F_210KG21_RN" type="text" style="display: none;"/>
	         <input id="F_210KG21_ERR" type="text"  style="display: none;"/>


         <div class="ValueRRE_circle" RD="F_210KG22_RD" RN="F_210KG22_RN" ERR="F_210KG22_ERR" style="position:absolute;width:19px; height:18px; top: 386px; left: 859px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210KG22_RD" type="text" style="display: none;"/>
	         <input id="F_210KG22_RN" type="text" style="display: none;"/>
	         <input id="F_210KG22_ERR" type="text"  style="display: none;"/>


         <div class="ValueRRE_circle" RD="F_210KG23_RD" RN="F_210KG23_RN" ERR="F_210KG23_ERR" style="position:absolute;width:19px; height:18px; top: 387px; left: 987px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210KG23_RD" type="text" style="display: none;"/>
	         <input id="F_210KG23_RN" type="text" style="display: none;"/>
	         <input id="F_210KG23_ERR" type="text"  style="display: none;"/>


         <div class="ValueRRE_circle" RD="F_210KG3_RD" RN="F_210KG3_RN" ERR="F_210KG3_ERR" style="position:absolute;width:19px; height:18px; top: 393px; left: 1223px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_210KG3_RD" type="text" style="display: none;"/>
	         <input id="F_210KG3_RN" type="text" style="display: none;"/>
	         <input id="F_210KG3_ERR" type="text"  style="display: none;"/>


         <div class="ValueRRE_circle" RD="F_21040M_RD" RN="F_21040M_RN" ERR="F_21040M_ERR" style="position:absolute;width:19px; height:18px; top: 462px; left: 987px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21040M_RD" type="text" style="display: none;"/>
	         <input id="F_21040M_RN" type="text" style="display: none;"/>
	         <input id="F_21040M_ERR" type="text"  style="display: none;"/> 


         <div class="ValueRRE_circle" RD="F_21037AR_RD" RN="F_21037AR_RN" ERR="F_21037AR_ERR" style="position:absolute;width:19px; height:18px; top: 528px; left: 981px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21037AR_RD" type="text" style="display: none;"/>
	         <input id="F_21037AR_RN" type="text" style="display: none;"/>
	         <input id="F_21037AR_ERR" type="text"  style="display: none;"/>


         <div class="ValueRRE_circle" RD="F_21028M_RD" RN="F_21028M_RN" ERR="F_21028M_ERR" style="position:absolute;width:19px; height:18px; top: 554px; left: 874px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21028M_RD" type="text" style="display: none;"/>
	         <input id="F_21028M_RN" type="text" style="display: none;"/>
	         <input id="F_21028M_ERR" type="text"  style="display: none;"/> 



          <div class="ValueRRE_circle" RD="F_21029M_RD" RN="F_21029M_RN" ERR="F_21029M_ERR" style="position:absolute;width:19px; height:18px; top: 500px; left: 1126px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21029M_RD" type="text" style="display: none;"/>
	         <input id="F_21029M_RN" type="text" style="display: none;"/>
	         <input id="F_21029M_ERR" type="text"  style="display: none;"/> 


         <div class="ValueRRE_circle" RD="F_21041M_RD" RN="F_21041M_RN" ERR="F_21041M_ERR" style="position:absolute;width:19px; height:18px; top: 483px; left: 1211px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21041M_RD" type="text" style="display: none;"/>
	         <input id="F_21041M_RN" type="text" style="display: none;"/>
	         <input id="F_21041M_ERR" type="text"  style="display: none;"/> 


          <div class="ValueRRE_circle" RD="F_21038AR_RD" RN="F_21038AR_RN" ERR="F_21038AR_ERR" style="position:absolute;width:19px; height:18px; top: 548px; left: 1203px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21038AR_RD" type="text" style="display: none;"/>
	         <input id="F_21038AR_RN" type="text" style="display: none;"/>
	         <input id="F_21038AR_ERR" type="text"  style="display: none;"/>


         <div class="ValueRRE_circle" RD="F_21031M_RD" RN="F_21031M_RN" ERR="F_21031M_ERR" style="position:absolute;width:19px; height:18px; top: 675px; left: 1132px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;" /></div>
	         <input id="F_21031M_RD" type="text" style="display: none;"/>
	         <input id="F_21031M_RN" type="text" style="display: none;"/>
	         <input id="F_21031M_ERR" type="text"  style="display: none;"/> 

         <!--开关量结束-->



     </div>

	