    <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_YFC/snfm/template.png);width:1488px;height:891px; ">
        <!--模拟量开始-->
        <input id="I_8445P02" type="text" style="position:absolute;width:48px; top: 132px; left: 157px;" />
        <input id="I_8445T02" type="text" style="position:absolute;width:48px; top: 155px; left: 157px;" />
        <input id="I_8453IT" type="text" style="position:absolute;width:48px; top: 197px; left: 61px;" />
        <input id="I_8451aZ01I" type="text" style="position:absolute;width:48px; top: 233px; left: 146px;" />
        <input id="I_8445P01" type="text" style="position:absolute;width:48px; top: 157px; left: 340px;" />
        <input id="I_8445T01" type="text" style="position:absolute;width:48px; top: 180px; left: 340px;" />
        <input id="I_8417IT" type="text" style="position:absolute;width:48px; top: 228px; left: 466px;" />
        <input id="I_8411IT" type="text" style="position:absolute;width:48px; top: 117px; left: 517px;" />
        <input id="I_8417NI" type="text" style="position:absolute;width:48px; top: 330px; left: 396px;" />
        <input id="I_8443aZ01I" type="text" style="position:absolute;width:48px; top: 329px; left: 519px;" />
        <input id="I_8417T01" type="text" style="position:absolute;width:48px; top: 350px; left: 599px;" />

        <input id="I_84a11FI" type="text" style="position:absolute;width:48px; top: 534px; left: 96px;" />
        <input id="I_84a09FI" type="text" style="position:absolute;width:48px; top: 562px; left: 96px;" />
        <input id="I_84a07FI" type="text" style="position:absolute;width:48px; top: 586px; left: 96px;" />
        <input id="I_84b02W123" type="text" style="position:absolute;width:48px; top: 615px; left: 96px;" />
        <input id="I_A8313AI" type="text" style="position:absolute;width:48px; top: 640px; left: 96px;" />
        <input id="I_A8315AI" type="text" style="position:absolute;width:48px; top: 665px; left: 96px;" />
        <input id="I_A8317AI" type="text" style="position:absolute;width:48px; top: 693px; left: 96px;" />
        <input id="Q_84aF1" type="text" style="position:absolute;width:48px; top: 719px; left: 96px;" />
        <input id="Q_84aFI3" type="text" style="position:absolute;width:48px; top: 745px; left: 96px;" />
        <input id="I_8439F01" type="text" style="position:absolute;width:48px; top: 587px; left: 297px;" />
        <input id="I_8407X01" type="text" style="position:absolute;width:48px; top: 609px; left: 367px;" />
        <input id="I_8407P01" type="text" style="position:absolute;width:48px; top: 569px; left: 510px;" />
        <input id="I_8407T01" type="text" style="position:absolute;width:48px; top: 591px; left: 510px;" />
        <input id="I_84071IT" type="text" style="position:absolute;width:48px; top: 668px; left: 368px;" />
        <input id="I_8407T02" type="text" style="position:absolute;width:48px; top: 709px; left: 282px;" />
        <input id="I_8407T03" type="text" style="position:absolute;width:48px; top: 709px; left: 426px;" />
        <input id="I_8407M1T02" type="text" style="position:absolute;width:48px; top: 676px; left: 522px;" />
        <input id="I_8407M1T06" type="text" style="position:absolute;width:48px; top: 700px; left: 522px;" />
        <input id="I_8407M1T08" type="text" style="position:absolute;width:48px; top: 726px; left: 522px;" />
        <input id="A84a191IT_R" type="text" style="position:absolute;width:48px; top: 829px; left: 98px;" />
        <input id="A84a192IT_R" type="text" style="position:absolute;width:48px; top: 829px; left: 188px;" />
        <input id="A84a19WT01_R" type="text" style="position:absolute;width:48px; top: 829px; left: 277px;" />
        <input id="A84a21IT_R" type="text" style="position:absolute;width:48px; top: 829px; left: 360px;" />
        <input id="I_A8313aAI" type="text" style="position:absolute;width:48px; top: 829px; left: 433px;" />
        <input id="I_84b04IT" type="text" style="position:absolute;width:40px; top: 829px; left: 512px;" />

        <input id="I_A8301IT" type="text" style="position:absolute;width:48px; top: 6px; left: 642px;" />
        <input id="I_6624IT" type="text" style="position:absolute;width:48px; top: 6px; left: 718px;" />
        <input id="I_6618IT" type="text" style="position:absolute;width:48px; top: 65px; left: 711px;" />
        <input id="I_8601IT" type="text" style="position:absolute;width:48px; top: 141px; left: 678px;" />
        <input id="I_8454IT" type="text" style="position:absolute;width:48px; top: 197px; left: 744px;" />
        <input id="I_8446P02" type="text" style="position:absolute;width:48px; top: 134px; left: 818px;" />
        <input id="I_8446T02" type="text" style="position:absolute;width:48px; top: 161px; left: 818px;" />
        <input id="I_8452aZ01I" type="text" style="position:absolute;width:48px; top: 234px; left: 834px;" />
        <input id="I_8418NI" type="text" style="position:absolute;width:48px; top: 335px; left: 1074px;" />
        <input id="I_8442T03" type="text" style="position:absolute;width:48px; top: 396px; left: 1099px;" />
        <input id="I_8441P01" type="text" style="position:absolute;width:48px; top: 545px; left: 660px;" />
        <input id="I_8441T02" type="text" style="position:absolute;width:48px; top: 592px; left: 611px;" />
        <input id="I_8441T03" type="text" style="position:absolute;width:48px; top: 616px; left: 611px;" />
        <input id="I_84411IT" type="text" style="position:absolute;width:48px; top: 641px; left: 611px;" />

        <input id="I_84a10FI" type="text" style="position:absolute;width:48px; top: 599px; left: 840px;" />
        <input id="I_84a08FI" type="text" style="position:absolute;width:48px;top:625px; left: 840px;" />
        <input id="I_84a06FI" type="text" style="position:absolute;width:48px; top: 650px; left: 840px;" />
        <input id="I_84b06W123" type="text" style="position:absolute;width:48px; top: 675px; left: 840px;" />
        <input id="I_A8314AI" type="text" style="position:absolute;width:48px; top: 700px; left: 840px;" />
        <input id="I_A8316AI" type="text" style="position:absolute;width:48px; top: 725px; left: 840px;" />
        <input id="I_A8318AI" type="text" style="position:absolute;width:48px; top: 750px; left: 840px;" />
        <input id="Q_84aF2" type="text" style="position:absolute;width:48px; top: 776px; left: 840px;" />
        <input id="Q_84aFI4" type="text" style="position:absolute;width:48px; top: 803px; left: 840px;" />

        <input id="A8404IT_R" type="text" style="position:absolute;width:48px; top: 541px; left: 889px;" />
        <input id="I_8440F01" type="text" style="position:absolute;width:48px; top: 590px; left: 958px;" />
        <input id="I_8408X01" type="text" style="position:absolute;width:48px; top: 607px; left: 1073px;" />
        <input id="I_84081IT" type="text" style="position:absolute;width:48px; top: 668px; left: 1058px;" />
        <input id="I_8408T02" type="text" style="position:absolute;width:48px; top: 707px; left: 964px;" />
        <input id="I_8408T03" type="text" style="position:absolute;width:48px; top: 707px; left: 1104px;" />

        <input id="I_8446P01" type="text" style="position:absolute;width:48px; top: 161px; left: 1003px;" />
        <input id="I_8446T01" type="text" style="position:absolute;width:48px; top: 185px; left: 1003px;" />
        <input id="I_8418IT" type="text" style="position:absolute;width:48px; top: 231px; left: 1150px;" />
        <input id="I_8412IT" type="text" style="position:absolute;width:48px; top: 117px; left: 1201px;" />
        <input id="I_8602IT" type="text" style="position:absolute;width:48px; top: 137px; left: 1374px;" />
        <input id="I_8444aZ01I" type="text" style="position:absolute;width:48px; top: 312px; left: 1204px;" />
        <input id="I_8442aZ01I" type="text" style="position:absolute;width:48px; top: 352px; left: 1281px;" />
        <input id="I_8408P01" type="text" style="position:absolute;width:48px; top: 563px; left: 1184px;" />
        <input id="I_8408T01" type="text" style="position:absolute;width:48px; top: 586px; left: 1184px;" />
        <input id="I_8442P01" type="text" style="position:absolute;width:48px; top: 547px; left: 1334px;" />

        <input id="I_8442T02" type="text" style="position:absolute;width:48px; top: 583px; left: 1299px;" />
        <input id="I_8418T01" type="text" style="position:absolute;width:48px; top: 608px; left: 1299px;" />
        <input id="I_84421IT" type="text" style="position:absolute;width:48px; top: 633px; left: 1299px;" />

        <input id="I_8408M1T02" type="text" style="position:absolute;width:48px; top: 678px; left: 1208px;" />
        <input id="I_8408M1T06" type="text" style="position:absolute;width:48px; top: 703px; left: 1208px;" />
        <input id="I_8408M1T08" type="text" style="position:absolute;width:48px; top: 728px; left: 1208px;" />

        <input id="A84a201IT_R" type="text" style="position:absolute;width:48px;top:838px; left:954px;" />
        <input id="A84a202IT_R" type="text" style="position:absolute;width:48px;top:838px; left:1042px;" />
        <input id="A84a20WT01_R" type="text" style="position:absolute;width:48px;top:838px; left:1121px;" />
        <input id="A84a22IT_R" type="text" style="position:absolute;width:48px;top:838px; left:1214px;" />
        <input id="I_A8314aAI" type="text" style="position:absolute;width:40px;top:838px; left:1289px;" />
        <input id="I_84b08IT" type="text" style="position:absolute;width:40px;top:838px; left:1363px;" />
        <input id="D8408A_TIME" type="text" style="position:absolute;width:220px; top: 867px; left: 1227px;" />
        <!--模拟量结束-->
        <!--开关量开始-->
        <div class="ValueARA" A="D8004A2" R="D8004R" ALM="D8004_2ALM" style ="position:absolute;width:24px; height:24px; top: 33px; left: 192px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8004A2" type="text" style="display: none;"/>
	        <input id="D8004R" type="text" style="display: none;"/>
	        <input id="D8004_2ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D8001A" R="D8001R" ALM="D8001_ALM" style ="position:absolute;width:24px; height:24px; top: 62px; left: 66px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8001A" type="text" style="display: none;"/>
	        <input id="D8001R" type="text" style="display: none;"/>
	        <input id="D8001_ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D8002A" R="D8002R" ALM="D8002_ALM" style ="position:absolute;width:24px; height:24px; top: 62px; left: 111px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8002A" type="text" style="display: none;"/>
	        <input id="D8002R" type="text" style="display: none;"/>
	        <input id="D8002_ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D8003A" R="D8003R" ALM="D8003_ALM" style ="position:absolute;width:24px; height:24px; top: 62px; left: 151px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8003A" type="text" style="display: none;"/>
	        <input id="D8003R" type="text" style="display: none;"/>
	        <input id="D8003_ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D8004A1" R="D8004R" ALM="D8004_1ALM" style ="position:absolute;width:24px; height:24px; top: 62px; left: 195px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8004A1" type="text" style="display: none;"/>
	        <input id="D8004R" type="text" style="display: none;"/>
	        <input id="D8004_1ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D8005A" R="D8005R" ALM="D8005_ALM" style ="position:absolute;width:24px; height:24px; top: 62px; left: 238px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8005A" type="text" style="display: none;"/>
	        <input id="D8005R" type="text" style="display: none;"/>
	        <input id="D8005_ALM" type="text" style="display: none;"/>
        <div class="ValueA" A="D79a02A"  style ="position:absolute;width:24px; height:24px; top: 91px; left: 38px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D79a02A" type="text" style="display: none;"/>
        <div class="ValueARA" A="D79a03A" R="D79a03R" ALM="D79a03_ALM" style ="position:absolute;width:24px; height:24px; top: 91px; left: 83px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D79a03A" type="text" style="display: none;"/>
	        <input id="D79a03R" type="text" style="display: none;"/>
	        <input id="D79a03_ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D7902A" R="D7902R" ALM="D7902_ALM" style ="position:absolute;width:24px; height:24px; top: 91px; left: 123px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D7902A" type="text" style="display: none;"/>
	        <input id="D7902R" type="text" style="display: none;"/>
	        <input id="D7902_ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D8301A" R="D8301R" ALM="D8301_ALM" style ="position:absolute;width:24px; height:24px; top: 91px; left: 163px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8301A" type="text" style="display: none;"/>
	        <input id="D8301R" type="text" style="display: none;"/>
	        <input id="D8301_ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D8305A" R="D8305R" ALM="D8305_ALM" style ="position:absolute;width:24px; height:24px; top: 91px; left: 204px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8305A" type="text" style="display: none;"/>
	        <input id="D8305R" type="text" style="display: none;"/>
	        <input id="D8305_ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D84a01A" R="D84a01R" ALM="D84a01_ALM" style ="position:absolute;width:24px; height:24px; top: 91px; left: 245px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84a01A" type="text" style="display: none;"/>
	        <input id="D84a01R" type="text" style="display: none;"/>
	        <input id="D84a01_ALM" type="text" style="display: none;"/>
        <div class="ValueARA" A="D84a03A" R="D84a03R" ALM="D84a03_ALM" style ="position:absolute;width:24px; height:24px; top: 91px; left: 285px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84a03A" type="text" style="display: none;"/>
	        <input id="D84a03R" type="text" style="display: none;"/>
	        <input id="D84a03_ALM" type="text" style="display: none;"/>

        <div class="ValueRAA" R="D8453R2" A="D8453A" ALM="D8453_ALM" style ="position:absolute;width:15px; height:15px; top: 202px; left: 145px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D8453R2" type="text" style="display: none;"/>
            <input id="D8453A" type="text" style="display: none;"/>
	        <input id="D8453_ALM" type="text" style="display: none;"/>
        <div class="ValueRAA"  R="D8453A" A="D84455R2" ALM="D8453_ALM" style ="position:absolute;width:15px; height:15px; top: 202px; left: 145px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84455R2" type="text" style="display: none;"/>
	        <input id="Text5" type="text" style="display: none;"/>
	        <input id="Text6" type="text" style="display: none;"/>


	        




        <!--开关量结束-->

    <div class="77" RD="" RN="" ERR="" style ="position:absolute;width:15px; height:15px; top: 67px; left: 26px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="text1" type="text" style="display: none;"/>
	        <input id="text2" type="text" style="display: none;"/>
	        <input id="text3" type="text" style="display: none;"/>
    </div>


