    <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_YFC/RollerPress/template.png);width:1486px;height:898px; ">
        <input id="I_7900L2" type="text" style="position:absolute;width:48px;top:206px; left: 88px;" />
        <input id="I_7900L4" type="text" style="position:absolute;width:48px; top: 205px; left: 196px;" />
        <input id="I_7900L6" type="text" style="position:absolute;width:48px; top: 204px; left: 294px;" />
        <input id="I_84a11FI" type="text" style="position:absolute;width:48px; top: 726px; left: 91px;" />
        <input id="I_84a09FI" type="text" style="position:absolute;width:48px; top: 749px; left: 91px;" />
        <input id="I_84a07FI" type="text" style="position:absolute;width:48px; top: 774px; left: 91px;" />
        <input id="I_84b02W123" type="text" style="position:absolute;width:48px; top: 800px; left: 91px;" />
        <input id="Q_84aF1" type="text" style="position:absolute;width:48px; top: 825px; left: 91px;" />
        <input id="Q_84aFI3" type="text" style="position:absolute;width:48px; top: 852px; left: 91px;" />
        <input id="I_A8313AI" type="text" style="position:absolute;width:48px; top: 726px; left: 229px;" />
        <input id="I_A8315AI" type="text" style="position:absolute;width:48px; top: 749px; left: 229px;" />
        <input id="I_A8317AI" type="text" style="position:absolute;width:48px; top: 774px; left: 229px;" />
        <input id="I_84a10FI" type="text" style="position:absolute;width:48px; top: 726px; left: 397px;" />
        <input id="I_84a08FI" type="text" style="position:absolute;width:48px; top: 749px; left: 397px;" />
        <input id="I_84a06FI" type="text" style="position:absolute;width:48px; top: 774px; left: 397px;" />
        <input id="I_84b06W123" type="text" style="position:absolute;width:48px; top: 800px; left: 397px;" />
        <input id="Q_84aF2" type="text" style="position:absolute;width:48px; top: 825px; left: 397px;" />
        <input id="Q_84aFI4" type="text" style="position:absolute;width:48px; top: 852px; left: 397px;" />
        <input id="I_A8314AI" type="text" style="position:absolute;width:48px; top: 726px; left: 529px;" />
        <input id="I_A8316AI" type="text" style="position:absolute;width:48px; top: 749px; left: 529px;" />
        <input id="I_A8318AI" type="text" style="position:absolute;width:48px; top: 774px; left: 529px;" />

        <input id="A6101COS_R" type="text" style="position:absolute;width:48px; top: 91px; left: 579px;" />
        <input id="A6201COS_R" type="text" style="position:absolute;width:48px; top: 119px; left: 579px;" />
        <input id="A6301COS_R" type="text" style="position:absolute;width:48px; top: 147px; left: 579px;" />
        <input id="A6401COS_R" type="text" style="position:absolute;width:48px; top: 174px; left: 579px;" />
        <input id="A84a21IT_R" type="text" style="position:absolute;width:48px; top: 70px; left: 752px;" />
        <input id="A84a231IT_R" type="text" style="position:absolute;width:48px; top: 21px; left: 973px;" />
        <input id="A84a232IT_R" type="text" style="position:absolute;width:48px; top: 45px; left: 973px;" />
        <input id="A84a232AI_R" type="text" style="position:absolute;width:48px; top: 131px; left: 884px;" />
        <input id="A84a23TE01_R" type="text" style="position:absolute;width:48px; top: 113px; left: 964px;" />
        <input id="A84a19AO_R" type="text" style="position:absolute;width:48px; top: 286px; left: 602px;" />
        <input id="A84a19WT01_R" type="text" style="position:absolute;width:48px; top: 292px; left: 754px;" />
        <input id="A84a191IT_R" type="text" style="position:absolute;width:48px; top: 414px; left: 641px;" />
        <input id="A84a192IT_R" type="text" style="position:absolute;width:48px; top: 414px; left: 728px;" />
        <input id="A84a22IT_R" type="text" style="position:absolute;width:48px; top: 503px; left: 753px;" />
        <input id="A84a242AI_R" type="text" style="position:absolute;width:48px; top: 568px; left: 881px;" />
        <input id="A84a20AO_R" type="text" style="position:absolute;width:48px; top: 719px; left: 603px;" />
        <input id="A84a20WT01_R" type="text" style="position:absolute;width:48px; top: 723px; left: 746px;" />
        <input id="A84a201IT_R" type="text" style="position:absolute;width:48px; top: 843px; left: 643px;" />
        <input id="A84a202IT_R" type="text" style="position:absolute;width:48px; top: 843px; left: 727px;" />

        <input id="A84a31AI_R" type="text" style="position:absolute;width:48px; top: 97px; left: 1228px;" />
        <input id="A84a29IT_R" type="text" style="position:absolute;width:48px; top: 94px; left: 1317px;" />
        <input id="A84a19TE01_R" type="text" style="position:absolute;width:48px; top: 321px; left: 848px;" />
        <input id="A84a19TE02_R" type="text" style="position:absolute;width:48px; top: 346px; left: 848px;" />
        <input id="A84a19TE06_R" type="text" style="position:absolute;width:48px; top: 321px; left: 931px;" />
        <input id="A84a19PT01_R" type="text" style="position:absolute;width:48px; top: 321px; left: 1009px;" />
        <input id="A84a19PT02_R" type="text" style="position:absolute;width:48px; top: 348px; left: 1009px;" />
        <input id="A84a19TE03_R" type="text" style="position:absolute;width:48px; top: 394px; left: 848px;" />
        <input id="A84a19TE04_R" type="text" style="position:absolute;width:48px; top: 417px; left: 848px;" />
        <input id="A84a19TE08_R" type="text" style="position:absolute;width:48px; top: 394px; left: 931px;" />
        <input id="A84a19GE01_R" type="text" style="position:absolute;width:48px; top: 394px; left: 1009px;" />
        <input id="A84a19GE02_R" type="text" style="position:absolute;width:48px; top: 417px; left: 1009px;" />
        <input id="A84a241IT_R" type="text" style="position:absolute;width:48px; top: 461px; left: 967px;" />
        <input id="A84a242IT_R" type="text" style="position:absolute;width:48px; top: 485px; left: 967px;" />
        <input id="A84a24TE01_R" type="text" style="position:absolute;width:48px; top: 552px; left: 959px;" />
        <input id="A84a32AI_R" type="text" style="position:absolute;width:48px; top: 525px; left: 1222px;" />
        <input id="A84a30IT_R" type="text" style="position:absolute;width:48px; top: 525px; left: 1308px;" />
        <input id="A8404IT_R" type="text" style="position:absolute;width:48px; top: 674px; left: 1103px;" />

        <input id="A84a20TE01_R" type="text" style="position:absolute;width:48px; top: 760px; left: 848px;" />
        <input id="A84a20TE02_R" type="text" style="position:absolute;width:48px; top: 786px; left: 848px;" />
        <input id="A84a20TE03_R" type="text" style="position:absolute;width:48px; top: 838px; left: 848px;" />
        <input id="A84a20TE04_R" type="text" style="position:absolute;width:48px; top: 862px; left: 848px;" />
        <input id="A84a20TE06_R" type="text" style="position:absolute;width:48px; top: 760px; left: 930px;" />
        <input id="A84a20TE08_R" type="text" style="position:absolute;width:48px; top: 838px; left: 930px;" />
        <input id="A84a20PT01_R" type="text" style="position:absolute;width:41px; top: 760px; left: 1008px;" />
        <input id="A84a20PT02_R" type="text" style="position:absolute;width:41px; top: 786px; left: 1008px;" />
        <input id="A84a20GE01_R" type="text" style="position:absolute;width:41px; top: 838px; left: 1008px;" />
        <input id="A84a20GE02_R" type="text" style="position:absolute;width:41px; top: 862px; left: 1008px;" />


         
    </div>


