
    <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_ND/CementPacking/template.png);width:1370px;height:903px; ">
        <input id="AI1_620_16_11" type="text" style="position:absolute; top: 233px; left: 723px; width:48px;" />
        <input id="AI1_620_4_1" type="text" style="position:absolute; top: 222px; left: 866px; width: 48px;"/>
        <input id="AI1_620_1_1_1" type="text" style="position:absolute; top: 86px; left: 1012px; width: 48px;"/>
        <input id="AI1_620_16_21" type="text" style="position:absolute; top: 628px; left: 724px; width: 48px;" />
        <input id="AI1_620_4_2" type="text" style="position:absolute; top: 629px; left: 862px; width: 48px; bottom: 255px;" />
        <input id="AI1_620_1_2_1" type="text" style="position:absolute;width:48px; top: 495px; left: 961px;" />
    </div>

