
    <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_ND/ClinkerConveyor/template.png); width: 1374px; height: 902px; top: 10px; ">
       <input id="AI1_511_041" type="text" style="position: absolute; top: 222px; left: 480px; width: 48px;"/>
       <input id="AI1_511_02" type="text"  style="position:absolute; top: 275px; left: 651px; width: 48px;"/>
       <input id="AO1_511_01" type="text" style="position:absolute; top: 249px; left: 838px; width: 48px; bottom: 634px;" />
       <input id="AI1_511_01" type="text" style="position:absolute; top: 275px; left: 839px; width: 48px;" />
       <input id="AO1_511_06" type="text" style="position:absolute; top: 276px; left: 327px; width:48px;"/>&nbsp;
       <input id="AI1_511_06" type="text" style="position:absolute; top: 301px; left: 327px; width: 48px;"/>
       <input id="AI1_511_12_1" type="text" style="position:absolute; top: 552px; left: 751px; width: 48px;"/>
    </div>

