 <div style="position:relative; background-image: url(/Monitoring/Templates/Db_01_YFC/snks/template.png);width:1487px;height:828px; ">
         <input id="I_8620ZI" type="text" style="position:absolute;width:48px; top: 30px; left: 1325px;" />
         
         <input id="I_8600L1" type="text" style="position:absolute;width:48px; top: 659px; left: 301px;" />
         <input id="I_8600L2" type="text" style="position:absolute;width:48px; top: 659px; left: 405px;" />
         <input id="I_8600L3" type="text" style="position:absolute;width:48px; top: 659px; left: 517px;" />
         <input id="I_8600L4" type="text" style="position:absolute;width:48px; top: 659px; left: 624px;" />

         <input id="I_8600L5" type="text" style="position:absolute;width:48px; top: 659px; left: 1016px;" />
         <input id="I_8600L6" type="text" style="position:absolute;width:48px; top: 659px; left: 1123px;" />
         <input id="I_8600L7" type="text" style="position:absolute;width:48px; top: 659px; left: 1231px;" />
         <input id="I_8600L8" type="text" style="position:absolute;width:48px; top: 659px; left: 1343px;" />

     




 </div>

