 <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_YFC/snks/template.png);width:1487px;height:828px; ">
        

      <input id="I_8620ZI" type="text" style="position:absolute;width:41px; top: 31px; left: 1346px;" />&nbsp;&nbsp;
         
         <input id="I_8600L1" type="text" style="position:absolute;width:48px; top: 659px; left: 301px;" />
         <input id="I_8600L2" type="text" style="position:absolute;width:48px; top: 659px; left: 405px;" />
         <input id="I_8600L3" type="text" style="position:absolute;width:48px; top: 659px; left: 517px;" />
         <input id="I_8600L4" type="text" style="position:absolute;width:48px; top: 659px; left: 624px;" />

         <input id="I_8600L5" type="text" style="position:absolute;width:48px; top: 659px; left: 1016px;" />
         <input id="I_8600L6" type="text" style="position:absolute;width:48px; top: 659px; left: 1123px;" />
         <input id="I_8600L7" type="text" style="position:absolute;width:48px; top: 659px; left: 1231px;" />
         <input id="I_8600L8" type="text" style="position:absolute;width:48px; top: 659px; left: 1343px;" />
          <!--模拟量结束 -->
          <!--开关量开始 -->
      <div class="ValueRAA_2" R="D8503R" A="D8503A" ALM="D8503_ALM" style="position:absolute;top: 172px; left: 144px; height: 13px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
         <input id="D8503R" type="text" style="display: none;" />
	     <input id="D8503A" type="text" style="display: none;"  />
	     <input id="D8503_ALM" type="text" style="display: none;"  /> 

      <div class="ValueRAA_2" R="D8601R2" A="D8601A" ALM="D8601_ALM" style="position:absolute;top: 90px; left: 136px; height: 20px; width: 20px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
     	 <input id="D8601R2"  type="text" style="display: none;" />
	     <input id="D8601A"   type="text" style="display: none;"  />
	     <input id="D8601_ALM" type="text" style="display: none;"  /> 

      <div class="ValueRAA_2" R="D8505R" A="D8505A" ALM="D8505_ALM" style="position:absolute;top: 171px; left: 246px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8505R"  type="text" style="display: none;" />
	      <input id="D8505A"   type="text" style="display: none;"  />
	      <input id="D8505_ALM" type="text" style="display: none;"  /> 

      <div class="ValueRAA_2" R="D8509R" A="D8509A" ALM="D8509_ALM" style="position:absolute;top: 337px; left: 213px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8509R"  type="text" style="display: none;" />
	      <input id="D8509A"   type="text" style="display: none;"  />
	      <input id="D8509_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D8513R" A="D8513A" ALM="D8513_ALM" style="position:absolute;top: 439px; left: 167px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8513R"  type="text" style="display: none;" />
	      <input id="D8513A"   type="text" style="display: none;"  />
	      <input id="D8513_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86042R2" A="D86042A" ALM="D86042_ALM" style="position:absolute;top: 548px; left: 81px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86042R2"  type="text" style="display: none;" />
	      <input id="D86042A"   type="text" style="display: none;"  />
	      <input id="D86042_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D8519R" A="D8519A" ALM="D8519_ALM" style="position:absolute;top: 521px; left: 383px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8519R"  type="text" style="display: none;" />
	      <input id="D8519A"   type="text" style="display: none;"  />
	      <input id="D8519_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D8527R" A="D8527A" ALM="D8527_ALM" style="position:absolute;top: 521px; left: 489px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8527R"  type="text" style="display: none;" />
	      <input id="D8527A"   type="text" style="display: none;"  />
	      <input id="D8527_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D8533R" A="D8533A" ALM="D8533_ALM" style="position:absolute;top: 523px; left: 598px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8533R"  type="text" style="display: none;" />
	      <input id="D8533A"   type="text" style="display: none;"  />
	      <input id="D8533_ALM" type="text" style="display: none;"  /> 

      <div class="ValueA_2" A="D8509A"  style="position:absolute;top: 480px; left: 527px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>         
	  <div class="ValueA_2" A="D8509A" style="position:absolute;top: 411px; left: 587px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>         
	  <div class="ValueA_2" A="D8509A" style="position:absolute;top: 354px; left: 475px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
      <div class="ValueA_2" A="D8509A" style="position:absolute;top: 361px; left: 769px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
      <div class="ValueA_2" A="D8509A" style="position:absolute;top: 441px; left: 876px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div> 
       
      <div class="ValueA_2" A="D8510A" style="position:absolute;top: 347px; left: 375px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8510A"  type="text" style="display: none;" />   
        
       <div class="ValueRAA_2" R="D8515R" A="D8515A" ALM="D8515_ALM" style="position:absolute;top: 421px; left: 309px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8515R"  type="text" style="display: none;" />
	      <input id="D8515A"   type="text" style="display: none;"  />
	      <input id="D8515_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86041R2" A="D86041A1" ALM="D86041_ALM" style="position:absolute;top: 592px; left: 79px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86041R2"  type="text" style="display: none;" />
	      <input id="D86041A1"   type="text" style="display: none;"  />
	      <input id="D86041_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D8521R" A="D8521A" ALM="D8521_ALM" style="position:absolute;top: 424px; left: 413px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8521R"  type="text" style="display: none;" />
	      <input id="D8521A"   type="text" style="display: none;"  />
	      <input id="D8521_ALM" type="text" style="display: none;"  /> 
     
          
      <div class="ValueRAA_2" R="D8518R" A="D8518A" ALM="D8518_ALM" style="position:absolute;top: 348px; left: 1087px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8518R"  type="text" style="display: none;" />
	      <input id="D8518A"   type="text" style="display: none;"  />
	      <input id="D8518_ALM" type="text" style="display: none;"  />  
      <div class="ValueRAA_2" R="D8524R" A="D8524A" ALM="D8524_ALM" style="position:absolute;top: 353px; left: 1186px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8524R"  type="text" style="display: none;" />
	      <input id="D8524A"   type="text" style="display: none;"  />
	      <input id="D8524_ALM" type="text" style="display: none;"  />  
     <div class="ValueRAA_2" R="D8516R" A="D8516A" ALM="D8516_ALM" style="position:absolute;top: 420px; left: 1024px; height: 14px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8516R"  type="text" style="display: none;" />
	      <input id="D8516A"   type="text" style="display: none;"  />
	      <input id="D8516_ALM" type="text" style="display: none;"  />  
      <div class="ValueRAA_2" R="D8522R" A="D8522A" ALM="D8522_ALM" style="position:absolute;top: 423px; left: 1126px; height: 14px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8522R"  type="text" style="display: none;" />
	      <input id="D8522A"   type="text" style="display: none;"  />
	      <input id="D8522_ALM" type="text" style="display: none;"  />  
     <div class="ValueRAA_2" R="D8532R" A="D8532A" ALM="D8532_ALM" style="position:absolute;top: 406px; left: 1298px; height: 14px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8532R"  type="text" style="display: none;" />
	      <input id="D8532A"   type="text" style="display: none;"  />
	      <input id="D8532_ALM" type="text" style="display: none;"  />  
      <div class="ValueRAA_2" R="D8530R" A="D8530A" ALM="D8530_ALM" style="position:absolute;top: 481px; left: 1236px; height: 14px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8530R"  type="text" style="display: none;" />
	      <input id="D8530A"   type="text" style="display: none;"  />
	      <input id="D8530_ALM" type="text" style="display: none;"  />  

      <div class="ValueRAA_2" R="D8520R" A="D8520A" ALM="D8520_ALM" style="position:absolute;top: 522px; left: 1095px; height: 14px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8520R"  type="text" style="display: none;" />
	      <input id="D8520A"   type="text" style="display: none;"  />
	      <input id="D8520_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D8528R" A="D8528A" ALM="D8528_ALM" style="position:absolute;top: 522px; left: 1200px; height: 14px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8528R"  type="text" style="display: none;" />
	      <input id="D8528A"   type="text" style="display: none;"  />
	      <input id="D8528_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D8534R" A="D8534A" ALM="D8534_ALM" style="position:absolute;top: 523px; left: 1311px; height: 14px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8534R"  type="text" style="display: none;" />
	      <input id="D8534A"   type="text" style="display: none;"  />
	      <input id="D8534_ALM" type="text" style="display: none;"  /> 
     <div class="ValueRAA_2" R="D86131R2" A="D86131A1" ALM="D86131_ALM" style="position:absolute;top: 66px; left: 1125px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86131R2"  type="text" style="display: none;" />
	      <input id="D86131A1"   type="text" style="display: none;"  />
	      <input id="D86131_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86141R2" A="D86141A1" ALM="D86141_ALM" style="position:absolute;top: 67px; left: 1210px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86141R2"  type="text" style="display: none;" />
	      <input id="D86141A1"   type="text" style="display: none;"  />
	      <input id="D86141_ALM" type="text" style="display: none;"  /> 
     <div class="ValueRAA_2" R="D86151R2" A="D86151A1" ALM="D86151_ALM" style="position:absolute;top: 66px; left: 1296px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86151R2"  type="text" style="display: none;" />
	      <input id="D86151A1"   type="text" style="display: none;"  />
	      <input id="D86151_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86161R2" A="D86161A1" ALM="D86161_ALM" style="position:absolute;top: 68px; left: 1379px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86161R2"  type="text" style="display: none;" />
	      <input id="D86161A1"   type="text" style="display: none;"  />
	      <input id="D86161_ALM" type="text" style="display: none;"  /> 
     <div class="ValueRAA_2" R="D8624R2" A="D8624A" ALM="D8624_ALM" style="position:absolute;top: 26px; left: 1325px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8624R2"  type="text" style="display: none;" />
	      <input id="D8624A"   type="text" style="display: none;"  />
	      <input id="D8624_ALM" type="text" style="display: none;"  /> 
     <div class="ValueRAA_2" R="D8623R2" A="D8623A" ALM="D8623_ALM" style="position:absolute;top: 25px; left: 1244px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8623R2"  type="text" style="display: none;" />
	      <input id="D8623A"   type="text" style="display: none;"  />
	      <input id="D8623_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D8622R2" A="D8622A" ALM="D8622_ALM" style="position:absolute;top: 25px; left: 1158px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8622R2"  type="text" style="display: none;" />
	      <input id="D8622A"   type="text" style="display: none;"  />
	      <input id="D8622_ALM" type="text" style="display: none;"  /> 

      <div class="ValueRAA_2" R="D8621R2" A="D8621A" ALM="D8621_ALM" style="position:absolute;top: 26px; left: 1076px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8621R2"  type="text" style="display: none;" />
	      <input id="D8621A"   type="text" style="display: none;"  />
	      <input id="D8621_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86132R2" A="D86132A" ALM="D86132_ALM" style="position:absolute;top: 119px; left: 1125px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86132R2"  type="text" style="display: none;" />
	      <input id="D86132A"   type="text" style="display: none;"  />
	      <input id="D86132_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86142R2" A="D86142A" ALM="D86142_ALM" style="position:absolute;top: 117px; left: 1209px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86142R2"  type="text" style="display: none;" />
	      <input id="D86142A"   type="text" style="display: none;"  />
	      <input id="D86142_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86152R2" A="D86152A" ALM="D86152_ALM" style="position:absolute;top: 117px; left: 1293px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86152R2"  type="text" style="display: none;" />
	      <input id="D86152A"   type="text" style="display: none;"  />
	      <input id="D86152_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86162R2" A="D86162A" ALM="D86162_ALM" style="position:absolute;top: 117px; left: 1377px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86162R2"  type="text" style="display: none;" />
	      <input id="D86162A"   type="text" style="display: none;"  />
	      <input id="D86162_ALM" type="text" style="display: none;"  /> 
     <div class="ValueRAA_2" R="D8602R2" A="D8602A" ALM="D8602_ALM" style="position:absolute;top: 101px; left: 845px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8602R2"  type="text" style="display: none;" />
	      <input id="D8602A"   type="text" style="display: none;"  />
	      <input id="D8602_ALM" type="text" style="display: none;"  /> 
     <div class="ValueRAA_2" R="D8504R" A="D8504A" ALM="D8504_ALM" style="position:absolute;top: 165px; left: 856px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8504R"  type="text" style="display: none;" />
	      <input id="D8504A"   type="text" style="display: none;"  />
	      <input id="D8504_ALM" type="text" style="display: none;"  /> 
     <div class="ValueRAA_2" R="D8506R" A="D8506A" ALM="D8506_ALM" style="position:absolute;top: 165px; left: 959px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8506R"  type="text" style="display: none;" />
	      <input id="D8506A"   type="text" style="display: none;"  />
	      <input id="D8506_ALM" type="text" style="display: none;"  /> 
      <div class="ValueRAA_2" R="D86032R2" A="D86032A" ALM="D86032_ALM" style="position:absolute;top: 548px; left: 789px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D86032R2"  type="text" style="display: none;" />
	      <input id="D86032A"   type="text" style="display: none;"  />
	      <input id="D86032_ALM" type="text" style="display: none;"  /> 
      
      <div class="ValueRAA_2" R="D86031R2" A="D86031A1" ALM="D86031_ALM" style="position:absolute;top: 581px; left: 789px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>  
          <input id="D86031R2"  type="text" style="display: none;" />
	      <input id="D86031A1"   type="text" style="display: none;"  />
	      <input id="D86031_ALM" type="text" style="display: none;"  /> 
	  <div class="ValueRAA_2" R="D8607R2" A="D8607A" ALM="D8607_ALM" style="position:absolute;top: 600px; left: 1007px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>      
          <input id="D8607R2"  type="text" style="display: none;" />
	      <input id="D8607A"   type="text" style="display: none;"  />
	      <input id="D8607_ALM" type="text" style="display: none;"  />    
      <div class="ValueRAA_2" R="D8609R2" A="D8609A" ALM="D8609_ALM" style="position:absolute;top: 598px; left: 1118px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8609R2"  type="text" style="display: none;" />
	      <input id="D8609A"   type="text" style="display: none;"  />
	      <input id="D8609_ALM" type="text" style="display: none;"  />    
      <div class="ValueRAA_2" R="D8611R2" A="D8611A" ALM="D8611_ALM" style="position:absolute;top: 599px; left: 1231px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8611R2"  type="text" style="display: none;" />
	      <input id="D8611A"   type="text" style="display: none;"  />
	      <input id="D8611_ALM" type="text" style="display: none;"  />    
     <div class="ValueRAA_2" R="D8606R2" A="D8606A" ALM="D8606_ALM" style="position:absolute;top: 567px; left: 1406px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>     
          <input id="D8606R2"  type="text" style="display: none;" />
	      <input id="D8606A"   type="text" style="display: none;"  />
	      <input id="D8606_ALM" type="text" style="display: none;"  />    
     <div class="ValueRAA_2" R="D8610R2" A="D8610A" ALM="D8610_ALM" style="position:absolute;top: 598px; left: 403px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8610R2"  type="text" style="display: none;" />
	      <input id="D8610A"   type="text" style="display: none;"  />
	      <input id="D8610_ALM" type="text" style="display: none;"  />    
      <div class="ValueRAA_2" R="D8605R2" A="D8605A" ALM="D8605_ALM" style="position:absolute;top: 568px; left: 690px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8605R2"  type="text" style="display: none;" />
	      <input id="D8605A"   type="text" style="display: none;"  />
	      <input id="D8605_ALM" type="text" style="display: none;"  />      
       <div class="ValueRAA_2" R="D8608R2" A="D8608A" ALM="D8608_ALM" style="position:absolute;top: 597px; left: 290px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8608R2"  type="text" style="display: none;" />
	      <input id="D8608A"   type="text" style="display: none;"  />
	      <input id="D8608_ALM" type="text" style="display: none;"  />     
       <div class="ValueRAA_2" R="D8612R2" A="D8612A" ALM="D8612_ALM" style="position:absolute;top: 598px; left: 512px; height: 15px; width: 15px;"> <img src="../../Common/circle_red.png" style="width: 100%; height:100%;"/></div>
          <input id="D8612R2"  type="text" style="display: none;" />
	      <input id="D8612A"   type="text" style="display: none;"  />
	      <input id="D8612_ALM" type="text" style="display: none;"  />      
          
         <!-- 开关量结束 -->



 </div>



