    <div style="position:relative; background-image: url(/Monitoring/Templates/Db_01_YFC/RawMealHomogenizeSilo/template.jpg);width:1511px;height:904px; ">
        <input id="F_22111M_I_R" type="text" style="position:absolute;width:48px; top: 67px; left: 334px;" />
        <input id="F_310C1T01_R" type="text" style="position:absolute;width:48px; top: 290px; left: 172px;" />
        <input id="F_310C1P01_R" type="text" style="position:absolute;width:48px; top: 312px; left: 172px;" />
        <input id="F_310C1T02_R" type="text" style="position:absolute;width:48px; top: 292px; left: 246px;" />
        <input id="F_310C1P02_R" type="text" style="position:absolute;width:38px; top: 312px; left: 256px;" />
        <input id="F_310C2T01_R" type="text" style="position:absolute;width:48px; top: 340px; left: 2px;" />
        <input id="F_310C2P01_R" type="text" style="position:absolute;width:48px; top: 361px; left: 2px;" />
        <input id="F_31005M_F_R" type="text" style="position:absolute;width:48px; top: 368px; left: 268px;" />
        <input id="F_310C1P04_R" type="text" style="position:absolute;width:48px; top: 442px; left: 38px;" />
        <input id="F_310C1P03_R" type="text" style="position:absolute;width:48px; top: 450px; left: 181px;" />
        <input id="F_310C3T01_R" type="text" style="position:absolute;width:48px; top: 499px; left: 215px;" />
        <input id="F_310C3P01_R" type="text" style="position:absolute;width:48px; top: 522px; left: 215px;" />
        <input id="F_310C3P02_R" type="text" style="position:absolute;width:48px; top: 596px; left: 224px;" />
        <input id="F_310C4T01_R" type="text" style="position:absolute;width:48px; top: 604px; left: 30px;" />
        <input id="F_310C4P01_R" type="text" style="position:absolute;width:48px; top: 626px; left: 30px;" />
        <input id="F_310C3T02_R" type="text" style="position:absolute;width:48px; top: 645px; left: 136px;" />
        <input id="F_310TAT01_R" type="text" style="position:absolute;width:48px; top: 690px; left: 232px;" />
        <input id="F_310TAP01_R" type="text" style="position:absolute;width:48px; top: 716px; left: 232px;" />
        <input id="F_310C4P02_R" type="text" style="position:absolute;width:48px; top: 723px; left: 30px;" />
        <input id="F_310C4T02_R" type="text" style="position:absolute;width:45px; top: 821px; left: 2px;" />
        <input id="F_31001T01_R" type="text" style="position:absolute;width:48px; top: 820px; left: 90px;" />
        <input id="F_31001P01_R" type="text" style="position:absolute;width:48px; top: 843px; left: 90px;" />
        <input id="F_31001A01_R" type="text" style="position:absolute;width:48px; top: 866px; left: 90px;" />

        <input id="F_22000L01_R" type="text" style="position:absolute;width:48px; top: 261px; left: 993px;" />
        <input id="F_22012cZ01_R" type="text" style="position:absolute;width:48px; top: 290px; left: 555px;" />
        <input id="F_22009cZ01_R" type="text" style="position:absolute;width:48px; top: 294px; left: 821px;" />
        <input id="F_22013cZ01_R" type="text" style="position:absolute;width:48px; top: 361px; left: 558px;" />
        <input id="F_22010cZ01_R" type="text" style="position:absolute;width:48px; top: 361px; left: 819px;" />
        <input id="F_22014cZ01_R" type="text" style="position:absolute;width:48px; top: 428px; left: 559px;" />
        <input id="F_22011cZ01_R" type="text" style="position:absolute;width:48px; top: 431px; left: 824px;" />
        <input id="F_22101W01_R" type="text" style="position:absolute;width:48px; top: 550px; left: 700px;" />
        <input id="F_22106bZ01_R" type="text" style="position:absolute;width:48px; top: 649px; left: 526px;" />
        <input id="F_22107F01_R" type="text" style="position:absolute;width:48px; top: 693px; left: 526px;" />
        <input id="F_22105bZ01_R" type="text" style="position:absolute;width:48px; top: 647px; left: 820px;" />
        <input id="F_22106BZ01_ASP" type="text" style="position:absolute;width:48px; top: 844px; left: 432px;" />
<!--        <input id="F_22107F01_R" type="text" style="position:absolute;width:48px;" />-->
        <input id="F_22107F01_BT1" type="text" style="position:absolute;width:48px; top: 844px; left: 561px;" />
        <input id="F_22107F01_BT2" type="text" style="position:absolute;width:48px; top: 844px; left: 639px;" />

        <input id="F_22001M_I_R" type="text" style="position:absolute;width:48px; top: 40px; left: 1140px;" />

        <input id="F_22015P01_R" type="text" style="position:absolute;width:48px; top: 550px; left: 1288px;" />
        <input id="F_22015M_I_R" type="text" style="position:absolute;width:48px; top: 581px; left: 1421px;" />
        <input id="F_22016P01_R" type="text" style="position:absolute;width:48px; top: 660px; left: 1288px;" />
        <input id="F_22016M_I_R" type="text" style="position:absolute;width:48px; top: 699px; left: 1421px;" />
        <input id="F_22118P01_R" type="text" style="position:absolute;width:48px; top: 776px; left: 1288px;" />
        <input id="F_22118M_I_R" type="text" style="position:absolute;width:48px; top: 812px; left: 1425px;" />


    </div>


