
      <div style="position:relative; background-image: url(/Monitoring/Templates/Db_01_YFC/FMH/template.png);width:1491px;height:828px; ">
          <input id="I_84b04IT" type="text" style="position:absolute;width:48px; top: 433px; left: 351px;" />
          <input id="I_84b08IT" type="text" style="position:absolute;width:48px; top: 440px; left: 979px;" />
          <input id="I_84b02W123" type="text" style="position:absolute;width:48px; top: 694px; left: 611px;" />
          <input id="I_84b06W123" type="text" style="position:absolute;width:48px; top: 694px; left: 761px;" />
          
           <!--开关量开始-->
          <div class="ValueRAA" R="D84b132R2" A="D84b132A" ALM="D84b132_ALM" style ="position:absolute;width:15px; height:13px; top: 169px; left: 562px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b132R2" type="text" style="display: none;"/>
	        <input id="D84b132A" type="text" style="display: none;"/>
	        <input id="D84b132_ALM" type="text" style="display: none;"/>
          <div class="ValueRAA" R="D84b142R2" A="D84b142A" ALM="D84b142_ALM" style ="position:absolute;width:15px; height:13px; top: 169px; left: 839px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b142R2" type="text" style="display: none;"/>
	        <input id="D84b142A" type="text" style="display: none;"/>
	        <input id="D84b142_ALM" type="text" style="display: none;"/>
          <div class="ValueRAA" R="D84b142R2" A="D84b131A" ALM="D84b131_ALM" style ="position:absolute;width:15px; height:15px; top: 227px; left: 562px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b131R2" type="text" style="display: none;"/>
	        <input id="D84b131A" type="text" style="display: none;"/>
	        <input id="D84b131_ALM" type="text" style="display: none;"/>
          <div class="ValueRAA" R="D84b141R2" A="D84b141A" ALM="D84b141_ALM" style ="position:absolute;width:15px; height:15px; top: 227px; left: 839px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b141R2" type="text" style="display: none;"/>
	        <input id="D84b141A" type="text" style="display: none;"/>
	        <input id="D84b141_ALM" type="text" style="display: none;"/>
          <div class="ValueRAA" R="D84b04R2" A="D84b04A" ALM="D84b04_ALM" style ="position:absolute;width:15px; height:15px; top: 425px; left: 337px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b04R2" type="text" style="display: none;"/>
	        <input id="D84b04A" type="text" style="display: none;"/>
	        <input id="D84b04_ALM" type="text" style="display: none;"/>
          <div class="ValueRAA" R="D84b08R2" A="D84b08A" ALM="D84b08_ALM" style ="position:absolute;width:15px; height:15px; top: 425px; left: 1063px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b08R2" type="text" style="display: none;"/>
	        <input id="D84b08A" type="text" style="display: none;"/>
	        <input id="D84b08_ALM" type="text" style="display: none;"/>
          <div class="ValueRAA" R="D84b05R2" A="D84b05A" ALM="D84b04_ALM" style ="position:absolute;width:15px; height:15px; top: 481px; left: 137px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b05R2" type="text" style="display: none;"/>
	        <input id="D84b05A" type="text" style="display: none;"/>
	        <input id="Text3" type="text" style="display: none;"/>
          <div class="ValueRAA" R="D84b09R2" A="D84b09A" ALM="D84b09_ALM" style ="position:absolute;width:15px; height:15px; top: 488px; left: 1272px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b09R2" type="text" style="display: none;"/>
	        <input id="D84b09A" type="text" style="display: none;"/>
	        <input id="D84b09_ALM" type="text" style="display: none;"/>
          <div class="ValueW" R="D84b02W127" A="D84b02W133" ALM="D84b02W131" style ="position:absolute;width:15px; height:15px; top: 659px; left: 591px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
          <div class="ValueW" R="D84b02W127" A="D84b02W133" ALM="D84b02W131" style ="position:absolute;width:15px; height:15px; top: 698px; left: 479px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
          <div class="ValueW" R="D84b02W127" A="D84b02W133" ALM="D84b02W131" style ="position:absolute;width:15px; height:15px; top: 679px; left: 591px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b02W127" type="text" style="display: none;"/>
	        <input id="D84b02W133" type="text" style="display: none;"/>
	        <input id="D84b02W131" type="text" style="display: none;"/>

          <div class="ValueW" R="D84b06W127" A="D84b06W133" ALM="D84b06W131" style ="position:absolute;width:15px; height:15px; top: 664px; left: 822px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
          <div class="ValueW" R="D84b06W127" A="D84b06W133" ALM="D84b06W131" style ="position:absolute;width:15px; height:15px; top: 702px; left: 922px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
          <div class="ValueW" R="D84b06W127" A="D84b06W133" ALM="D84b06W131" style ="position:absolute;width:15px; height:15px; top: 684px; left: 822px;"><img src="../../Common/circle_red.png" style="height:100%;width:100%;"  /></div>
            <input id="D84b06W127" type="text" style="display: none;"/>
	        <input id="D84b06W133" type="text" style="display: none;"/>
	        <input id="D84b06W131" type="text" style="display: none;"/>






           <!--开关量结束-->
      </div>



