     <div style="position:relative; background-image: url(../../../../Monitoring/Templates/Db_01_YFC/scyt/template.png);width:1490px;height:828px; ">
         &nbsp;<input id="I_50C3T06" type="text" style="position:absolute;width:48px; top: 203px; left: 27px;" />
         <input id="I_5701P01" type="text" style="position:absolute;width:48px; top: 236px; left: 191px;" />
         <input id="I_AZZ01" type="text" style="position:absolute;width:48px; top: 213px; left: 386px;" />
         <input id="I_A5737Z01I" type="text" style="position:absolute;width:48px; top: 138px; left: 589px;" />
         <input id="I_A5736Z01I" type="text" style="position:absolute;width:48px; top: 132px; left: 684px;" />
         <input id="I_5700L01" type="text" style="position:absolute;width:48px; top: 223px; left: 773px;" />
         <input id="I_5701T01" type="text" style="position:absolute;width:48px; top: 401px; left: 235px;" />
         <input id="I_5728T01" type="text" style="position:absolute;width:48px; top: 425px; left: 323px;" />
         <input id="I_5700P01" type="text" style="position:absolute;width:48px; top: 333px; left: 645px;" />
         <input id="I_5745ZI" type="text" style="position:absolute;width:48px; top: 356px; left: 737px;" />

         <input id="I_5703T01" type="text" style="position:absolute;width:38px; top: 478px; left: 53px;" />
         <input id="I_5703T02" type="text" style="position:absolute;width:38px; top: 506px; left: 53px; " />
         <input id="I_5703T03" type="text" style="position:absolute;width:38px; top: 535px; left: 53px;" />
         <input id="I_5703T04" type="text" style="position:absolute;width:38px; top: 562px; left: 53px;" />
         <input id="I_5703T05" type="text" style="position:absolute;width:38px; top: 587px; left: 53px;" />
         <input id="I_5703T06" type="text" style="position:absolute;width:38px; top: 614px; left: 53px;" />

         <input id="I_5702T01" type="text" style="position:absolute;width:48px; top: 539px; left: 174px;" />
         <input id="I_5702T03" type="text" style="position:absolute;width:48px; top: 558px; left: 174px;" />
         <input id="I_5702T02" type="text" style="position:absolute;width:48px; top: 539px; left: 232px;" />
         <input id="I_5702T04" type="text" style="position:absolute;width:48px; top: 558px; left: 232px;" />

         <input id="I_57021NI" type="text" style="position:absolute;width:48px; top: 508px; left: 350px;" />
         <input id="I_57021I" type="text" style="position:absolute;width:48px; top: 542px; left: 350px;" />
         <input id="I_57022NI" type="text" style="position:absolute;width:48px; top: 514px; left: 627px;" />
         <input id="I_57022I" type="text" style="position:absolute;width:48px; top: 550px; left: 627px;" />
         <input id="I_5703P01" type="text" style="position:absolute;width:48px; top: 589px; left: 188px;" />
         <input id="I_5706P01" type="text" style="position:absolute;width:48px; top: 589px; left: 297px;" />
         <input id="I_5710P01" type="text" style="position:absolute;width:48px; top: 589px; left: 395px;" />
         <input id="I_5711P01" type="text" style="position:absolute;width:48px; top: 589px; left: 514px;" />
         <input id="I_5712P01" type="text" style="position:absolute;width:48px; top: 589px; left: 647px;" />
         <input id="I_5713P01" type="text" style="position:absolute;width:48px; top: 589px; left: 773px;" />
         <input id="I_57023NI" type="text" style="position:absolute;width:48px; top: 525px; left: 815px;" />
         <input id="I_57023I" type="text" style="position:absolute;width:48px; top: 559px; left: 815px;" />

         <input id="I_5704P01" type="text" style="position:absolute;width:48px; top: 657px; left: 266px;" />
         <input id="I_5704P02" type="text" style="position:absolute;width:48px; top: 679px; left: 266px;" />
         <input id="I_5705P01" type="text" style="position:absolute;width:48px; top: 657px; left: 329px;" />
         <input id="I_5705P02" type="text" style="position:absolute;width:48px; top: 679px; left: 329px;" />
         <input id="I_5707P01" type="text" style="position:absolute;width:48px; top: 657px; left: 451px;" />
         <input id="I_5707P02" type="text" style="position:absolute;width:48px; top: 679px; left: 451px;" />
         <input id="I_5708P01" type="text" style="position:absolute;width:48px; top: 657px; left: 511px;" />
         <input id="I_5709P01" type="text" style="position:absolute;width:48px; top: 679px; left: 570px;" />

         <input id="I_5703IT" type="text" style="position:absolute;width:34px; top: 716px; left: 178px;" />
         <input id="I_5704IT" type="text" style="position:absolute;width:30px; top: 716px; left: 266px;" />
         <input id="I_5705IT" type="text" style="position:absolute;width:30px; top: 716px; left: 331px;" />
         <input id="I_5706IT" type="text" style="position:absolute;width:30px; top: 716px; left: 390px;" />
         <input id="I_5707IT" type="text" style="position:absolute;width:30px; top: 716px; left: 451px;" />
         <input id="I_5708IT" type="text" style="position:absolute;width:30px; top: 716px; left: 512px;" />
         <input id="I_5709IT" type="text" style="position:absolute;width:30px; top: 716px; left: 571px;" />
         <input id="I_5710IT" type="text" style="position:absolute;width:30px; top: 716px; left: 628px;" />
         <input id="I_5711IT" type="text" style="position:absolute;width:30px; top: 716px; left: 690px;" />
         <input id="I_5712IT" type="text" style="position:absolute;width:30px; top: 716px; left: 751px;" />
         <input id="I_5713IT" type="text" style="position:absolute;width:30px; top: 716px; left: 814px;" />

         <input id="I_A5703aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 176px;" />
         <input id="I_A5704aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 263px;" />
         <input id="I_A5705aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 325px;" />
         <input id="I_A5706aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 387px;" />
         <input id="I_A5707aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 449px;" />
         <input id="I_A5708aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 507px;" />
         <input id="I_A5709aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 569px; " />
         <input id="I_A5710aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 627px;" />
         <input id="I_A5711aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 689px;" />
         <input id="I_A5712aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 749px;" />
         <input id="I_A5713aZ01I" type="text" style="position:absolute;width:30px; top: 761px; left: 811px;" />

         <input id="I_5703aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 176px;" />
         <input id="I_5704aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 263px;" />
         <input id="I_5705aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 325px;" />
         <input id="I_5706aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 387px;" />
         <input id="I_5707aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 449px;" />
         <input id="I_5708aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 507px;" />
         <input id="I_5709aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 569px;" />
         <input id="I_5710aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 627px;" />
         <input id="I_5711aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 689px;" />
         <input id="I_5712aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 749px;" />
         <input id="I_5713aF01" type="text" style="position:absolute;width:48px; top: 794px; left: 811px;" />

         <input id="I_AZZ03" type="text" style="position:absolute;width:48px; top: 246px; left: 883px;" />
         <input id="I_AZZ04" type="text" style="position:absolute;width:48px; top: 345px; left: 829px;" />
         <input id="I_5716T01" type="text" style="position:absolute;width:48px; top: 250px; left: 970px;" />
         <input id="I_5716P01" type="text" style="position:absolute;width:48px; top: 277px; left: 970px;" />
         <input id="I_57163V" type="text" style="position:absolute;width:48px; top: 187px; left: 1045px;" />
         <input id="I_57166V" type="text" style="position:absolute;width:48px; top: 215px; left: 1045px;" />
         <input id="I_57169V" type="text" style="position:absolute;width:48px; top: 243px; left: 1045px;" />
         <input id="I_57163I1" type="text" style="position:absolute;width:48px; top: 187px; left: 1144px;" />
         <input id="I_57166I1" type="text" style="position:absolute;width:48px; top: 215px; left: 1144px;" />
         <input id="I_57169I1" type="text" style="position:absolute;width:48px; top: 243px; left: 1144px;" />

         <input id="I_5716T02" type="text" style="position:absolute;width:48px; top: 260px; left: 1206px;" />
         <input id="I_5716P02" type="text" style="position:absolute;width:48px; top: 289px; left: 1206px;" />
         <input id="I_A5719Z01I" type="text" style="position:absolute;width:48px; top: 332px; left: 1301px;" />
         <input id="I_5720T01" type="text" style="position:absolute;width:48px; top: 387px; left: 1240px;" />
         <input id="I_5720AI" type="text" style="position:absolute;width:48px; top: 435px; left: 1227px;" />
         <input id="I_5702T05" type="text" style="position:absolute;width:48px; top: 441px; left: 812px;" />
         <input id="I_5720T02" type="text" style="position:absolute;width:48px; top: 463px; left: 1292px;" />
         <input id="I_5720MT01" type="text" style="position:absolute;width:48px; top: 490px; left: 1292px;" />
         <input id="I_5720MT02" type="text" style="position:absolute;width:48px; top: 518px; left: 1292px;" />
         <input id="I_5702bIT" type="text" style="position:absolute;width:48px; top: 576px; left: 880px;" />
         <input id="I_5702bT01" type="text" style="position:absolute;width:48px; top: 605px; left: 906px;" />
         <input id="I_5742aAI" type="text" style="position:absolute;width:48px; top: 746px; left: 992px;" />
         <input id="I_5742IT" type="text" style="position:absolute;width:48px; top: 605px; left: 1373px;" />
      


     </div>

